<div>
    <img src="assets/images/subscribe/arrow.png" class="path_arrow">
</div>
<div class="row">
  <div class="col-6 step_row">
    <div class="row col-12 col12_mrg_btm">
        <div class="col-6">
            <img src="assets/images/subscribe/img_1.png" style="margin-left: 50px;" class="step_img">
        </div>
        <div class="col-1"></div>
        <div class="col-5">
          <img src="assets/images/subscribe/01.png" class="number_img">
          <h2 class="step_heading">Subscription</h2>
          <span class="step_desc">
              Lorem Ipsum is simply dummy text of the printing and typesetting 
          </span>
        </div>
    </div>
    <div class="row col-12 col12_mrg_btm">
        
        <div class="col-5">
          <div class="text_right">
              <img src="assets/images/subscribe/02.png" class="number_img">
          </div>
          <h2 class="step_heading text_right">Registration</h2>
          <div class="step_desc text_right">
              Lorem Ipsum is simply dummy text of the printing and typesetting
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-6">
            <img src="assets/images/subscribe/img_2.png" class="step_img" style="width: 162px;margin-left: 20px;">
        </div>
    </div>
    <div class="row col-12">
        <div class="col-6">
            <img src="assets/images/subscribe/img_3.png" class="step_img" style="width: 190px !important;">
        </div>
        <div class="col-1"></div>
        <div class="col-5">
          <img src="assets/images/subscribe/03.png" class="number_img">
          <h2 class="step_heading">Verification</h2>
          <span class="step_desc">
              Lorem Ipsum is simply dummy text of the printing and typesetting
          </span>
        </div>
    </div>
  </div>
  <div class="col-6 bg_grey side2_mrg">
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div>
          <h2 class="side2_heading text_center">Subscribe!</h2>
          <hr class="hr_style">
          <p class="side2_para">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
               Ipsum has been the industry's standard dummy text ever since the 1500s, when
               Lorem Ipsum is simply dummy text of the printing and typesetting industry.
               Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
               Ipsum has been the industry's standard dummy text ever since the 1500s, when
               Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          <div class="text_center">
            <img src="assets/images/subscribe/google_play.png" style="height: 110px;">
          </div>
      </div>
  </div>
      
</div>
