<div>
    <img src="assets/images/subscribe/path_arrow.png" class="step_img">
</div>
<div class="row col-12">
  <div class="col-6 step_row">
    <div class="row col-12">
        <div class="col-6">
            <img src="assets/images/subscribe/img_1.png" class="step_img">
        </div>
        <div class="col-6">
          <img src="assets/images/subscribe/01.png" class="number_img">
          <h2 class="step_heading">Subscription</h2>
          <span>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the
          </span>
        </div>
    </div>
    <div class="row col-12">
        
        <div class="col-6">
          <img src="assets/images/subscribe/01.png" class="number_img">
          <h2 class="step_heading">Subscription</h2>
          <span>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the
          </span>
        </div>
        <div class="col-6">
            <img src="assets/images/subscribe/img_1.png" class="step_img">
        </div>
    </div>
    <div class="row col-12">
        <div class="col-6">
            <img src="assets/images/subscribe/img_1.png" class="step_img">
        </div>
        <div class="col-6">
          <img src="assets/images/subscribe/01.png" class="number_img">
          <h2 class="step_heading">Subscription</h2>
          <span>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the
          </span>
        </div>
    </div>
  </div>
  <div class="col-6">2</div>
</div>
