<div class="row main-wrapper">
    <div class="col-12" id="main">
      <div *ngIf="activeEst" class="row">
  
        <!--Toays Estimate Starts-->
        <div style="padding-right: 13px;" class="col-12 col-md-9 item-form all-invoices inv-generator inv-gen">
          <form  id="estimateGenerator" name="estimateGenerator" class="shadow p-4 back" style="border-radius: 2px;">
            <!-- Buttons -->
            <div class="row">
              <div class="col-md-12">
                <button id="editBtn" type="button" (click)="goEdit(activeEst.unique_identifier)" data-loading-text="Loading <i class='fa fa-spinner fa-spin '></i>"
                  class="btn save_btn btn-raised width25btn pull-right ml-2 width12perbtn" title="Edit">
                  <img src="assets/images/buttons-icon/pencil-edit-button16.png" style="padding: 0px 2px 3px 0px;width: 14px;height: 14px;">
                  Edit
                </button>
                <button id="downloadBtn" type="button" (click)="downloadEstimate('download')" data-loading-text="loading <i class='fa fa-spinner fa-spin '></i>"
                  class="btn btnd btn-custom-1 no-border-radius change_bg pull-right ml-2 width12perbtn" title="Download">
                  <img src="assets/images/buttons-icon/download16.png" style="width: 13px;height: 13px;">
                  Download
                </button>
                <button id="previewBtn" type="button" (click)="downloadEstimate('preview')" data-loading-text="Previewing <i class='fa fa-spinner fa-spin '></i>"
                  class="btn btnd btn-custom-2 no-border-radius pull-right ml-2 width12perbtn" title="Preview">
                  <img src="assets/images/buttons-icon/view16.png">
                  Preview
                </button>
                <button id="previewBtn" type="button" (click)="makeInvoice()" data-loading-text="Previewing <i class='fa fa-spinner fa-spin '></i>"
                  class="btn btnd btn-custom-2 no-border-radius pull-right ml-2 width12perbtn" title="Preview">
                  Make Invoice
                </button>
              </div>
            </div>
  
            <!-- Title -->
            <div class="text-right w-100 px-1">
              <span class="c-name" type="text" id="title" name="title">
                {{settings.mTvEstimate ? settings.mTvEstimate : 'EST_LABEL' | translate}}
              </span>
            </div>
  
            <!-- Estimate Details -->
            <div class="row mb-2">
              <div class="col-12 col-sm-7" id="clientData" name="clientData">
                <div class="row">
                  <div class="col-12" style="width: 88%;">
                    <span type="text" id="billToLabel" class="adr bill-to font-custom-bold">
                      {{settings.mTvBillTo ? settings.mTvBillTo : 'Bill To'}} 
                    </span>
                    <div *ngIf="activeClient" class="font-custom-bold" style="padding-top: 4px;font-size: 23px;">
                      {{activeClient.name}}
                    </div>
                  </div>
                </div>
                <div class="row" id="addressBar" name="addressBar">
                  <div *ngIf="activeClient" class="col-6">
                    <span type="text" id="BillAddress" class="adr bill-to font-custom-bold">
                      Address
                    </span>
                    <div class="address-render">{{activeClient.addressLine1}}</div>
                    <div *ngIf="activeClient?.email">
                      Email: {{activeClient.email}}
                    </div>
                    <div *ngIf="activeClient?.email">
                      Contact No: {{activeClient.number}}
                    </div>
                  </div>
                  <div class="col-6">
                    <span type="text" id="shippingAddress" class="adr bill-to font-custom-bold">
                      {{settings.shipping ? settings.shipping : 'Shipping'}} Address
                    </span>
                    <div class="address-render">{{activeEst.shippingAddress}}</div>
                  </div>
                </div>
              </div>
  
              <div class="col-12 col-sm-5" id="estData" name="estData">
                <div class="row">
                  <div class="offset-md-2 col-md-4 col-sm-6 ">
                    <span class="font-custom-bold text-left w-100">{{settings.mTvEstimate ? settings.mTvEstimate : 'Estimate'}} No</span>
                  </div>
                  <div class="col-sm-6">
                    {{ activeEst.quetationNo }}
                  </div>
                </div>
  
                <div class="row">
                  <div class="offset-md-2 col-md-4 col-sm-6 ">
                    <span class="font-custom-bold text-left w-100">{{settings.mTvEstimate ? settings.mTvEstimate : 'Estimate'}} Date</span>
                  </div>
                  <div class="col-sm-6 color_grey">
                      <div *ngIf="settings.dateDDMMYY == true">
                          {{activeEst.createDate | date: 'dd/MM/yyyy'}}
                      </div>
    
                      <div *ngIf="settings.dateDDMMYY == false">
                          {{activeEst.createDate | date: 'MM/dd/yyyy'}}
                      </div>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Items Table -->
            <div class="row mb-3">
              <div class="col-md-12 lineItemDiv">
                <table width="100%" cellpadding="0" cellspacing="0" class="column table table-striped" style="table-layout: fixed">
                  <!--table head content itemDescription , Qty , Rate ,Amount start -->
                  <thead>
                    <tr class="hd font-custom-bold">
                      <td width="48%">
                        <input type="text" id="itemDescLabel" class="bld w-100" disabled style="margin-left: 12px;text-align:left;" value="{{settings.mTvProducts ? settings.mTvProducts : 'PRO_LABEL' | translate}}">
                      </td>
                      <td width="17%">
                        <input type="text" id="itemQtyLabel" name="quantity" class="bld w-100 text-right" disabled value="{{settings.mTvQty ? settings.mTvQty : 'QTY_LABEL' | translate}}">
                      </td>
                      <td width="17%">
                        <input type="text" id="itemRateLabel" name="rate" class="bld w-100 text-right" disabled value="{{settings.mTvRate ? settings.mTvRate : 'RATE_LABEL' | translate}}">
                      </td>
                      <td *ngIf="activeEst.assignDiscountFlag == 1" width="17%">
                        <input type="text" id="discountLabel" name="rate" class="bld w-100 text-right" value="{{settings.discount ? settings.discount : 'Discount'}} (%)" disabled>
                      </td>
                      <td *ngIf="activeEst.assignTaxFlag == 0" width="17%">
                        <input type="text" id="taxLabel" name="rate" class="bld w-100 text-right" value="{{settings.taxLable ? settings.taxLable : 'Tax'}} (%)" disabled>
                      </td>
                      <td width="18%" class="last_td">
                        <input type="text" id="itemAmtLabel" name="amount" class="bld w-100 text-right" style="text-align:right;"
                          value="{{settings.mTvAmount ? settings.mTvAmount : 'AMT_LABEL' | translate}}" disabled>
                      </td>
                    </tr>
                  </thead>
  
                  <tbody class="lineItems">
                    <tr class="row-item" *ngFor="let item of activeEst.alstQuotProduct; let last = last">
                      <td [class.no-border-last]="last">
                        <div class="text-left product-color" style="margin-left: 12px;border-bottom-width: 1px;border-left-width: 0px;border-right-width: 0px;border-top-width: 0px;">
                          {{item.productName}}
                        </div>
                        <div class="text-left view_desc" >
                          {{item.description}}
                        </div>
                      </td>
                      <td [class.no-border-last]="last" style="vertical-align: initial;">
                        <div class="text-right">
                          {{item.qty | number:'1.'}}
                        </div>
                      </td>
                      <td [class.no-border-last]="last" style="vertical-align: initial;">
                        <div class="text-right">
                          {{item.rate | number:'1.2-2'}}
                        </div>
                      </td>
                      <td *ngIf="activeEst.assignDiscountFlag == 1" [class.no-border-last]="last" style="vertical-align: initial;">
                        <div  class="text-right">
                          {{item.discountAmt | number:'1.2-2'}}<br>
                          <div class="amount_text_div">
                              <span class="item_percent_text">{{item.discountRate | number:'1.2-2'}}</span> 
                              <span class="item_percent_icon">%</span>
                          </div>
                        </div>
                      </td>
                      <td *ngIf="activeEst.assignTaxFlag == 0" [class.no-border-last]="last" style="vertical-align: initial;">
                        <div  class="text-right">
                          {{item.taxAmount | number:'1.2-2'}}<br>
                          <div class="amount_text_div">
                              <span class="item_percent_text">{{item.taxRate | number:'1.2-2'}}</span> 
                              <span class="item_percent_icon">%</span>
                          </div>
                        </div>
                      </td>
                      <td [class.no-border-last]="last" class="last_td" style="vertical-align: initial;">
                        <div class="text-right">
                          {{item.price | number:'1.2-2'}}
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
  
            <!-- Bottom -->
            <div class="row">
              <!-- TnC -->
              <div class="col-6 term-row">
                <div class="col-12 term-cond-label font-custom-bold" style="text-align: left">
                  <span class="bld">
                    {{settings.mTvTermsAndConditions ? settings.mTvTermsAndConditions : 'TERM_LABEL' | translate}}
                  </span>
                </div>
                <div class="col-md-12 px-0 margin-top-8">
                  <ul class="list-unstyled">
                    <li *ngFor="let term of activeEst.alstQuotTermsCondition">
                      <div class="col-md-12 margin-bottom-5px">
                        <span style="word-wrap: break-word">{{term.termsConditionText}}</span><br />
                      </div>
                    </li>
                  </ul>
                  <div *ngIf="!activeEst.alstQuotTermsCondition || activeEst.alstQuotTermsCondition.length < 1">
                    <h4>No terms added</h4>
                  </div>
                </div>
              </div>
  
              <!-- Calculations -->
              <div class="col-6">
                <!-- Total -->
                <div class="row mx-0 term-cond-label cal_label_padding">
                  <div class="col-6 text-left">
                    <span class="font-custom-bold">{{settings.subtotal ? settings.subtotal : 'SUB_TOT_LABEL' |
                      translate}}</span>
                  </div>
                  <div *ngIf="settings" class="col-6 text-right">
                    <span class="font-custom-bold">{{activeEst.grossAmount | CurrencyPipe}}</span>
                  </div>
                </div>
  
                <!-- Discount -->
                <div class="row mx-0" *ngIf="(activeEst.percentageValue > 0 || activeEst.discount > 0)">
                  <div class="col-5 discount-tax-label">
                    <span style="text-align: left;vertical-align: bottom;" class="inline">{{settings.discount ? settings.discount : 'Discount'}}</span>
                    <div *ngIf="activeEst.discountFlag == 0" class="inline font-custom">
                      ({{activeEst.discount | CurrencyPipe}})
                    </div>
                    <div *ngIf="activeEst.discountFlag == 1" class="inline font-custom">({{activeEst.percentageValue}} %)</div>
                  </div>
  
                  <div class="col-7">
                    <div class="text-right">
                      <div *ngIf="activeEst.discountFlag == 0">
                        {{activeEst.discount | number:'1.2-2'}}
                      </div>
                      <div *ngIf="activeEst.discountFlag == 1">
                        {{ activeEst.discount | number:'1.2-2'}}
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- Tax -->
                <div class="row mx-0" *ngIf="activeEst.taxrate > 0">
                  <div class="col-4 discount-tax-label">
                    <div class="inline font-custom" style="text-align: left;vertical-align: bottom;">{{settings.taxLable ? settings.taxLable : 'Tax'}}</div>
                    <div class="inline font-custom">({{activeEst.taxrate | number:'1.1-2'}} %)</div>
                  </div>
                  <div class="col-8 ">
                    <div class="text-right">
                      {{activeEst.taxAmt | number:'1.1-2'}}
                    </div>
                  </div>
                </div>
  
                <!-- Tax List -->
                  <div class="row mx-0" *ngFor="let tax of activeEst.taxList; index as index">
                    <div class="col-4 discount-tax-label">
                      <div *ngIf="tax !== null" class="inline font-custom" style="text-align: left;vertical-align: bottom;">{{tax.taxName}}</div>
                      <div *ngIf="tax" class="inline font-custom">({{activeEst.taxList[index].percentage | number:'1.1-2'}} %)</div>
                    </div>
                    <div *ngIf="tax !== null" class="col-8 ">
                      <div class="text-right">
                        {{activeEst.taxList[index].calculateValue}}
                      </div>
                    </div>
                  </div>
  
                <!-- Shipping Charges -->
                <div class="row mx-0" *ngIf="activeEst.shippingCharges > 0">
                  <div class="col-4 discount-tax-label">
                    <div class="inline" style="text-align: left;vertical-align: bottom;">{{settings.shipping ?
                      settings.shipping : 'Shipping'}}</div>
                  </div>
                  <div class="col-8">
                    <div class="text-right">
                      {{activeEst.shippingCharges | number:'2.'}}
                    </div>
                  </div>
                </div>
  
                <!-- Adjustment -->
                <div class="row mx-0" *ngIf="activeEst.adjustment > 0">
                  <div class="col-4 discount-tax-label">
                    <div class="inline" style="text-align: left; vertical-align: bottom;">
                      {{settings.adjustment ? settings.adjustment : 'Adjustment'}}
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="text-right">
                      {{activeEst.adjustment | number:'2.'}}
                    </div>
                  </div>
                </div>
  
                <!-- Gross Total -->
                <div *ngIf="settings" class="row mx-0 term-cond-label cal_label_padding">
                  <div class="col-6 text-left">
                    <span class="font-custom-bold">{{settings.total ? settings.total : 'TOTAL_LABEL' | translate}}</span>
                  </div>
                  <div class="col-6 text-right">
                    <span class="font-custom-bold price">{{activeEst.amount | CurrencyPipe}}</span>
                  </div>
                </div>
  
                <!-- inclusive tax -->
                <div *ngIf="activeEst.taxableFlag === 1" class="row mx-0 cal_label_padding">
                  <div class="row mx-0 col-12 cal_label_padding">
                      <div class="col-6 text-left">
                          <span class="font-custom-bold">
                              Taxable :
                          </span>
                        </div>
                        <div class="col-6 text-right">
                          <span
                            class="font-custom-bold price">{{(taxable) | CurrencyPipe}}</span>
                        </div>
                  </div>
                  <div *ngFor="let item of activeEst.alstQuotProduct" class="row mx-0 col-12 cal_label_padding">
                      <div *ngIf="item.taxRate" class="col-6 text-left">
                          <span class="font-custom-bold">
                              (+) {{settings.taxLable ? settings.taxLable : 'Tax'}} ({{item.taxRate}}%)
                          </span>
                      </div>
                      <div *ngIf="item.taxAmount"  class="col-6 text-right">
                          <span
                            class="font-custom-bold price">{{item.taxAmount | CurrencyPipe}}</span>
                      </div>
                  </div>
                  <div *ngIf="activeEst.taxrate" class="row mx-0 col-12 cal_label_padding">
                      <div class="col-6 text-left">
                          <span class="font-custom-bold">
                              (+) {{settings.taxLable ? settings.taxLable : 'Tax'}} ({{activeEst.taxrate}}%)
                          </span>
                        </div>
                        <div  class="col-6 text-right">
                          <span
                            class="font-custom-bold price">{{activeEst.taxAmt | CurrencyPipe}}</span>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--Todays Estimate Ends-->
  
        <!-- Previous Estimates Button -->
        <div class="col-12 col-md-3 search_div">
          <div class="row" style="margin: 0 auto;">
  
            <button type="button" style="padding: 14px;" class="col-12 side_btn btn btnd btn-custom-2 no-border-radius"
              (click)="router.navigate(['/estimate/view'])">Search For Invoices
              <img src="assets/images/search_new.png" alt="logo" style="width: 14px;">
            </button>
            </div>
            <div class="row" style="margin: 0 auto;">
                <button type="button" style="margin-top: 5px;margin-bottom: 4px;"
                  class="col-12 btn btnd btn-custom-2 no-border-radius side_btn"
                  (click)="router.navigate(['/estimate/add'])">Add New Estimate
                  <i class="fa fa-plus" style="padding: 12px 0px"></i>
                </button>
              </div>
  
          <!-- recently added Estimate -->
          
          <div class="row" style="margin-top: 14px;">
           
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 back-add-list text-center list-header-col font-custom-bold">
              {{settings.mTvEstimate ? settings.Estimate : 'Estimates'}} Generated Today
            </div>
  
            <div class="col-12 px-0">
             
              <div [ngClass]="{'item': true, 'row': true, 'selected': (estimate.unique_identifier == estimateId)}"
              *ngFor="let estimate of recentEstimateList" class="row" style="padding: 10px 2px 2px 16px;;border-bottom: 1px solid #d2d2d2;padding: 10px 1px 2px 0px;
              border-bottom: 1px solid #d2d2d2;" (click)="setActiveEst(estimate.unique_identifier)">
                <div class="col-2 list-date font-custom-bold fontsize13" style="line-height: 16px;">
                  <span style="font-size: 18px;" [ngClass]="{'color_white': (estimate.unique_identifier == estimateId)}">{{ estimate.createDate  | date: 'dd' }}</span><br />
                  <span style="color: #8c9299;font-size: 10px;" [ngClass]="{'color_white': (estimate.unique_identifier == estimateId)}">{{ estimate.createDate  | date: 'MMM' }}</span>
                </div>
      
                <div class="col-10">
                  <div class="row">
                    <div class="col-12">
                      <h5 *ngIf="clientList" class="font-custom-bold fontsize13" [ngClass]="{'color_white': (estimate.unique_identifier == estimateId)}">{{ getClientName(estimate.unique_key_fk_client) }}</h5>
                    </div>
                    <div class="col-5 font-custom-book fontsize13" [ngClass]="{'color_white': (estimate.unique_identifier == estimateId)}">
                      #{{ estimate.quetationNo }}
                    </div>
                    <div class="col-6 text-right font-custom-bold fontsize12" [ngClass]="{'color_white': (estimate.unique_identifier == estimateId)}">
                      {{ estimate.amount | CurrencyPipe }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
       
        </div>
      </div>
    </div>
  </div>
  
  
  
  <!-- Error MODAL starts -->
  <div id="error-message" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog mod_dialog">
    <div class="modal-content mod_content">
      <div class="modal-header mod_header">
        <img class="center" src="assets/images/connection_lost.png" alt="logo" class="center error_logo">
      </div>
      <div class="modal-body">
        <h3 class="title">Connection Lost !</h3>
        <p class="error_logo error_text">Make sure your wifi or cellular data is turned on and try again
          !!!</p>
      </div>
      <div class="modal-footer mod_footer" style=" padding: 9px 23px 20px 10px !important;">
        <button type="button" class="mod_close_btn btn save_btn btn-raised width25btn center"
          data-dismiss="modal" aria-label="Close">
          OK
        </button>
  
      </div>
    </div>
  </div>
  </div>
  <!-- Error MODAL ends -->