<div class="row main-wrapper">
  <div class="col-12" id="main">
    <div style="margin: 20px auto 0px auto; max-width:1000px;">
      <form class="form-horizontal back shadow" name="userForm" #form="ngForm" style="min-height: 1106px;">
        <div class="custom-field-form">
          <div style="padding-top: 25px;">
            <div align="center">
              <div class="col-12" style="margin-bottom: 10px;">
                <span class="font-custom-bold" style="font-size: 21px;">Custom Field Name</span>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <span style="font-size: 11px;" class="font-weight-bold">
                  Customize field name as they appear on your PDF
                </span>
              </div>

              <div class="col-12" style="margin-bottom: 18px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.mTvInvoice" name="mTvInvoice"
                    class="form-control" placeholder="Invoice" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.mTvEstimate" name="mTvEstimate"
                    class="form-control" placeholder="Estimate" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.mTvProducts" name="mTvProducts"
                    class="form-control" placeholder="Product" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.mTvQty" name="mTvQty"
                    class="form-control" placeholder="Qty" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.mTvRate" name="mTvRate"
                    class="form-control" placeholder="Rate" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.mTvAmount" name="mTvAmount"
                    class="form-control" placeholder="Amount" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.signature" name="signature"
                    class="form-control" placeholder="Signature" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.receiptLable" name="receiptLable"
                    class="form-control" placeholder="Receipt" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.mTvTermsAndConditions" name="mTvTermsAndConditions"
                    class="form-control" placeholder="Terms and Conditions" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.mTvBillTo" name="mTvBillTo"
                    class="form-control" placeholder="Bill To" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.mTvShipTo" name="mTvShipTo"
                    class="form-control" placeholder="Ship To" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.mTvDueDate" name="mTvDueDate"
                    class="form-control" placeholder="Due Date:" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.discount" name="discount"
                    class="form-control" placeholder="Discount" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.baseAmount" name="baseAmount"
                    class="form-control" placeholder="Base Amount" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.subtotal" name="subtotal"
                    class="form-control" placeholder="SubTotal" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.shipping" name="shipping"
                    class="form-control" placeholder="Shipping" onfocus="this.select()" />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.adjustment" name="adjustment"
                    class="form-control" placeholder="Adjustment" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.paid" name="paid"
                    class="form-control" placeholder="Paid" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.balance" name="balance"
                    class="form-control" placeholder="Balance" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.payableTo" name="payableTo"
                    class="form-control" placeholder="Payable To" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.bankingDetails" name="bankingDetails"
                    class="form-control" placeholder="Banking Details" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.otherDetails" name="otherDetails"
                    class="form-control" placeholder="Others Details" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.total" name="total"
                    class="form-control" placeholder="Total" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div class="form-group">
                  <input type="text" [(ngModel)]="activeSetting.productCode" name="productCode"
                    class="form-control" placeholder="Product Code" onfocus="this.select()"
                  />
                </div>
              </div>

              <div class="col-12" style="margin-bottom: 10px;">
                <div style="width: 300px;">
                  <button type="button" (click)="cancel();"
                    class="btn btn-custom-1 btn-raised no-border-radius pull-left width10btn ml-2 font-custom-bold"
                  >
                    CANCEL
                  </button>
                  <button type="submit" id="customSubmit" (click)="save(form.valid)"
                    class="btn save_btn btn-raised width25btn pull-right font-weight-bold ml-2" style="height: 29px !important;padding-top: 4px !important;"
                  >
                    SAVE
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Error MODAL starts -->
<div id="errormessage" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" aria-hidden="true"
data-backdrop="static" data-keyboard="false">
<div class="modal-dialog" style="max-width: 435px;margin-top: 135px;">
  <div class="modal-content" style="border: 0px solid rgba(0,0,0,.2);border-radius: 1px;">
    <div class="modal-header" style="border-bottom: 0px solid #e9ecef;">
        <img class="center" src="assets/images/connection_lost.png" alt="logo">
    </div>
    <div class="modal-body">
      <h3 class="title">Connection Lost !</h3>
      <p style="padding-left:25px;padding-right:25px">Make sure your wifi or cellular data is turned on and try again !!!</p>
    </div>
    <div class="modal-footer" style="border-top: 0px solid #e9ecef;">
      <button type="button" class="btn save_btn btn-raised width25btn center font-weight-bold" 
      data-dismiss="modal" aria-label="Close" style="margin-top: -34px;;opacity: unset;">
        OK
      </button>
     
    </div>
  </div>
</div>
</div>
<!-- Error MODAL ends -->
