
<div class="row main-wrapper">
  <div class="col-12" id="main">
    <div style="margin: 0px auto; max-width:1000px;">
      <div class="row" style="margin-top:74px">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="bottom_mrg">
            <span id="counting_client" style="font-family: quicksand_bold !important;"></span>
            <span class="span_text">Clients Loading</span>
            <div class="light_blue">
              <div id="clients" class="bar_color" style="width:20%">

              </div>
            </div>
          </div>
          <div class="bottom_mrg">
              <span id="counting_product" style="font-family: quicksand_bold !important;"></span>
            <span class="span_text">Products Loading</span>
            <div class="light_blue">
              <div id="products" class="bar_color" style="width:35%"></div>
            </div>
          </div>
          <div class="bottom_mrg">
              <span id="counting_terms" style="font-family: quicksand_bold !important;"></span>
            <span class="span_text">Terms and Conditions Loading</span>
            <div class="light_blue">
              <div id="terms" class="bar_color" style="width:30%"></div>
            </div>
          </div>
          <div class="bottom_mrg">
              <span id="counting_setting" style="font-family: quicksand_bold !important;"></span>
            <span class="span_text">Settings Loading</span>
            <div class="light_blue">
              <div id="settings" class="bar_color" style="width:40%"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>