@import '../../../assets/css/form.css';
@import '../../../styles.css';

/* loading text */
#inTurnFadingTextG{
	width:234px;
	margin:auto;
}

.inTurnFadingTextG{
	color:rgb(0,0,0);
	font-family:Arial;
	font-size:24px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float:left;
	animation-name:bounce_inTurnFadingTextG;
		-o-animation-name:bounce_inTurnFadingTextG;
		-ms-animation-name:bounce_inTurnFadingTextG;
		-webkit-animation-name:bounce_inTurnFadingTextG;
		-moz-animation-name:bounce_inTurnFadingTextG;
	animation-duration:2.09s;
		-o-animation-duration:2.09s;
		-ms-animation-duration:2.09s;
		-webkit-animation-duration:2.09s;
		-moz-animation-duration:2.09s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#inTurnFadingTextG_1{
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}
#inTurnFadingTextG_2{
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}
#inTurnFadingTextG_3{
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}
#inTurnFadingTextG_4{
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}
#inTurnFadingTextG_5{
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}
#inTurnFadingTextG_6{
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}
#inTurnFadingTextG_7{
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}




@keyframes bounce_inTurnFadingTextG{
	0%{
		color:rgb(0,0,0);
	}

	100%{
		color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_inTurnFadingTextG{
	0%{
		color:rgb(0,0,0);
	}

	100%{
		color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_inTurnFadingTextG{
	0%{
		color:rgb(0,0,0);
	}

	100%{
		color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_inTurnFadingTextG{
	0%{
		color:rgb(0,0,0);
	}

	100%{
		color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_inTurnFadingTextG{
	0%{
		color:rgb(0,0,0);
	}

	100%{
		color:rgb(255,255,255);
	}
}

/* 2nd effect */
.progress{
    height: auto;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* margin: -20px 0 0 -50px; */
    display: unset;
    /* height: 1rem; */
    overflow: hidden;
    font-size: 20px;
    background-color: white;
    border-radius: .25rem;
  }
  .progress span{
    transition: all 500ms ease;
    background: #4A72DA;
    box-shadow: 1px 2px 3px #999;
    height: 10px;
    width: 10px;  
    display: inline-block;
    border-radius: 10px;
    animation: wave 2s ease  infinite;
    margin-left: 2px;
  }  
  .loading_div{
    padding: 73px 14px 16px 56px;
    line-height: 42px;
  }
  
  .progress span:nth-child(1){  animation-delay: 0; }
  .progress span:nth-child(2){  animation-delay: 100ms; }
  .progress span:nth-child(3){  animation-delay: 200ms; }
  .progress span:nth-child(4){  animation-delay: 300ms; }
  .progress span:nth-child(5){  animation-delay: 400ms; }
  .progress span:nth-child(6){  animation-delay: 500ms; }
  .progress span:nth-child(7){  animation-delay: 600ms; }
  .progress span:nth-child(8){  animation-delay: 700ms; }
  
  @keyframes wave{
    0%, 40%, 100% { 
      transform: translate(0, 0);
      background-color: #4A72DA;    
    }
    10% { 
      transform: translate(0, -15px); 
      background-color: red;    
    }  
	}
	.progress {
		margin: 10px;
		width: 700px;
		font-size: 15px;
		border-radius: 10px;
		padding: 2px;
		background-color: #ededed !important;
	}
	.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #2d8ef5;
    transition: width .6s ease;
    /* border-radius: 10px !important; */
    /* padding: 2px !important; */
}
.progress-bar-striped {
	background-image: none !important;
	background-size: 1rem 1rem;
}
#client_records{
	background-color: red !important
}
.light_blue {
	color: #605e5e!important;
	background-color: #c6e8ff !important;
	border-radius: 23px;
}
.bar_color{
	background-color: #0299ff !important;
	margin-top: 2px;
	border-radius: 23px;
	height: 6px;
}
.span_text{
	float: right;
	font-size: 11px;
	margin-top: 16px;
	font-family: quicksand_regular;
	color: #605e5e;
	letter-spacing: 0.5px;
}
.bottom_mrg{
	margin-bottom: 44px;
}
/* loading dots  */

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}
