
<div class="row main-wrapper">
  <div class="col-12" id="main">
    <div style="margin: 0px auto; max-width:1000px;">
      <div class="row" style="margin-top:74px">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="bottom_mrg">
            <span id="counting_client" style="font-family: quicksand_bold !important;"></span>
            <span [ngClass]="{loading: clientsCompleted == false}" style="font-size: 20px">Clients Loading</span>
            <input type="checkbox" [checked]="clientsCompleted == true"/>
          </div>
          <div class="bottom_mrg">
              <span id="counting_product" style="font-family: quicksand_bold !important;"></span>
              <span [ngClass]="{loading: productsCompleted == false}" style="font-size: 20px">Products Loading</span>
              <input type="checkbox" [checked]="productsCompleted == true"/>
          </div>
          <div class="bottom_mrg">
              <span id="counting_terms" style="font-family: quicksand_bold !important;"></span>
              <span [ngClass]="{loading: termsCompleted == false}" style="font-size: 20px">Terms And Conditions Loading</span>
              <input type="checkbox" [checked]="termsCompleted == true"/>
          </div>
          <div class="bottom_mrg">
              <span id="counting_setting" style="font-family: quicksand_bold !important;"></span>
              <span [ngClass]="{loading: settingsCompleted == false}" style="font-size: 20px">Settings Loading</span>
              <input type="checkbox" [checked]="settingsCompleted == true"/>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>