<div class="dashboard-container">
  <div class="row">
    <div class="col-12" id="main" style="justify-content: center;height: 600px;">
      <div class="row dashboard-top">
        <div class="col-6 col-sm-3 px-0 option-card">
          <a (click)="navigate('/client');">
            <div class="dashboard-box text-center">
              <div class="dashboard-icon ">
                <img src="../assets/images/client_dash.png" class="img-responsive">
              </div>
              <span class="font-custom-bold" style="text-transform: uppercase;">{{'DASH_CLIENT' | translate}}</span>
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-3 ml-0 px-0 option-card">
          <a (click)="navigate('/product');">
            <div class="dashboard-box text-center">
              <div class="dashboard-icon">
                <img src="../assets/images/product_dash.png" class="img-responsive">
              </div>
              <span class="font-custom-bold" style="text-transform: uppercase;">{{'DASH_PRODUCT' | translate}}</span>
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-3 px-0 option-card">
          <a (click)="navigate('/invoice/add');">
            <div class="dashboard-box text-center">
              <div class="dashboard-icon">
                <img src="../assets/images/invoice_dash.png" class="img-responsive">
              </div>
              <span class="font-custom-bold " style="text-transform: uppercase;">{{'DASH_INVOICE' | translate}}</span>
            </div>
          </a>
        </div>
  
        <div class="col-6 col-sm-3 ml-0 px-0 option-card">
          <a (click)="navigate('/estimate/add');">
            <div class="dashboard-box text-center">
              <div class="dashboard-icon">
                <img src="../assets/images/estimate_dash.png" class="img-responsive">
              </div>
              <span class="font-custom-bold" style="text-transform: uppercase;">{{'DASH_ESTIMATE' | translate}}</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Error MODAL starts -->
<div id="errormessage" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" aria-hidden="true"
data-backdrop="static" data-keyboard="false">
<div class="modal-dialog" style="max-width: 435px;margin-top: 135px;">
  <div class="modal-content" style="border: 0px solid rgba(0,0,0,.2);border-radius: 1px;">
    <div class="modal-header" style="border-bottom: 0px solid #e9ecef;">
        <img class="center" src="assets/images/connection_lost.png" alt="logo">
    </div>
    <div class="modal-body">
      <h3 class="title">Connection Lost !</h3>
      <p style="padding-left:25px;padding-right:25px">Make sure your wifi or cellular data is turned on and try again !!!</p>
    </div>
    <div class="modal-footer" style="border-top: 0px solid #e9ecef;">
      <button type="button" class="save btn save_btn btn-raised width25btn center font-weight-bold" 
      data-dismiss="modal" aria-label="Close" style="margin-top: -34px;;opacity: unset;">
        OK
      </button>
     
    </div>
  </div>
</div>
</div>
<!-- Error MODAL ends -->