<!-- Header -->
<ngx-loading-bar *ngIf="router.url !=='/login'" [includeSpinner]="false"></ngx-loading-bar>
<div class="header-container">
  <app-header [instance]="self" ></app-header>
</div>

<!-- Body -->
<div class="wrapper">
  <nav id="sidebar active">
    <app-sidebar></app-sidebar>
  </nav>
  <!-- notification popup-->
  <toaster-container ></toaster-container>
  <!-- //notification popup-->

  <div id="content" class="container-fluid app-container active">
    <router-outlet></router-outlet>
  </div>
</div>