.header {
  border-bottom: 2px solid #e3e3e3;
  background-color: #f9f9f9;
  height: 56px;
  /* padding-top: 10px;
  padding-bottom: 12px; */
}
.sidebar-switch-icon {
  margin-left: 16px;
  padding: 10px 15px 0px 10px;
  border-radius: 4px;
}
.sidebar-switch-icon:hover {
  background-color: #dddddd;
  cursor: pointer;
}
.user-logout {
  padding-top: 2%;
  padding-bottom: 2%;
}
.welcome-user {
  padding: 0;
  text-align: right;
}
.user-logout h6 {
  font-size: 16px;
  font-weight: 200;
}
.user-logout h6 span {
  font-family: quicksand_bold;
}
.menu_list{
  font-size: 14px;
  padding: 11px 0px 0px 8px;
  font-weight: bold;
}
.span_text{
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 800;
  font-family: quicksand_bold !important;
}
.nav_img{
  height: 26px;
  padding-right: 2px;
}
/*navigation underline*/
/* .navHover:link {
  text-decoration: none;
}

.navHover:visited {
  text-decoration: none;
}

.navHover:hover {
  text-decoration: underline;
}

.navHover:active {
  text-decoration: underline;
} */
/* button:hover, button:focus, button:active, button:visited, .active { 
    text-decoration: underline;
    color:#000;
} */
.navbtn {
  border: none;
  outline: none;
  /* background-color: #f1f1f1; */
  background-color: #f9f9f9 !important;
  cursor: pointer;
  font-size: 18px;
  padding: 0px 8px 8px 0px;
}

/* Style the active class, and buttons on mouse-over */
.active, .navbtn:hover {
  color: #0292f3;
  /* border-bottom: 3px solid #0298fe; */
}
.active{
  padding: 0px 8px 16px 0px;
  border-bottom: 3px solid #0298fe;
}