<div class="header row mx-0">
  <div class="col-8">
    <div class="row">
      <div class="col-1">
        <img src="assets/images/sim_logo.png" (click)="toggleSideNavBar()" class="menu_img" alt="icon"
          >
      </div>
      <div id="navbar" class="row">
        <div class="d-sm-flex">
          <h5 class="menu_list"><button [class.active]="router.url==='/invoice/add'" [routerLink]="['/invoice/add']" class="navbtn active">
              <span class="span_text"><img src="assets/images/invoice_n.png" class="nav_img" alt="logo" /> Invoices</span>
            </button>
          </h5>
        </div>
        <div class="d-sm-flex">
          <h5 class="menu_list"><button [class.active]="router.url==='/estimate/add'" [routerLink]="['/estimate/add']" class="navbtn">
              <span class="span_text"><img src="assets/images/estimet_n.png" class="nav_img" alt="logo" />Estimates</span>
            </button>
          </h5>
        </div>
        <div class="d-sm-flex">
          <h5 class="menu_list"><button [class.active]="router.url==='/product'" [routerLink]="['/product']"class="navbtn">
              <span class="span_text"><img src="assets/images/product_n.png" class="nav_img" alt="logo" />Products</span>
            </button>
          </h5>
        </div>
        <div class="d-sm-flex">
          <h5 class="menu_list"><button [class.active]="router.url==='/setting/primary'" [routerLink]="['/setting/primary']" class="navbtn">
              <span class="span_text"><img class="nav_img" src="assets/images/setting_n.png" alt="logo" />Settings</span>
            </button>
          </h5>
        </div>
      </div>
    </div>
   
</div>
  <div class="col-4">
    <div id="userLogout" class="row py-3" style="float: right;">
      <!-- <div class="col-10 col-sm-11 welcome-user d-none d-sm-block">
        Welcome, <span style="font-family: quicksand_bold;">{{email}}</span>
      </div> -->
      <div class="col-2 col-sm-1 offset-10 offset-sm-0 pl-0 text-right float-right">
        <a (click)="logout()" Title="Logout">
          <img src="assets/images/logout.png" alt="icon" style="width: auto; height: 15px">
        </a>
      </div>
    </div>
  </div>
</div>