<div class="header row mx-0">
  <div class="col-8">
    <div class="row" id="navbar">
      <div class="col-1 hvr_img">
        <!-- <img src="assets/images/sim_logo.png" class="menu_img" alt="icon"
          > -->
          <!-- <img src="assets/images/menu32.png" alt="icon" style="width: 28px; height: 28px"> -->
          <div class="menu_bar" [ngClass]="{'make_bg_blue': showVar}" (click)="toggleSideNavBar()">
            <div [ngClass]="{'img_hover menu_hover_div':!showVar}">
              <img src="{{ showVar ? 'assets/images/menu-logo/cross_white.png' : 'assets/images/menu-logo/menu_black.png'}}"
                class="nav_img" alt="logo" />
            </div>
            <!-- <img *ngIf="openSidebar == false" src="assets/images/menu-logo/menu_white.png" class="nav_img" alt="logo" /> -->
          </div>

          <!-- <div class="overlay" (click)="toggleSideNavBar()">
            </div> -->
      </div>
      <div  class="row">
        <div class="d-sm-flex">
          <h5 class="menu_list">
            <button (mouseover)="onInvHover()" (mouseleave)="offInvHover()" [class.active]="router.url==='/invoice/add' || router.url==='/invoice/view' " [routerLink]="['/invoice/add']" class="navbtn active">
              <span class="span_text"><img src="{{invSrc}}" class="nav_img" alt="logo" /> <span>Invoices</span></span>
            </button>
          </h5>
        </div>
        <div class="d-sm-flex"  >
          <h5 class="menu_list">
            <button (mouseover)="onEstHover()" (mouseleave)="offEstHover()" [class.active]="router.url==='/estimate/add' || router.url==='/estimate/view'" [routerLink]="['/estimate/add']" class="navbtn">
              <span class="span_text">
                <img src="{{estSrc}}" class="nav_img" alt="" /><span class="header_menu_text">Estimates</span></span>
            </button>
          </h5>
        </div>
        <div class="d-sm-flex">
            <h5 class="menu_list">
              <button (mouseover)="onClientHover()" (mouseleave)="offClientHover()" [class.active]="router.url==='/client'" [routerLink]="['/client']"class="navbtn">
                <span class="span_text"><img src="{{clientSrc}}" class="nav_img" alt="logo" /><span class="header_menu_text">Clients</span></span>
              </button>
            </h5>
          </div>
        <div class="d-sm-flex">
          <h5 class="menu_list">
            <button  (mouseover)="onProductHover()" (mouseleave)="offProductHover()" [class.active]="router.url==='/product'" [routerLink]="['/product']"class="navbtn">
              <span class="span_text"><img src="{{productSrc}}" class="nav_img" alt="logo" /><span class="header_menu_text">Products</span></span>
            </button>
          </h5>
        </div>
        <div class="d-sm-flex">
          <h5 class="menu_list">
            <button (mouseover)="onSettingHover()" (mouseleave)="offSettingHover()" [class.active]="router.url==='/setting/primary'" [routerLink]="['/setting/primary']" class="navbtn">
              <span class="span_text"><img class="nav_img" src="{{settingSrc}}" alt="logo" /><span class="header_menu_text">Settings</span></span>
            </button>
          </h5>
        </div>
        <div class="d-sm-flex">
            <h5 class="menu_list">
              <button (mouseover)="onBatchHover()" (mouseleave)="offBatchHover()" [class.active]="router.url==='/setting/batchUpload'" [routerLink]="['/setting/batchUpload']" class="navbtn">
                <span class="span_text"><img class="nav_img" src="{{BatchSrc}}" alt="logo" /><span class="header_menu_text">Batch Upload</span></span>
              </button>
            </h5>
          </div>
      </div>
    </div>
   
</div>
  <div class="col-4">
    <div id="userLogout" class="row py-3" style="float: right;">
      <!-- <div class="col-10 col-sm-11 welcome-user d-none d-sm-block">
        Welcome, <span style="font-family: quicksand_bold;">{{email}}</span>
      </div> -->
      <div class="col-2 col-sm-1 offset-10 offset-sm-0 pl-0 text-right float-right">
        
        <div style="cursor: pointer;" class="dropdown-toggle custom-dropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
         <a>
            <img src="assets/images/black-male-user-symbol.png" alt="icon" style="width: auto; height: 26px">
          </a>
        </div>
        <ul class="dropdown-menu dropdown-menu-right" style="top: -6px !important;
        left: 46px!important">
          <li (click)="toggle('/setting/userProfile')" class="mat-option ng-star-inserted">
            <a >Profile</a>
          </li>
          <li (click)="toggle('/setting/password')" class="mat-option ng-star-inserted">
            <a >Change Password</a>
          </li>
          <li (click)="logout()" class="mat-option ng-star-inserted">
            <a >Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>