.header {
  border-bottom: 2px solid #e3e3e3;
  background-color: #f9f9f9;
  height: 56px;
  /* padding-top: 10px;
  padding-bottom: 12px; */
}
.sidebar-switch-icon {
  margin-left: 16px;
  padding: 10px 15px 0px 10px;
  border-radius: 4px;
}
.sidebar-switch-icon:hover {
  background-color: #dddddd;
  cursor: pointer;
}
.user-logout {
  padding-top: 2%;
  padding-bottom: 2%;
}
.welcome-user {
  padding: 0;
  text-align: right;
}
.user-logout h6 {
  font-size: 16px;
  font-weight: 200;
}
.user-logout h6 span {
  font-family: quicksand_bold;
}
.menu_list{
  font-size: 14px;
  padding: 1px 0px 1px 2px;
  font-weight: bold;
}
.span_text{
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 800;
  padding: 4px;
  font-family: quicksand_bold !important;
}
.nav_img{
  height: 22px;
  padding-right: 2px;
}

.navbtn {
  border: none;
  outline: none;
  background-color: #f9f9f9;
  cursor: pointer;
  font-size: 18px;
  padding: 18px 7px 13px 5px;
}
.menu_list :hover{
  background-color: #d0e4f7;
  /* border-radius: 20px; */
}

/* Style the active class, and buttons on mouse-over */
.active, .navbtn:hover {
  color: #0292f3;
}
.active{
  /* padding: 0px 8px 16px 0px; */
  border-bottom: 3px solid #0298fe;
}
.menu_img{
  margin-left: -15px;
  width: auto; 
  height: 50px;
  cursor: pointer;
}

.hvr_img {
  position: relative;
  width: 50%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  position: absolute;
  height: 54px;
  width: 50px;
  opacity: 0;
  transition: .5s ease;
  background-color: #0292f3;
}

.hvr_img:hover .overlay {
  opacity: 0.25;
}