<div class="header row mx-0">
  <div class="col-8">
    <div class="row">
      <div class="col-1">
        <img src="assets/images/sim_logo.png" (click)="toggleSideNavBar()" alt="icon"
          style="margin-left: -15px;;width: auto; height: 53px">
      </div>
      <div id="navbar" class="row">
        <div class="d-sm-flex">
          <h5 class="menu_list"><a (click)="router.navigate(['invoice/add'])"><span class="span_text"><img src="assets/images/invoice_n.png" class="nav_img"
                  alt="logo" /> Invoices</span></a></h5>
        </div>
        <div class="d-sm-flex">
          <h5 class="menu_list"><a (click)="router.navigate(['estimate/add'])"><span class="span_text"><img src="assets/images/estimet_n.png" class="nav_img"
                  alt="logo" />Estimates</span> </a></h5>
        </div>
        <div class="d-sm-flex">
          <h5 class="menu_list"><a (click)="router.navigate(['/product'])"><span class="span_text"><img src="assets/images/product_n.png" class="nav_img"
                  alt="logo" />Products</span> </a></h5>
        </div>
        <div class="d-sm-flex">
          <h5 class="menu_list"><a (click)="router.navigate(['/setting/primary'])"><span class="span_text"><img class="nav_img"
                  src="assets/images/setting_n.png" alt="logo"  />Settings</span ></a></h5>
        </div>
      </div>
    </div>
   
</div>
  <div class="col-4">
    <div id="userLogout" class="row py-3">
      <div class="col-10 col-sm-11 welcome-user d-none d-sm-block">
        Welcome, <span style="font-family: quicksand_bold;">{{email}}</span>
      </div>
      <div class="col-2 col-sm-1 offset-10 offset-sm-0 pl-0 text-right float-right">
        <a (click)="logout()" Title="Logout">
          <img src="assets/images/logout.png" alt="icon" style="width: auto; height: 15px">
        </a>
      </div>
    </div>
  </div>
</div>