<div class="row main-wrapper">
  <div class="col-12" id="main">
    <div style="margin: 0px auto; max-width:1000px;">
      <form class="shadow form-horizontal back" name="userForm"
        style="min-height: 390px;"
      >
        <div align="center" class="forget-pass-form ">
          <div style="padding-top: 20px">
            <div class="col-12" style="margin-bottom: 20px;">
                <img src="/assets/images/help.png"
                  style="height: 60px;width: 59px" alt="logo"
                >
            </div>
            <div class="col-12" style="margin-bottom: 10px;">
              <div class="font-custom-bold">
                <h4 style="font-size: 21px;">Change your Password ?</h4>
              </div>
            </div>
            <div class="col-12" style="margin-bottom: 10px;">
              <div class="form-group">
                <input type="password" id="CurrPass" name="CurrPass" class="form-control"
                  [(ngModel)]="currentPass" placeholder="Old Password" onfocus="this.select()"
                />
              </div>
            </div>

            <div class="col-12" style="margin-bottom: 10px;">
              <div class="form-group">
                <input type="password" id="NewPass" name="NewPass"  class="form-control"
                  [(ngModel)]="newPass" placeholder="New Password" onfocus="this.select()"
                />
              </div>
            </div>

            <div class="col-12" style="margin-bottom: 10px;">
              <div class="form-group">
                <input type="password" id="NewPassRepeat" name="NewPassRepeat" class="form-control"
                  [(ngModel)]="confirmPass" placeholder="Confirm Password" onfocus="this.select()"
                />
              </div>
            </div>

            <div class="col-12" style="margin-bottom: 40px;">
              <div style="width: 300px;">
                <button id="bsave" name="bsave" (click)="changePassword();"
                class="save_btn btn-raised font-weight-bold ml-2 font-custom-bold"
                  style="border: none !important;padding: 10px 10px;width: 100%;margin-left: 0px !important;"
                >
                  SAVE
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>