<div class="row main-wrapper">
  <div class="col-12" id="main">
    <div style="margin: 0px auto; max-width:1000px;">
      <form class="shadow form-horizontal back" name="userForm"
        style="min-height: 390px;"
      >
        <div align="center" class="forget-pass-form ">
          <div style="padding-top: 20px">
            <div class="col-12" style="margin-bottom: 20px;">
                <img src="/assets/images/help.png"
                  style="height: 60px;width: 59px" alt="logo"
                >
            </div>
            <div class="col-12" style="margin-bottom: 10px;">
              <div class="font-custom-bold">
                <h4 style="font-size: 21px;">Change your Password ?</h4>
              </div>
            </div>
            <div class="col-12" style="margin-bottom: 10px;">
              <div class="form-group">
                <input type="password" id="CurrPass" name="CurrPass" class="form-control"
                  [(ngModel)]="currentPass" placeholder="Old Password" onfocus="this.select()"
                />
              </div>
            </div>

            <div class="col-12" style="margin-bottom: 10px;">
              <div class="form-group">
                <input type="password" id="NewPass" name="NewPass"  class="form-control"
                  [(ngModel)]="newPass" placeholder="New Password" onfocus="this.select()"
                />
              </div>
            </div>

            <div class="col-12" style="margin-bottom: 10px;">
              <div class="form-group">
                <input type="password" id="NewPassRepeat" name="NewPassRepeat" class="form-control"
                  [(ngModel)]="confirmPass" placeholder="Confirm Password" onfocus="this.select()"
                />
              </div>
            </div>

            <div class="col-12" style="margin-bottom: 40px;">
              <div style="width: 300px;">
                <button id="bsave" name="bsave" (click)="changePassword();"
                class="save_btn btn-raised font-weight-bold ml-2 font-custom-bold"
                  style="border: none !important;padding: 10px 10px;width: 100%;margin-left: 0px !important;"
                >
                  SAVE
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Error MODAL starts -->
<div id="errormessage" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" aria-hidden="true"
data-backdrop="static" data-keyboard="false">
<div class="modal-dialog" style="max-width: 435px;margin-top: 135px;">
  <div class="modal-content" style="border: 0px solid rgba(0,0,0,.2);border-radius: 1px;">
    <div class="modal-header" style="border-bottom: 0px solid #e9ecef;">
      <img class="center" src="assets/images/connection_lost.png" alt="logo" class="center error_logo">
    </div>
    <div class="modal-body">
      <h3 class="title">Connection Lost !</h3>
      <p class="erroe_para">Make sure your wifi or cellular data is turned on and try again
        !!!</p>
    </div>
    <div class="modal-footer" style="border-top: 0px solid #e9ecef;">
      <button type="button" class="btn save_btn btn-raised width25btn center font-weight-bold"
        data-dismiss="modal" aria-label="Close" style="margin-top: -34px;;opacity: unset;">
        OK
      </button>

    </div>
  </div>
</div>
</div>
<!-- Error MODAL ends -->