<div class="row main-wrapper">
  <div class="col-12" id="main" style="padding-top: 3px !important;">
    <div *ngIf="activeInv" class="row">
      
      <!--Toays Invoice Starts-->
      <div class="col-12 col-md-9 item-form all-invoices inv-generator inv-gen">
        <form  id="invoiceGenerator" name="invoiceGenerator" class="p-4 back shadow" 
          style="margin-top: 12px;border-radius: 2px;">
          <!-- Buttons -->
          <div class="row">
            <div class="col-12">
              <button id="editBtn" type="button" (click)="goEdit(activeInv.unique_identifier)"
                data-loading-text="Loading <i class='fa fa-spinner fa-spin '></i>"
                class="btn save_btn btn-raised width25btn pull-right ml-2 width12perbtn" title="Edit">
                <img src="assets/images/buttons-icon/pencil-edit-button16.png"
                  style="padding: 0px 2px 3px 0px;width: 14px;height: 14px;">
                Edit
              </button>
              <button id="downloadBtn" type="button" (click)="downloadInvoice('download')"
                data-loading-text="loading <i class='fa fa-spinner fa-spin '></i>"
                class="change_bg btn-custom-1 no-border-radius pull-right ml-2 width12perbtn" title="Download">
                <img src="assets/images/buttons-icon/download16.png" style="width: 13px;height: 13px;">
                Download
              </button>
              <button id="previewBtn" type="button" (click)="downloadInvoice('preview')"
                data-loading-text="Previewing <i class='fa fa-spinner fa-spin '></i>"
                class="btn btnd btn-custom-2 no-border-radius pull-right ml-2 width12perbtn"
                title="Preview">
                <img src="assets/images/buttons-icon/view16.png">
                Preview
              </button>
            </div>
          </div>

          <!-- Title -->
          <div class="text-right px-1 same_mrg_20">
            <span class="c-name" type="text" id="title" name="title" *ngIf="settings.mTvInvoice">
              {{settings.mTvInvoice ? settings.mTvInvoice : 'Invoice'}}
            </span>
            <span class="c-name" type="text" id="titleelse" name="title" *ngIf="!settings.mTvInvoice">
              {{'INV_LABEL' | translate}}
            </span>
          </div>

          <!-- Invoice Details -->
          <div class="row mb-2">
            <div class="col-12 col-sm-7" id="clientData" name="clientData">
              <div class="row">
                <div class="col-12" style="width: 88%;">
                  <span type="text" id="billToLabel" class="adr bill-to font-custom-bold">
                    {{settings.mTvBillTo ? settings.mTvBillTo : 'Bill To'}}
                  </span>
                  <div *ngIf="activeClient" class="font-custom-bold client_name">
                    {{activeClient.name}}
                  </div>
                </div>

                <div class="col-12">
                  <div class="row" id="addressBar" name="addressBar">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <span type="text" id="BillAddress" class="adr bill-to font-custom-bold">
                        Address
                      </span>
                      <div *ngIf="activeClient" class="address-render color_grey">{{activeClient.addressLine1}}</div>
                      <div *ngIf="activeClient" class="color_grey">
                        <!--activeClient.email-->
                        Email: {{activeClient.email}}
                      </div>
                      <div *ngIf="activeClient" class="color_grey">
                        <!--activeClient.number-->
                        Contact No: {{activeClient.number}}
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <span type="text" id="shippingAddress" class="adr bill-to font-custom-bold">
                        Shipping Address
                      </span>
                      <div class="address-render color_grey">{{activeInv.shipping_address}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-5" id="invData" name="invData">
              <div class="row">
                <div class="offset-md-2 col-md-4 col-sm-6 ">
                  <span
                    class="font-custom-bold text-left w-100">{{settings.mTvInvoice ? settings.mTvInvoice : 'Invoice'}}
                  </span>
                </div>
                <div class="col-sm-6 color_grey">
                  {{ activeInv.invoice_number  }}
                </div>
              </div>

              <div class="row">
                <div class="offset-md-2 col-md-4 col-sm-6 ">
                  <span
                    class="font-custom-bold text-left w-100">{{settings.mTvInvoice ? settings.mTvInvoice : 'Invoice'}}
                    Date</span>
                </div>
                <div class="col-sm-6 color_grey">
                  {{activeInv.created_date}}
                </div>
              </div>

              <div class="row">
                <div class="offset-md-2 col-sm-6 col-md-4">
                  <span class="font-custom-bold text-left w-100">Reference</span>
                </div>
                <div class="col-sm-6 color_grey">
                  <span style="word-wrap: break-word"> {{activeInv.reference}}</span>
                </div>
              </div>

              <div class="row">
                <div class="offset-md-2 col-xs-6 col-md-4">
                  <span
                    class="font-custom-bold text-left w-100">{{settings.mTvDueDate ? settings.mTvDueDate : 'Due Date'}}</span>
                </div>
                <div class="col-sm-6 color_grey">
                  {{activeInv.due_date}}
                </div>
              </div>
            </div>
          </div>

          <!-- Items Table -->
          <div class="row mb-3">
            <div class="col-md-12 lineItemDiv">
              <table table  width="100%" cellpadding="0" cellspacing="0" class="column table table-striped" style="table-layout: fixed">
                <thead>
                  <tr class="hd font-custom-bold">
                    <td width="20%">
                      <input type="text" id="itemDescLabel" class="bld w-100 text-left" disabled style="margin-left: 10px;"
                        value="{{settings.mTvProducts ? settings.mTvProducts : 'PRO_LABEL' | translate}}"
                      >
                    </td>
                    <td width="10%">
                      <input type="text" id="itemQtyLabel" name="quantity" class="bld w-100 text_right" disabled
                        value="{{settings.mTvQty ? settings.mTvQty : 'QTY_LABEL' | translate}}"
                      >
                    </td>
                    <td width="10%">
                      <input type="text" id="itemRateLabel" name="rate" class="bld w-100 text_right" disabled
                        value="{{settings.mTvRate ? settings.mTvRate : 'RATE_LABEL' | translate}}"
                      >
                    </td>
                    <td *ngIf="activeInv.discount_on_item == 1" width="10%" >
                        <input type="text" id="discountLabel" name="rate" class="bld w-100 text_right" value="{{settings.discount ? settings.discount : 'Discount'}} (%)"
                          disabled
                        >
                      </td>
                    <td *ngIf="activeInv.tax_on_item == 0 " width="10%" >
                      <input type="text" id="taxLabel" class="bld w-100 text_right" name="rate" value="Tax (%)" disabled>
                    </td>
                    <td width="10%" class="last_td">
                      <input type="text" id="itemAmtLabel" name="amount" class="bld w-100 text_right"
                        style="text-align:right;" disabled
                        value="{{settings.mTvAmount ? settings.mTvAmount : 'AMT_LABEL' | translate}}">
                    </td>
                  </tr>
                </thead>

                <tbody class="lineItems">
                  <tr class="row-item" *ngFor="let item of activeInv.listItems; let last = last">
                    <td [class.no-border-last]="last">
                      <div class="">
                        <div class="form-group">
                          <div class="text-left product-color" style="border-bottom-width: 1px;border-left-width: 0px;border-right-width: 0px;border-top-width: 0px;margin-left: 10px;">
                            {{item.productName}}
                          </div>
                          <div class="text-left text-truncate view_desc" >
                            {{item.description}}
                          </div>
                        </div>
                      </div>
                    </td>

                    <td [class.no-border-last]="last" style="vertical-align: initial;">
                      <div class="text_right">
                        {{item.qty | number:'1.'}}
                      </div>
                    </td>
                    <td [class.no-border-last]="last" style="vertical-align: initial;">
                      <div class="text_right">
                        {{item.rate | number:'1.2-2'}}
                      </div>
                    </td>
                    <td *ngIf="activeInv.discount_on_item == 1"  [class.no-border-last]="last" style="vertical-align: initial;"> <!--activeInv.discount_on_item == 1-->
                      <div class="text_right">
                        {{item.discount_amount | number:'1.2-2'}}<br>
                        <div class="amount_text_div">
                          <span class="item_percent_text">{{item.discountRate | number:'1.2-2'}}</span> 
                          <span class="item_percent_icon">%</span>
                        </div>
                      </div>
                    </td>
                    <td *ngIf="activeInv.tax_on_item == 0" [class.no-border-last]="last" style="vertical-align: initial;"> <!--activeInv.tax_on_item == 0-->
                      <div class="text_right">
                        {{item.tax_amount | number:'1.2-2'}}<br>
                        <div class="amount_text_div">
                          <span class="item_percent_text">{{item.tax_rate | number:'1.2-2'}}</span> 
                          <span class="item_percent_icon">%</span>
                        </div>
                      </div>
                    </td>
                    <td [class.no-border-last]="last" class="last_td" style="vertical-align: initial;">
                      <div class="text_right">
                        {{item.price | number:'1.2-2'}}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Bottom  -->
          <div class="row">
            <!-- Terms And Conditions -->
            <div class="col-6 term-row">
              <div class="col-12 term-cond-label font-custom-bold" style="text-align: left">
                <span class="bld">
                  {{settings.mTvTermsAndConditions ? settings.mTvTermsAndConditions : 'TERM_LABEL' | translate}}
                </span>
              </div>
              <div class="col-md-12 px-0 margin-top-8" style="margin-top: 10px;">
                <ul class=" col-sm-12 list-unstyled">
                  <li class="row" *ngFor="let term of activeInv.termsAndConditions">
                    <div class="col-md-12 margin-bottom-5px">
                      <span *ngIf="term.terms" style="word-wrap: break-word;color: #a4a4a4;">{{term.terms}}</span>
                      <span *ngIf="!term.terms" style="word-wrap: break-word;color: #a4a4a4;">{{term.terms_condition}}</span>
                      <br /></div>
                  </li>
                </ul>
                <div class="col-md-12" *ngIf="activeInv.termsAndConditions?.length < 1">
                  <h4>No terms added</h4>
                </div>
              </div>
            </div>

            <!-- Calculations -->
            <div class="col-6">
              <!-- Total -->
              <div class="row mx-0 term-cond-label" style="padding: 6.5px 0px;margin-bottom:6px">
                <div class="col-6 text-left">
                  <span
                    class="font-custom-bold">{{settings.subtotal ? settings.subtotal : 'SUB_TOT_LABEL' | translate}}</span>
                </div>
                <div class="col-6 text-right">
                  <span
                    class="font-custom-bold price">{{activeInv.gross_amount | currency:settings.currencyInText:(settings.currencyText ? 'code' : 'symbol'):'1.2-2'}}</span>
                </div>
              </div>

              <!-- Discount -->
              <div *ngIf="(activeInv.percentage_value > 0 || activeInv.discount > 0)" class="row mx-0">
                <div class="col-5 discount-tax-label">
                  <span style="text-align: left;vertical-align: bottom;"
                    class="inline">{{settings.discount ? settings.discount : 'Discount'}}</span>
                  <div *ngIf="activeInv.percentage_flag == 0" class="inline font-custom">
                    ({{activeInv.discount | currency:settings.currencyInText:(settings.currencyText ? 'code' : 'symbol'):'1.2-2'}})
                  </div>
                  <div *ngIf="activeInv.percentage_flag == 1" class="inline font-custom">({{activeInv.percentage_value}} %)</div>
                </div>
                <div class="col-7">
                  <div class="text-right">
                    <div *ngIf="!activeInv.discountFlag == 0">
                      {{activeInv.percentage_value | number:'2.'}}
                    </div>
                    <div class="price" *ngIf="!activeInv.discountFlag == 1">
                      {{activeInv.discount | currency:settings.currencyInText:(settings.currencyText ? 'code' : 'symbol'):'1.2-2'}}
                    </div>
                  </div>
                </div>
              </div>

              <!-- Tax -->
              <div *ngIf="activeInv.tax_amount !== 0" class="row mx-0">
                <div class="col-4 discount-tax-label">
                  <div class="inline font-custom" style="text-align: left;vertical-align: bottom;">Tax</div>
                  <div class="inline font-custom">({{activeInv.tax_rate | number:'1.2-2'}} %)</div>
                </div>
                <div class="col-8 ">
                  <div class="text-right">
                    {{activeInv.tax_amount | number:'1.1-2'}}
                  </div>
                </div>
              </div>

              <!-- TaxList -->
              <div>
                <div *ngFor="let tax of activeInv.taxList; index as index" class="row mx-0">
                    <div class="col-4 discount-tax-label">
                      <div *ngIf="tax.taxName" class="inline font-custom" style="text-align: left;vertical-align: bottom;">
                        {{tax.taxName}}</div>
                      <div class="inline font-custom">({{activeInv.taxList[index].percentage | number:'1.1-2'}} %)</div>
                    </div>
                    <div class="col-8 ">
                      <div class="text-right">
                        {{activeInv.taxList[index].calculateValue | number:'1.2-2'}}
                      </div>
                    </div>
                  </div>
              </div>

              <!-- Shipping -->
              <div *ngIf="activeInv.shipping_charges !== 0" class="row mx-0">
                <div class="col-4 discount-tax-label">
                  <div class="inline" style="text-align: left;vertical-align: bottom;">
                    {{settings.shipping ? settings.shipping : 'Shipping'}}</div>
                </div>
                <div class="col-8 ">
                  <div class="text-right">
                    {{activeInv.shipping_charges | number:'1.2-2'}}
                  </div>
                </div>
              </div>

              <!-- Adjustment -->
              <div *ngIf="activeInv.adjustment" class="row mx-0">
                <div class="col-4 discount-tax-label">
                  <div class="inline" style="text-align: left; vertical-align: bottom;">
                    {{settings.adjustment ? settings.adjustment : 'Adjustment'}}
                  </div>
                </div>
                <div class="col-8">
                  <div class="text-right">
                    {{activeInv.adjustment | number:'1.2-2'}}
                  </div>
                </div>
              </div>

              <!-- Gross Total -->
              <div class="row mx-0 term-cond-label" style="padding: 6.5px 0px;">
                <div class="col-6 text-left">
                  <span class="font-custom-bold">
                    {{settings.total ? settings.total : 'TOTAL_LABEL' | translate}}
                  </span>
                </div>
                <div class="col-6 text-right">
                  <span
                    class="font-custom-bold price">{{activeInv.amount | currency:settings.currencyInText:(settings.currencyText ? 'code' : 'symbol'):'1.2-2'}}</span>
                </div>
              </div>
              
               <!-- inclusive tax -->
              <div *ngIf="activeInv.taxableFlag === 1" class="row mx-0" style="padding: 6.5px 0px;">
                  <div class="row mx-0 col-12" style="padding: 6.5px 0px;">
                      <div class="col-6 text-left">
                          <span class="font-custom-bold">
                              Taxable :
                          </span>
                        </div>
                        <div class="col-6 text-right">
                          <span
                            class="font-custom-bold price">{{(taxable) | currency:settings.currencyInText:(settings.currencyText ? 'code' : 'symbol'):'1.2-2'}}</span>
                        </div>
                  </div>
                  <div *ngFor="let item of activeInv.listItems" class="row mx-0 col-12" style="padding: 6.5px 0px;">
                      <div *ngIf="item.tax_rate" class="col-6 text-left">
                          <span class="font-custom-bold">
                              (+) Tax ({{item.tax_rate}}%)
                          </span>
                      </div>
                      <div *ngIf="item.tax_amount"  class="col-6 text-right">
                          <span
                            class="font-custom-bold price">{{item.tax_amount | currency:settings.currencyInText:(settings.currencyText ? 'code' : 'symbol'):'1.2-2'}}</span>
                      </div>
                  </div>
                  <div *ngIf="activeInv.tax_rate" class="row mx-0 col-12" style="padding: 6.5px 0px;">
                      <div class="col-6 text-left">
                          <span class="font-custom-bold">
                              (+) Tax ({{activeInv.tax_rate}}%)
                          </span>
                        </div>
                        <div  class="col-6 text-right">
                          <span
                            class="font-custom-bold price">{{activeInv.tax_amount | currency:settings.currencyInText:(settings.currencyText ? 'code' : 'symbol'):'1.2-2'}}</span>
                        </div>
                  </div>
                </div>

              <!-- Paid -->
              <div class="row mx-0" style="padding-top: 10px;padding-bottom: 10px;">
                <div class="col-6 text-left">
                  <span class="font-custom">{{settings.paid ? settings.paid : 'PAID_LABEL' | translate}}</span>
                </div>
                <div class="col-6 text-right">
                  <span
                    class="font-custom price">{{paidAmount()|currency:settings.currencyInText:(settings.currencyText ? 'code' : 'symbol'):'1.2-2'}}</span>
                </div>
              </div>
              <!-- Payment -->
              <hr *ngIf="paidAmount()">
              <div *ngFor="let item of activeInv.payments" class="top_bot_mr_10 pay_clr">
                <div class="row mx-0">
                  <div class="col-6 text-left label_color">
                    <span class="font-custom">{{item.dateOfPayment | date}}</span>
                  </div>
                  <div class="col-6 text-right pad_rg_5" style="margin-left: -10px;">
                    <span
                      class="font-custom price">{{item.paidAmount | currency:settings.currencyInText:(settings.currencyText ? 'code' : 'symbol'):'1.2-2'}}</span>
                  </div>
                </div>
              </div>

              <!-- Balance -->
              <div class="row mx-0 balance-row" style="padding: 6.5px 0px;">
                <div class="col-6 text-left">
                  <span class="bld">{{settings.balance ? settings.balance : 'BAL_LABEL' | translate}}</span>
                </div>
                <div class="col-6 text-right">
                  <span
                    class="bld price">{{activeInv.balance|currency:settings.currencyInText:(settings.currencyText ? 'code' : 'symbol'):'1.2-2'}}</span>
                </div>
              </div>
            </div>
            <!-- Calculations -->

          </div>
        </form>
      </div>
      <!--Todays Invoice Ends-->


      <!-- Previous Invoices Button -->
      <div class="col-12 col-md-3 search_div">
        <div class="row" style="margin: 0 auto;">
          
          <button type="button" style="padding: 14px;margin-top: 28px !important" class="col-12 side_btn btn btnd btn-custom-2 no-border-radius"
            (click)="router.navigate(['/invoice/view'])">Search For Invoices
            <img src="assets/images/search_new.png" alt="logo" style="width: 14px;">
          </button>
          <!-- Previous Invoices Button ends -->
          <div class="col-1"></div>
        </div>
        <div class="row" style="margin: 0 auto;">
          <button type="button"
            class="col-12 btn btnd btn-custom-2 no-border-radius side_btn add_invoice"
            (click)="router.navigate(['/invoice/add'])">Add New Invoice
            <i class="fa fa-plus" style="padding: 12px 0px"></i>
          </button>
        </div>
        <!-- recently added invoice -->
        <div class="row" style="margin-top: 14px;">
          <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 back-add-list text-center list-header-col font-custom-bold">
            {{settings.mTvInvoice ? settings.mTvInvoice : 'Invoices'}} Generated Today
          </div>
          <div class="col-12 px-0 mCustomScrollbar style-3" style="overflow-y: auto !important;">
            <!-- [ngClass]="{'item': true, 'row': true, 'selected': (invoice.unique_identifier == invoiceId)}" -->
            <div [ngClass]="{'item': true, 'row': true, 'selected': (invoice.unique_identifier == activeInv.unique_identifier)}"
            *ngFor="let invoice of (recentInvoiceList | orderBy: invSortTerm:true) " class="row" style="padding: 4px 1px 0px 7px;" (click)="setActiveInv(invoice.unique_identifier)"
              >
                <div class="col-1" class="arrow_img_div">
                  <img src="assets/images/left-arrow.png" class="arrow_img" >
                </div>
                <div class="col-2 list-date font-custom-bold fontsize13 list_date" style="margin-left: 16px;">
                  <span class="inv_date" [ngClass]="{'color_white': (invoice.unique_identifier == activeInv.unique_identifier)}">{{ invoice.created_date | date: 'dd' }}</span><br/>
                  <span class="date_month sub_date" [ngClass]="{'color_white': (invoice.unique_identifier == activeInv.unique_identifier)}">{{ invoice.created_date | date: 'MMM' }}</span>
                </div>
      
                <div class="col-9">
                  <div class="row" style="margin-top: 6px;">
                    <div class="col-12">
                      <h5 *ngIf="clientList" class="font-custom-bold fontsize13" [ngClass]="{'color_white': (invoice.unique_identifier == activeInv.unique_identifier)}">{{ getClientName(invoice.unique_key_fk_client) }}</h5>
                    </div>
                    <div class="col-5 font-custom-book fontsize13 today_txt" [ngClass]="{'color_white': (invoice.unique_identifier == activeInv.unique_identifier)}">
                      {{ invoice.invoice_number }}
                    </div>
                    <div class="col-5 text-right font-custom-bold fontsize12 today_txt" style="margin-left: 40px;" [ngClass]="{'color_white': (invoice.unique_identifier == activeInv.unique_identifier)}">
                      {{ invoice.amount | currency:settings.currencyInText:(settings.currencyText ? 'code' : 'symbol'):'1.2-2' }}
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!-- ends -->

        <!-- Delete Invoices Button -->
        <!-- <button type="button" class="btnd add-line-item-button" *ngIf="edit" (confirm)="deleteInvoice()"
          [swal]="{ title: 'Are you sure want to delete Invoice?', type: 'warning', showCancelButton: true,
            confirmButtonColor: '#DD6B55', confirmButtonText: 'Yes, delete it!' }
          "
        >
          Delete Invoices
        </button> -->
      </div>
    </div>
  </div>
</div>


<!-- Error MODAL starts -->
<div id="error-message" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog mod_dialog">
    <div class="modal-content mod_content">
      <div class="modal-header mod_header">
        <img class="center" src="assets/images/connection_lost.png" alt="logo" class="center error_logo">
      </div>
      <div class="modal-body">
        <h3 class="title">Connection Lost !</h3>
        <p class="error_logo error_text">Make sure your wifi or cellular data is turned on and try again
          !!!</p>
      </div>
      <div class="modal-footer mod_footer" style=" padding: 9px 23px 20px 10px !important;">
        <button type="button" class="mod_close_btn btn save_btn btn-raised width25btn center"
          data-dismiss="modal" aria-label="Close">
          OK
        </button>

      </div>
    </div>
  </div>
</div>
<!-- Error MODAL ends -->