@import '../../../assets/css/form.css';

@font-face {
  font-family: quicksand_bold;
  src: url('../../../assets/fonts/Quicksand-Bold.otf')
}

.client-header{
	font-size: 18px !important;
	font-family: quicksand_bold !important;
	color: #272727 !important;
}
.client-form input {
	height: 34px;
	margin-bottom: 0px !important;
}
.client-form .input-group-addon {
	background: #e0dede57 !important;
	border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-right: 0;
  padding: 4px 12px;
}
.client-form input[type=text] {
	border-left: none !important;
}
.client-form img {
	padding: 0px 8px 0px 12px;
	width: 40px;
	height: auto;
}
/* css - tejaswini */
/* scrollbar */
.force-overflow
{
	min-height: 450px;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #bababa;
	border-radius: 100px;
}
