@import '../../../assets/css/form.css';

.client-form input {
	height: 34px;
	margin-bottom: 0px !important;
}
.client-form .input-group-addon {
	background: #e0dede57 !important;
	border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-right: 0;
  padding: 4px 12px;
}
.client-form input[type=text] {
	border-left: none !important;
}
.client-form img {
	padding: 0px 8px 0px 12px;
	width: 40px;
	height: auto;
}