<div class="row main-wrapper">
  <div class="col-12" id="main">
    <div class="row">
      <!-- Client List -->
      <div class="col-12 col-sm-3 item-list cli-list pad-right-0">
        <div [ngClass]="{'list-shadow':clientList.length > clientDisplayLimit, 'scroll-bar-shadow': true}" style="width: 100%;">
          <div class="col-12 pad0 filter-box">
            <div class="col-12">
              <div class="row">
                <div class="col-6" style="padding-top: 15px;">
                  <a (click)="addNew()" title="Add New" class="pull-left list-btn cus-img">
                    <img src="assets/images/list-icon/add-plus-button24.png">
                  </a>
                </div>
                <div class="col-6 dropdown" style="padding-top: 15px;" ng-init="order.sortClient = 'id'; setSortClients('id');">
                  <a style="cursor: pointer;background: #ffffff" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" class="pull-right list-btn cus-img"
                  >
                    <img alt="logo" src="/assets/images/list-icon/sort-ascending-button24.png">
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li [class.active]="sortTerm=='name'">
                      <a (click)="sortTerm='name'">By Org. Name</a>
                    </li>
                    <li [class.active]="sortTerm=='contactPersonName'">
                      <a (click)="sortTerm='contactPersonName'">By Client Name</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 search-box">
              <div class="form-group label-floating">
                <!--<label class="control-label fontsize13">Search, Filter Clients</label>-->
                <input class="form-control" [(ngModel)]="searchTerm" placeholder="Search Clients" />
              </div>
            </div>
          </div>

          <div class="col-12 back-add-list text-center list-header-col font-custom-bold">
            Select client to view or edit</div>
          <div class="col-12 pad0 mCustomScrollbar">
            <!-- <div align="center" style="background-color: #fff;">
              <md-progress-circular *ngIf="!clientListsLoader" style="color: #1A73CC" class="md-hue-2 text-center"
                md-diameter="25px">
              </md-progress-circular>
            </div> -->
            <div id="prod{{index}}" class="clientname" 
              *ngFor="let client of (clientList | orderBy: sortTerm | filterBy: {name: searchTerm} | slice:0:clientDisplayLimit); index as index"
              [class.selected]="selectedClient == index"
            >
              <div class="row item product-list" *ngIf="client.enabled == 0">
                <div class="col-2">
                  <img src="../assets/images/list-icon/org1.png" style="vertical-align: middle;width: 36px; height: 36px;">
                </div>
                <div class="col-8 pad0" (click)="viewThis(client)">
                  <h5 class="col-10 pad-right-0 font-custom-bold fontsize13">
                    <div class="ellipsis">{{ client.name }}</div>
                  </h5>
                  <span class="col-10 pad-right-0 font-custom-book fontsize12">
                    <div class="ellipsis">{{client.contactPersonName}}</div>
                  </span>
                </div>
                <div class="col-1" [class.selected1]="selectedClient == $index">
                  <img src="/assets/images/next12.png">
                </div>
              </div>
            </div>
            <div class="no-data-messsage" *ngIf="clientList.length == 0 && !clientListLoading ">
              <h4>No Client to display, please create a client</h4>
            </div>
            <div class="col-12 pad0" [class.list-shadow]="clientList.length > clientDisplayLimit">
              <a href="javascript:void(0)" (click)="loadMore()" class="btn more" *ngIf="clientList.length > clientDisplayLimit">
                Click to view more >>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Client Add, Edit and Delete Form -->
      <div class="col-12 col-sm-9 item-form ">
        <form class="form-horizontal" #f="ngForm" name="form" id="form">
          <div class="shadow">
            <div class="form-group back" style="padding: 18px;">
              <div class="row mar0">
                <div class="col-7 col-md-8 editBtnShow">
                  <h4 class="form-header text-right client-header" *ngIf="!isCreate" style="margin-left: 61%;">Create a new client </h4>
                  <!--style="display: flex;justify-content: flex-end;"-->
                  <!--<div class="form-header" style="width: 100%;word-break: break-all;" *ngIf="isEdit">Client : {{activeClient.name}}</div>-->
                  <h4 class="form-header text-right client-header" *ngIf="!(rightDivBtns || cancle)" style="margin-left: calc(44px + 25vw);">Edit client </h4>
                  <h4 class="form-header text-center client-header" *ngIf="!isEditBtn"> View Client </h4>
                </div>
                <div class="col-5 col-md-4 pull-right pad0 font-custom-bold">
                  <button type="button" class="btn btn-success btn-raised no-border-radius pull-right width10btn margin-left-15 font-custom-bold"
                    (click)="editThis(client, $index)" *ngIf="!isEditBtn"
                  >
                    <img src="/assets/images/buttons-icon/pencil-edit-button16.png" style=" padding: 0px 2px 3px 0px;width: 14px;height: 14px;">
                    Edit
                  </button>
                  <button type="button" class="btn btn-custom-1 btn-raised no-border-radius pull-right width10btn margin-left-15 font-custom-bold"
                    [swal]="{ title: 'Are you sure want to delete Client ?', type: 'warning', showCancelButton: true,
                      confirmButtonColor: '#DD6B55', confirmButtonText: 'Yes, delete it!', closeOnConfirm: true, closeOnCancel: true }
                    "
                    (confirm)="deleteClient()" *ngIf="!isEditBtn" [disabled]="!f.valid || inputReadonly == false"
                  >
                    DELETE
                  </button>
                  <div class="rightDivBtns" *ngIf="!rightDivBtns">
                    <button type="button" id="updateClientBtn1" (click)="save(f.valid, 1)"
                      class="btn btn-success btn-raised width10btn no-border-radius pull-right margin-left-15 font-custom-bold"
                      data-loading-text="Updating <i class='fa fa-spinner fa-spin '></i>" *ngIf="!cancle"
                      [disabled]="!f.valid || inputReadonly == true"
                    >
                      UPDATE
                    </button>
                    <button type="button" id="saveClientBtn1" (click)="f.submitted = true; save(f.valid, 0)"
                      class="btn btn-success btn-raised width10btn no-border-radius pull-right margin-left-15 font-custom-bold"
                      data-loading-text="Saving <i class='fa fa-spinner fa-spin '></i>" *ngIf="cancle"
                      [disabled]="!f.valid || inputReadonly == true"
                    >
                      SAVE
                    </button>
                    <button type="button" (click)="cancelThis()" class="btn btn-custom-2 btn-raised no-border-radius pull-right width10btn margin-left-15 font-custom-bold"
                      *ngIf="!cancle" [disabled]="inputReadonly == true"
                    >
                      CANCEL
                    </button>
                    <button type="button" (click)="clearThis()" class="btn btn-custom-1 btn-raised no-border-radius pull-right width10btn margin-left-15 font-custom-bold"
                      *ngIf="!clearBtn" [disabled]="inputReadonly == true"
                    >
                      CLEAR
                    </button>
                  </div>
                </div>
              </div>

              <div class="client-form">
                <div class="row">
                  <div class="col-12 margin-top-20" *ngIf="isEditBtn">
                    <div style="margin: 0px auto 10px auto;max-width: 300px;">
                      <div class="form-group" [class.has-error]="(f.submitted || errors.name ) && f.value.name == ''">
                        <div class="input-group client-input">
                          <span class="input-group-addon">
                            <img src="/assets/images/client-icon/ic_normal_org_name.png">
                          </span>
                          <input type="text" name="name" id="name" class="form-control" placeholder="Organization name"
                            [(ngModel)]="activeClient.name" [readonly]="inputReadonly" required
                          />
                        </div>
                        <div class="form-error" *ngIf="f.submitted || errors.name">
                          <span *ngIf="f.value.name == ''">Organization name required</span>
                        </div>
                      </div>
                    </div>
  
                    <div style="margin: 0px auto 10px auto;max-width: 300px;">
                      <div class="form-group">
                        <div class="input-group client-input">
                          <span class="input-group-addon"><img src="/assets/images/client-icon/ic_normal_contact_person.png"></span>
                          <input type="text" [(ngModel)]="activeClient.contactPersonName" name="contactPersonName" id="contactPersonName"
                            class="form-control" [readonly]="inputReadonly" placeholder="Contact person" />
                          <!--<div class="form-error" *ngIf="f.submitted || form.contactPersonName.$touched || errors.contactPersonName">-->
                          <!--<span *ngIf="form.contactPersonName.$error.required">Required</span>-->
                          <!--<span *ngIf="errors.contactPersonName">{{ errors.contactPersonName[0] }}</span>-->
                          <!--</div>-->
                        </div>
  
                      </div>
                    </div>
                    <div style="margin: 0px auto 10px auto;max-width: 300px;">
                      <div class="form-group" id="emailLabel" name="emailLabel">
                        <div class="input-group client-input">
                          <span class="input-group-addon"><img src="/assets/images/client-icon/ic_normal_email_id.png"></span>
                          <input type="text" [(ngModel)]="activeClient.email" name="email" id="email" class="form-control"
                            [readonly]="inputReadonly" placeholder="Email address" />
                          <!--<div class="form-error" *ngIf="form.$submitted || form.email.$touched || errors.email">-->
                          <!--<span *ngIf="form.email.$error.required">Required</span>-->
                          <!--<span *ngIf="form.email.$error.email"><span *ngIf="form.email.$error.required">,</span> must be valid email address</span>-->
                          <!--<span *ngIf="errors.email">{{ errors.email[0] }}</span>-->
                          <!--</div>-->
                        </div>
  
                      </div>
                    </div>
  
                    <div style="margin: 0px auto 10px auto;max-width: 300px;">
                      <div class="form-group">
                        <div class="input-group client-input">
                          <span class="input-group-addon"><img src="/assets/images/client-icon/ic_normal_contact_no.png"></span>
                          <input type="text" [(ngModel)]="activeClient.number" name="cont_number" id="cont_number" class="form-control"
                            [readonly]="inputReadonly" placeholder="Contact number" />
                          <!--<div class="form-error" *ngIf="form.$submitted || form.cont_number.$touched || errors.number">-->
                          <!--<span *ngIf="form.cont_number.$error.required">Required</span>-->
                          <!--<span *ngIf="form.cont_number.$error.maxlength">Must be of 10 characters</span>-->
                          <!--</div>-->
                        </div>
  
                      </div>
                    </div>
                    <div style="margin: 0px auto 10px auto;max-width: 300px;">
  
                      <div class="form-group">
                        <textarea elastic type="text" [(ngModel)]="activeClient.addressLine1" name="addressLine1" id="addressLine1"
                          class="form-control" [readonly]="inputReadonly" placeholder="Address Line" style="height: 47px;"></textarea>
                        <!--<div class="form-error" *ngIf="form.$submitted || form.addressLine1.$touched || errors.addressLine1">-->
                        <!--<span *ngIf="form.addressLine1.$error.required">Required</span>-->
                        <!--<span *ngIf="errors.addressLine1">{{ errors.addressLine1[0] }}</span>-->
                        <!--</div>-->
                      </div>
  
                    </div>
                    <div style="margin: 0px auto 10px auto;max-width: 300px;">
                      <div class="form-group">
                        <textarea elastic type="text" [(ngModel)]="activeClient.shippingAddress" name="shippingAddress" id="shippingAddress"
                          class="form-control" [readonly]="inputReadonly" placeholder="Shipping Address" style="height: 47px;"></textarea>
                      </div>
                    </div>
                    <div style="margin: 0px auto 10px auto;max-width: 300px;">
                      <div class="form-group">
                        <div class="input-group client-input">
                          <span class="input-group-addon"><img src="/assets/images/client-icon/ic_normal_business_id.png"></span>
                          <input type="text" [(ngModel)]="activeClient.business_id" name="business_id" id="business_id" class="form-control"
                            [readonly]="inputReadonly" placeholder="Business Id" />
                        </div>
  
                      </div>
                    </div>
                    <div style="margin: 0px auto 10px auto;max-width: 300px;">
                      <div class="form-group">
                        <textarea elastic type="text" [(ngModel)]="activeClient.business_detail" name="business_detail" id="business_detail"
                          class="form-control" [readonly]="inputReadonly" placeholder="Business Details" style="height: 47px;"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 margin-top-20" *ngIf="!isEditBtn">
                    <div class="col-12" style="margin-bottom: 10px;">
                      <div class="row">
                        <div class="col-6 client-view-label">
                          <img src="/assets/images/client-icon/ic_normal_org_name.png">
                          Organization name:
                        </div>
                        <div class="col-6 client-view-body font-custom-bold">
                          {{activeClient.name}}
                        </div>
                      </div>
                    </div>
                    <div class="col-12" style="margin-bottom: 10px;">
                      <div class="row">
                        <div class="col-6 client-view-label">
                          <img src="/assets/images/client-icon/ic_normal_contact_person.png">
                          Contact person:
                        </div>
                        <div class="col-6 client-view-body font-custom-bold">
                          {{activeClient.contactPersonName}}
                        </div>
                      </div>
                    </div>
                    <div class="col-12" style="margin-bottom: 10px;">
                      <div class="row">
                        <div class="col-6 client-view-label">
                          <img src="/assets/images/client-icon/ic_normal_email_id.png">
                          Email:
                        </div>
                        <div class="col-6 client-view-body font-custom-bold">
                          {{activeClient.email}}
                        </div>
                      </div>
                    </div>
                    <div class="col-12" style="margin-bottom: 10px;">
                      <div class="row">
                        <div class="col-6 client-view-label">
                          <img src="/assets/images/client-icon/ic_normal_contact_no.png">
                          Number:
                        </div>
                        <div class="col-6 client-view-body font-custom-bold">
                          {{activeClient.number}}
                        </div>
                      </div>  
                    </div>
                    <div class="col-12" style="margin-bottom: 10px;">
                      <div class="row">
                        <div class="col-6 client-view-label">
                          <img src="/assets/images/client-icon/ic_normal_address_line.png">
                          Address line:
                        </div>
                        <div class="col-6 client-view-body font-custom-bold">
                          {{activeClient.addressLine1}}
                        </div>
                      </div>
                    </div>
                    <div class="col-12" style="margin-bottom: 10px;">
                      <div class="row">
                        <div class="col-6 client-view-label">
                          <img src="/assets/images/client-icon/ic_normal_address_line.png">
                          Shipping address:
                        </div>
                        <div class="col-6 client-view-body font-custom-bold">
                          {{activeClient.shippingAddress}}
                        </div>
                      </div>
                    </div>
                    <div class="col-12" style="margin-bottom: 10px;">
                      <div class="row">
                        <div class="col-6 client-view-label">
                          <img src="/assets/images/client-icon/ic_normal_org_name.png">
                          Business Id:
                        </div>
                        <div class="col-6 client-view-body font-custom-bold">
                          {{activeClient.business_id}}
                        </div>
                      </div>
                    </div>
                    <div class="col-12" style="margin-bottom: 10px;">
                      <div class="row">
                        <div class="col-6 client-view-label">
                          <img src="/assets/images/client-icon/ic_normal_business_detail.png">
                          Business detail:
                        </div>
                        <div class="col-6 client-view-body font-custom-bold">
                          {{activeClient.business_detail}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 align-self-end">
                    <button type="button" class="btn btn-success btn-raised no-border-radius pull-right width10btn margin-left-15 font-custom-bold"
                      (click)="editThis(client, $index)" *ngIf="!isEditBtn"
                    >
                      <img src="/assets/images/buttons-icon/pencil-edit-button16.png" style=" padding: 0px 2px 3px 0px;width: 14px;height: 14px;"> Edit 
                    </button>
  
                    <button type="button" class="btn btn-custom-1 btn-raised no-border-radius pull-right width10btn margin-left-15 font-custom-bold"
                      [swal]="{ title: 'Are you sure want to delete Client ?', type: 'warning', showCancelButton: true,
                        confirmButtonColor: '#DD6B55', confirmButtonText: 'Yes, delete it!', closeOnConfirm: true, closeOnCancel: true }
                      "
                      (confirm)="deleteClient()" *ngIf="!isEditBtn" [disabled]="!f.valid || inputReadonly == false"
                    >
                      DELETE
                    </button>
                    <div class="rightDivBtns" *ngIf="!rightDivBtns">
                      <button id="updateClientBtn" type="button" (click)="save(f.valid, 1)"
                        class="btn btn-success btn-raised margin-left-15 width10btn no-border-radius pull-right font-custom-bold"
                        data-loading-text="Updating <i class='fa fa-spinner fa-spin '></i>" *ngIf="!cancle"
                        [disabled]="!f.valid || inputReadonly == true"
                      >
                        UPDATE
                      </button>
                      <button id="saveClientBtn" type="button" (click)="f.submitted = true; save(f.valid, 0)"
                        class="btn btn-success btn-raised margin-left-15 width10btn no-border-radius pull-right font-custom-bold"
                        data-loading-text="Saving <i class='fa fa-spinner fa-spin '></i>" *ngIf="cancle"
                        [disabled]="!f.valid || inputReadonly == true"
                      >
                        SAVE
                      </button>
                      <button type="button" class="btn btn-custom-2 btn-raised no-border-radius pull-right width10btn margin-left-15 font-custom-bold"
                        (click)="cancelThis()" *ngIf="!cancle" [disabled]="inputReadonly == true"
                      >
                        CANCEL
                      </button>
                      <button type="button" class="btn btn-custom-1 btn-raised no-border-radius pull-right width10btn margin-left-15 font-custom-bold"
                        (click)="clearThis()" *ngIf="!clearBtn" [disabled]="inputReadonly == true"
                      >
                        CLEAR
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>