<div class="row main-wrapper">
  <div class="col-12" id="main">
    <div class="row">
      <!-- Client List -->
      <div class="col-12 col-sm-3 pr-0">
        <div class="back list-shadow w-100">
          <div class="col-12 px-0 filter-box">
            <div class="col-12">
              <div class="row">
                <div class="col-6" style="padding-top: 15px;">
                  <a (click)="addNew()" title="Add New" class="pull-left list-btn cus-img" style="border: 0px solid #ccc;">
                    <img src="assets/images/list-icon/add-plus-button24.png" class="plus_list">
                  </a>
                </div>
                <div class="col-6 dropdown" style="padding-top: 15px;" ng-init="order.sortClient = 'id'; setSortClients('id');">
                  <a style="cursor: pointer;background: #ffffff" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" class="pull-right list-btn cus-img">
                    <img alt="logo" src="assets/images/list-icon/sort-ascending-button24.png" class="plus_list">
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right small_dropdown">
                    <li [class.active]="sortTerm=='name'">
                      <a (click)="sortTerm='name'">By Organization Name</a>
                    </li>
                    <li [class.active]="sortTerm=='contactPersonName'">
                      <a (click)="sortTerm='contactPersonName'">By Client Name</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 search-box">
              <div class="form-group label-floating">
                <!--<label class="control-label fontsize13">Search, Filter Clients</label>-->
                <input class="form-control" [(ngModel)]="searchTerms" placeholder="Search Clients" />
              </div>
            </div>
          </div>
          <div class="col-12 back-add-list text-center list-header-col font-custom-bold">
            Select client to view or edit
          </div>
          <div class="col-12 px-0 mCustomScrollbar style-3">
            <div style="background-color: #fff;" *ngIf="clientListLoading">
              <mat-spinner style="color: #1A73CC" class="loader"></mat-spinner>
            </div>

            <!-- <div id="prod{{index}}" class="clientname" *ngFor="let client of (clientList | orderBy:sortTerm:false:true | filter:searchTerm | slice:0:clientDisplayLimit); index as index" -->
            <div id="prod{{index}}" class="clientname" *ngFor="let client of (clientList | orderBy:sortTerm:(sortTerm=='name'? true : false):true | filter:searchTerms |  slice:0:clientDisplayLimit); index as index"
              [class.selected]="activeClient.uniqueKeyClient == client.uniqueKeyClient">
              <div class="row item product-list" *ngIf="client.enabled == 0">
                <div class="col-2">
                  <img src="assets/images/list-icon/org1.png" style="vertical-align: middle;width: 36px; height: 36px;">
                </div>
                <div class="col-8 px-0" (click)="viewThis(client)">
                  <h5 class="col-10 pr-0 font-custom-bold fontsize13">
                    <div class="ellipsis">{{ client.name }}</div>
                  </h5>
                  <span class="col-10 pr-0 font-custom-book fontsize12">
                    <div class="ellipsis">{{client.contactPersonName}}</div>
                  </span>
                </div>
                <div class="col-1" [class.selected]="activeClient.uniqueKeyClient == client.uniqueKeyClient">
                  <img src="assets/images/next12.png" style="padding-top: 16px;">
                </div>
              </div>
            </div>
            <div class="no-data-messsage" *ngIf="clientList.length == 0 && !clientListLoading ">
              <h4>No Client to display, please create a client</h4>
            </div>
            <div class="col-12 px-0" [class.list-shadow]="clientList.length > clientDisplayLimit">
              <a href="javascript:void(0)" (click)="loadMore()" class="btn more" *ngIf="clientList.length > clientDisplayLimit">
                Click to view more >>
              </a>
            </div>
          </div>
        </div>
      </div>


      <!-- Body -->
      <div class="col-12 col-sm-9 item-form ">
        <form class="form-horizontal" #f="ngForm" name="form" id="form">
          <div ><!--class="shadow"-->
            <div class="form-group back" style="padding: 18px;height: 597px;">
              <div class="row mx-0" style="margin-top: 10% !important;">
                <!-- Heading -->
                <div class="col-7 col-md-8 editBtnShow">
                  <h4 class="form-header text-right client-header" *ngIf="createMode" style="margin-left: 61%;">
                    Create a new client
                  </h4>
                  <h4 class="form-header text-right client-header" *ngIf="editMode" style="margin-left: calc(44px + 25vw);">
                    Edit client
                  </h4>
                  <h4 class="form-header text-center client-header" *ngIf="viewMode">
                    View Client
                  </h4>
                </div>

                <!-- Top Buttons -->
                <div class="col-5 col-md-4 pull-right px-0 font-custom-bold" style="margin-top: -86px;">
                  <button type="button" (click)="editThis()" *ngIf="viewMode" class="btn save_btn btn-raised width25btn pull-right ml-2">
                    <img src="assets/images/buttons-icon/pencil-edit-button16.png" style=" padding: 0px 2px 3px 0px;width: 14px;height: 14px;">
                    Edit
                  </button>
                  <button class="btn btn-custom-1 btn-raised no-border-radius pull-right width10btn ml-2 font-custom-bold" type="button"  *ngIf="viewMode"  (click)="openDeleteClientModal()">
                    Delete
                  </button>
                  <div class="rightDivBtns">
                    <button type="button" id="updateClientBtn1" (click)="save(f.valid, 1)" *ngIf="editMode" class="btn save_btn btn-raised width25btn pull-right ml-2"
                      [disabled]="!f.valid">

                      Update
                    </button>
                    <button type="button" id="saveClientBtn1" (click)="f.submitted = true; save(f.valid, 0)" class="btn save_btn btn-raised width25btn pull-right ml-2"
                      *ngIf="createMode">
                      Save
                    </button>
                    <!-- <button type="button" id="saveClientBtn1" (click)="f.submitted = true; save(f.valid, 0)" class="btn save_btn btn-raised width25btn pull-right font-weight-bold ml-2"
                    *ngIf="createMode" [disabled]="!f.valid">
                    SAVE
                    </button> -->

                    <button type="button" (click)="cancelThis()" *ngIf="editMode" class="btn btn-custom-2 btn-raised no-border-radius pull-right width10btn ml-2 font-custom-bold">
                      Cancel
                    </button>
                    <button type="button" (click)="clearThis()" *ngIf="createMode" class="change_bg btn btn-custom-1 btn-raised no-border-radius pull-right width10btn ml-2 font-custom-bold">
                      Clear
                    </button>
                  </div>
                </div>
              </div>

              <div class="client-form">
                <div class="row">
                  <!-- Create / Edit -->
                  <div class="col-12 mt-2" *ngIf="createMode || editMode" style="margin-bottom: 28px;">
                    <div style="margin: 0px auto 10px auto;max-width: 300px;">
                      <div class="form-group" [class.has-error]="(f.submitted || errors.name ) && f.value.name == ''">
                        <div class="input-group client-input">
                          <span class="input-group-addon">
                            <img src="assets/images/client-icon/ic_normal_org_name.png">
                          </span>
                          <div class="form-error" *ngIf="f.submitted || errors.name">
                            <span *ngIf="f.value.name == '' && name.errors.required">Organization name required</span>
                          </div>
                          <input type="text" name="name" id="name" (keyup)="emptyField($event)" [ngClass]="{'box_red': emptyClient == true}" class="form-control" placeholder="Organization name *"
                            onfocus="this.select()" [(ngModel)]="activeClient.name" required />
                        </div>
                       
                      </div>
                    </div>

                    <div style="margin: 0px auto 10px auto;max-width: 300px;">
                      <div class="form-group">
                        <div class="input-group client-input">
                          <span class="input-group-addon">
                            <img src="assets/images/client-icon/ic_normal_contact_person.png">
                          </span>
                          <input type="text" name="contactPersonName" id="contactPersonName" class="form-control"
                            [(ngModel)]="activeClient.contactPersonName" placeholder="Contact person" onfocus="this.select()" />
                        </div>
                      </div>
                    </div>

                    <div style="margin: 0px auto 10px auto;max-width: 300px;">
                      <div class="form-group" id="emailLabel" name="emailLabel">
                        <div class="input-group client-input">
                          <span class="input-group-addon"><img src="assets/images/client-icon/ic_normal_email_id.png"></span>
                          <input type="text" id="email" name="email" class="form-control" [(ngModel)]="activeClient.email"
                            placeholder="Email address" onfocus="this.select()" />
                        </div>
                      </div>
                    </div>

                    <div style="margin: 0px auto 10px auto;max-width: 300px;">
                      <div class="form-group">
                        <div class="input-group client-input">
                          <span class="input-group-addon"><img src="assets/images/client-icon/ic_normal_contact_no.png"></span>
                          <input type="text" id="cont_number" name="cont_number" class="form-control" [(ngModel)]="activeClient.number"
                            placeholder="Contact number" onfocus="this.select()" />
                          <!--<div class="form-error" *ngIf="form.$submitted || form.cont_number.$touched || errors.number">-->
                          <!--<span *ngIf="form.cont_number.$error.required">Required</span>-->
                          <!--<span *ngIf="form.cont_number.$error.maxlength">Must be of 10 characters</span>-->
                          <!--</div>-->
                        </div>
                      </div>
                    </div>

                    <div style="margin: 0px auto 10px auto;max-width: 300px;">
                      <div class="form-group">
                        <textarea elastic type="text" name="addressLine1" id="addressLine1" class="form-control mCustomScrollbar style-3"
                          [(ngModel)]="activeClient.addressLine1" placeholder="Address Line" style="height: 47px !important;"
                          onfocus="this.select()"></textarea>
                      </div>
                    </div>

                    <div style="margin: 0px auto 10px auto;max-width: 300px;">
                      <div class="form-group">
                        <textarea elastic type="text" name="shippingAddress" id="shippingAddress" style="height: 47px !important;"
                          [(ngModel)]="activeClient.shippingAddress" class="form-control mCustomScrollbar style-3" placeholder="Shipping Address"
                          onfocus="this.select()"></textarea>
                      </div>
                    </div>

                    <div style="margin: 0px auto 10px auto;max-width: 300px;">
                      <div class="form-group">
                        <div class="input-group client-input">
                          <span class="input-group-addon"><img src="assets/images/client-icon/ic_normal_business_id.png"></span>
                          <input type="text" id="business_id" name="business_id" class="form-control" [(ngModel)]="activeClient.businessId"
                            placeholder="Business Id" onfocus="this.select()" />
                        </div>
                      </div>
                    </div>

                    <div style="margin: 0px auto 10px auto;max-width: 300px;">
                      <div class="form-group">
                        <textarea elastic type="text" id="business_detail" name="business_detail" class="form-control mCustomScrollbar style-3"
                          style="height: 47px !important;" [(ngModel)]="activeClient.businessDetail" placeholder="Business Details"
                          onfocus="this.select()"></textarea>
                      </div>
                    </div>
                  </div>

                  <!-- View -->
                  <div class="col-12 mt-2" *ngIf="viewMode == true" style="margin-bottom: 28px;">
                    <div class="col-12" style="margin-bottom: 10px;">
                      <div class="row">
                        <div class="col-6 client-view-label">
                          <img src="assets/images/client-icon/ic_normal_org_name.png">
                          Organization name:
                        </div>
                        <div class="col-6 client-view-body font-custom-bold">
                          {{activeClient.name}}
                        </div>
                      </div>
                    </div>
                    <div class="col-12" style="margin-bottom: 10px;">
                      <div class="row">
                        <div class="col-6 client-view-label">
                          <img src="assets/images/client-icon/ic_normal_contact_person.png">
                          Contact person:
                        </div>
                        <div class="col-6 client-view-body font-custom-bold">
                          {{activeClient.contactPersonName}}
                        </div>
                      </div>
                    </div>
                    <div class="col-12" style="margin-bottom: 10px;">
                      <div class="row">
                        <div class="col-6 client-view-label">
                          <img src="assets/images/client-icon/ic_normal_email_id.png">
                          Email:
                        </div>
                        <div class="col-6 client-view-body font-custom-bold">
                          {{activeClient.email}}
                        </div>
                      </div>
                    </div>
                    <div class="col-12" style="margin-bottom: 10px;">
                      <div class="row">
                        <div class="col-6 client-view-label">
                          <img src="assets/images/client-icon/ic_normal_contact_no.png">
                          Number:
                        </div>
                        <div class="col-6 client-view-body font-custom-bold">
                          {{activeClient.number}}
                        </div>
                      </div>
                    </div>
                    <div class="col-12" style="margin-bottom: 10px;">
                      <div class="row">
                        <div class="col-6 client-view-label">
                          <img src="assets/images/client-icon/ic_normal_address_line.png">
                          Address line:
                        </div>
                        <div class="col-6 client-view-body font-custom-bold">
                          {{activeClient.addressLine1}}
                        </div>
                      </div>
                    </div>
                    <div class="col-12" style="margin-bottom: 10px;">
                      <div class="row">
                        <div class="col-6 client-view-label">
                          <img src="assets/images/client-icon/ic_normal_address_line.png"><!--{{settings.shipping}} address:-->
                          Shipping Address:
                        </div>
                        <div class="col-6 client-view-body font-custom-bold">
                          {{activeClient.shippingAddress}}
                        </div>
                      </div>
                    </div>
                    <div class="col-12" style="margin-bottom: 10px;">
                      <div class="row">
                        <div class="col-6 client-view-label">
                          <img src="assets/images/client-icon/ic_normal_org_name.png">
                          Business Id:
                        </div>
                        <div class="col-6 client-view-body font-custom-bold">
                          {{activeClient.businessId}}
                        </div>
                      </div>
                    </div>
                    <div class="col-12" style="margin-bottom: 10px;">
                      <div class="row">
                        <div class="col-6 client-view-label">
                          <img src="assets/images/client-icon/ic_normal_business_detail.png">
                          Business detail:
                        </div>
                        <div class="col-6 client-view-body font-custom-bold">
                          {{activeClient.businessDetail}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Bottom Buttons -->
              <!-- <div class="row">
                <div class="col-12 align-self-end" style="margin-bottom: 8% !important;">
                  <button type="button" (click)="editThis()" *ngIf="viewMode" class="btn save_btn btn-raised width25btn pull-right ml-2">
                    <img src="assets/images/buttons-icon/pencil-edit-button16.png" style="padding: 0px 2px 3px 0px;width: 14px;height: 14px;">
                    Edit
                  </button>
                  <button class="btn btn-custom-1 btn-raised no-border-radius pull-right width10btn ml-2 font-custom-bold" type="button"
                   *ngIf="viewMode"  (click)="openDeleteClientModal()">
                    Delete
                  </button>
                   <button type="button" *ngIf="viewMode"
                    class="btn btn-custom-1 btn-raised no-border-radius pull-right width10btn ml-2 font-custom-bold"
                    [swal]="{ title: 'Are you sure want to delete Client ?', type: 'warning', showCancelButton: true,
                      confirmButtonColor: '#DD6B55', confirmButtonText: 'Yes, delete it!'}
                    "
                    (confirm)="deleteClient()" [disabled]="!f.valid"  
                  >
                  <div class="rightDivBtns">
                    <button id="updateClientBtn" type="button" (click)="save(f.valid, 1)" class="btn save_btn btn-raised width25btn pull-right ml-2"
                      *ngIf="editMode" [disabled]="!f.valid">
                      Update
                    </button>
                    <button type="button" id="saveClientBtn1" (click)="f.submitted = true; save(f.valid, 0)" class="btn save_btn btn-raised width25btn pull-right ml-2"
                      *ngIf="createMode">
                      Save
                    </button>
                    <button type="button" (click)="cancelThis()" *ngIf="editMode" class="btn btn-custom-2 btn-raised no-border-radius pull-right width10btn ml-2 font-custom-bold">
                      Cancel
                    </button>
                    <button type="button" (click)="clearThis()" *ngIf="createMode" class="change_bg btn btn-custom-1 btn-raised no-border-radius pull-right width10btn ml-2 font-custom-bold">
                      Clear
                    </button>

                  </div>
                </div>
              </div> -->
              <!-- // testing -->
              <!-- Delete CLIENT MODAL -->
              <div id="delete-client" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" aria-hidden="true"
                data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title form-header font-custom-bold header-color" id="clientFormLabel">
                          <img src="assets/images/delete-color.png" class="del" style="height:28px;">
                           Delete Client
                      </h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: -1rem -3rem -1rem auto;">
                        <img src="assets/images/cross.png" alt="logo" style="height: 30px;margin-top: 6px;">
                      </button>
                    </div>
                    <div class="modal-body">
                      <form class="form-horizontal add-client-form" name="clientform" #clientform="ngForm">
                        <h5 style="font-size: 16px;font-weight: bold;">Are you sure want to delete this client?</h5>
                        <h5 style="font-size: 16px;font-weight: bold;">You can undo this action</h5>

                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="close btn btn-raised btn-custom-1 width20btn" 
                      data-dismiss="modal" aria-label="Close" style="opacity: unset;margin-right: 46%;">
                        No
                      </button>
                      <button type="button" id="clientFormLabel" (click)="deleteClient()"  
                      class="close btn btn-raised  btn-success width20btn"
                        data-dismiss="modal" aria-label="Close" style="opacity: unset;text-shadow: none;">
                        Yes
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Delete CLIENT MODAL ends -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Error MODAL starts -->
<div id="errormessage" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" aria-hidden="true"
data-backdrop="static" data-keyboard="false">
<div class="modal-dialog mod_dialog">
  <div class="modal-content mod_content">
    <div class="modal-header mod_header">
      <img class="center" src="assets/images/connection_lost.png" alt="logo" class="center error_logo">
    </div>
    <div class="modal-body">
      <h3 class="title">Connection Lost !</h3>
      <p class="error_logo">Make sure your wifi or cellular data is turned on and try again
        !!!</p>
    </div>
    <div class="modal-footer mod_footer">
      <button type="button" class="mod_close_btn btn save_btn btn-raised width25btn center"
        data-dismiss="modal" aria-label="Close">
        OK
      </button>

    </div>
  </div>
</div>
</div>
<!-- Error MODAL ends -->
