@import '../../../../assets/css/form.css';

/* setting css starts*/
.edit-setting .taxradio label,.edit-setting .discountradio label{
  text-align: center !important;
}
.edit-setting .taxradio input[type=radio], .edit-setting .discountradio input[type=radio],
.date-format input[type=radio], .country-radio input[type=radio]{
  display:none;
}
.edit-setting input[type=radio]:checked + label {
  outline: 0;
  color:#fff;
  background-color: #2196f3;
  width: 85px;
}
.edit-setting[_ngcontent-c5] input[type=radio]:checked + label i {
  outline: 0;
  color: #fcfeff;
  background-color: #2196f3;
}
.edit-setting[_ngcontent-c5] input[type=radio] + label i {
  outline: 0;
  color: white;
  background-color: #ffffff;
}


.edit-setting input[type=radio] + label {
  display: inline-block;
  margin: -2px;
  padding: 5px 12px;
  margin-bottom: 5px;
  line-height: 20px;
  color: #2196f3;
  text-align: center;
  font-size: 14px;
  /* width: 92px; */
  vertical-align: middle;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #2196f3;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);

}
.edit-setting .taxradio label.taxonitem,.edit-setting .discountradio label.discountonitem{
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}
.edit-setting .taxradio label:last-child,.edit-setting .discountradio label:last-child{
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
  border-left:0
}
.date-format input[type=radio] + label {
  display:inline-block !important;
  padding: 0 0 0 0px !important;
  background:url("/assets/images/unchecked24.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 100% !important;
  border: none !important;
  margin: 0px 2px 0px 0px !important;
}
.date-format input[type=radio]:checked + label {
  background:url("/assets/images/checked24.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  display:inline-block !important;
  background-size: 100% !important;
  border: none !important;
  margin: 0px 2px 0px 0px !important;
}
/* setting css  ends*/

.forget-pass-form .form-group {
  width: 300px !important;
}
input.ng-dirty.ng-invalid {
  border:1px solid red;
}
.upload-btn {
  margin-left: -132px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.box-red{
  border: 1px solid red;
}

.box-grey{
  border: 1px solid #ced4da;
}

.dropzone-drop-area {
  border: dashed 2px #c4c4c4;
  width: 250px;
  min-height: 220px;
  box-sizing: border-box;
  /* padding: 6px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  cursor: pointer;
  position: relative;
  margin-top: 105px;
  margin-bottom: 10px;
}
.no_btn{
  border: none;
  background-color: white;
  width: 36px !important;
  height: 25px !important;
}
.upload-btn {
  margin-left: -132px;
  margin-top: 13px;
  margin-bottom: 13px;
}
.step_text{
  padding: 4px 1px 2px 12px;
  color: #1f96f2;
  font-size: 12px;
  font-family: quicksand_bold !important;
}
.steps_div{
  background-color:#f5f6fa;
  margin-left: 13px;
  /* border-left: 4px solid #0295ff; */
  border-radius: 2px;
  height: 60px;
  margin-top: 4px;
}
.client_label{
  font-size: 12px;
  font-family: quicksand_bold!important;
  color: #7a7575;
  line-height: 15px;
}
.span_text{
  font-size: 11px;
  color: #7e7e7e;
  padding: 12px;
  font-family: quicksand_regular !important;
}
.file_icon{
  height: 16px;
}
.file_text{
  color: #0299ff !important;
  font-family: quicksand_bold !important;
  font-size: 12px;
  height: 28px !important;
  /* padding: 6px 10px 5px 10px !important; */
}
input[type=text], input[type=password], select {
  font-family: quicksand_regular !important;
  font-size: 12.5px !important;
  font-style: normal;
  font-weight: 100 !important;
  border-color: #bbd0e5 !important;
}
.table td, .table th {
  padding: 0px;
  vertical-align: top;
  /* border-top: 1px solid #dee2e6; */
}
.table td, .table th {
  border-top: 0px solid #dee2e6 !important;
}
.form-control[readonly] {
  background-color: #fff !important;
}
.td_header{
  color: #515151;
  
}
input[type=text] {
  padding: 3px !important;
  font-family: quicksand_regular !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 100 !important;
  border-color: #bbd0e5 !important;
}
.main-wrapper{
  background-color: #ededed;
  overflow-x: hidden;
  min-height: 2px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
.give_opacity{
  opacity: .5;
  pointer-events: none;
}
.col_3_label{
  padding: 7px 2px 6px 13px;
    line-height: 14px;
}
.table-responsive-fix{
  display:table;
}
.number_tag{
  width: 50px;
  background-color: white;
  border-left: 2px solid #bbd0e5 !important;
  border-bottom: 2px solid #bbd0e5 !important;
  border-right: 1px solid #bbd0e5 !important;
  padding: 4px 4px 0px 15px !important;
}
.hg_20{
  height: 16px;
}
.verticle_line{
  border-left: 4px solid #0295ff;
  border-radius: 36px;
}
.upload_btn{
  width: 94px;
  height: 30px;
  color: #0299ff !important;
  font-family: quicksand_bold !important;
  padding: 3px 2px 2px 2px !important;
}
.image-upload > input{
  display: none;
}

.image-upload img{
  cursor: pointer;
  height: 40px;
  border-radius: 40px;
  /* margin: 10px 2px 36px 112px; */
}
.drop_icon_div{
  border:dashed 2px #c4c4c4;
  margin: 0 auto;
  padding: 14px;
  border-radius: 40px;
}