<div style="background-color: #ededed;height: 88vh;">
<div class="row main-wrapper">
  <div class="col-12" style="padding-left: 0px;padding-right: 0px;">
    <div class="back" style="height:95px">
      <form class="shadow form-horizontal back edit-setting" #f="ngForm" name="userForm" style="height: 95px;">
        <div class="row">
          <div class="col-3" [ngClass]="{'give_opacity' : make_blur_disable}">
            <span class="step_text">Step 1
              <span class="span_text">This is dummy text</span>
            </span>
            <div class="row steps_div">
              <div class="verticle_line"></div>
              <div class="col-3 col_3_label">
                <span class="client_label">Choose Client Or Product</span>
              </div>
              <div class="col-1"></div>
              <div class="col-7">
                <div class="row taxradio" style="margin-top: 15px;">
                  <input type="radio" id="clientbtn" name="fileType" checked (click)="showClient()">
                  <label for="clientbtn" class="taxonitem fontsize13 border-right-none font-custom-bold" style="width: 92px;">
                    <i class="fa fa-check-circle"></i> Client
                  </label>

                  <input type="radio" id="productbtn" name="fileType" (click)="showProduct()">
                  <label for="productbtn" class="taxonbill fontsize13 border-left-right-none font-custom-bold" style="width: 92px;">
                    <span><i class="fa fa-check-circle"></i></span> Product
                  </label>
                </div>
              </div>

            </div>
          </div>
          <div class="col-3" [ngClass]="{'give_opacity' : make_blur_disable}">
            <span class="step_text">Step 2
              <span class="span_text">This is dummy text</span>
              <div class="row steps_div" *ngIf="showClientDiv == true">
                <div class="verticle_line"></div>
                <div class="col-3 col_3_label">
                  <span class="client_label">Choose File Format</span>
                </div>
                <div class="col-9 row" style="padding: 15px 2px 2px 2px;">
                    <a href="../../../assets/excel_files/clients.csv" download class="file_text btn btn-raised save_btn btn-custom-1 pull-right font-weight-bold ml-2"
                      style="color: #0299ff !important;font-family: quicksand_bold !important;">
                      <img src="assets/images/settings/csv.png" class="file_icon">CSV
                    </a>
                    <a href="../../../assets/excel_files/clients.xls" download class="file_text btn btn-raised save_btn btn-custom-1 pull-right font-weight-bold ml-2"
                      style="color: #0299ff !important;font-family: quicksand_bold !important;">
                      <img src="assets/images/settings/xls.png" class="file_icon">XLS
                    </a>
                    <a href="../../../assets/excel_files/clients.xlsx" download class="file_text btn btn-raised save_btn btn-custom-1 pull-right font-weight-bold ml-2"
                      style="color: #0299ff !important;font-family: quicksand_bold !important;">
                      <img src="assets/images/settings/xlsx.png" class="file_icon">XLSX
                    </a>
                </div>
              </div>
              <div class="row steps_div" *ngIf="showProductDiv == true">
                <div class="verticle_line"></div>
                <div class="col-3 col_3_label">
                  <span class="client_label">Choose File Format</span>
                </div>
                <div class="col-9 row" style="padding: 13px 2px 2px 5px">
                    <a href="../../../assets/excel_files/products.csv" download class="file_text btn btn-raised save_btn btn-custom-1 pull-right font-weight-bold ml-2"
                    style="color: #0299ff !important;font-family: quicksand_bold !important;">
                    <img src="assets/images/settings/csv.png" class="file_icon">CSV
                  </a>
                  <a href="../../../assets/excel_files/products.xls" download class="file_text btn btn-raised save_btn btn-custom-1 pull-right font-weight-bold ml-2"
                    style="color: #0299ff !important;font-family: quicksand_bold !important;">
                    <img src="assets/images/settings/xls.png" class="file_icon">XLS
                  </a>
                  <a href="../../../assets/excel_files/products.xlsx" download class="file_text btn btn-raised save_btn btn-custom-1 pull-right font-weight-bold ml-2"
                    style="color: #0299ff !important;font-family: quicksand_bold !important;">
                    <img src="assets/images/settings/xlsx.png" class="file_icon">XLSX
                  </a>
                </div>
              </div>
            </span>
          </div>
          <div class="col-3" [ngClass]="{'give_opacity' : make_blur_disable}">
            <span class="step_text">Step 3
              <span class="span_text">This is dummy text</span>
            </span>
            <div class="row steps_div">
              <div class="verticle_line"></div>
              <div class="col-4 col_3_label">
                <span class="client_label">Drag File<br/> To <br/>Upload</span>
              </div>
              <div class="col-2" style="padding: 19px 2px 2px 24px;">
                <span class="client_label">Or</span>
              </div>
              <div class="col-4" style="padding: 15px 2px 2px 2px;">
                <label  class="btn btn-raised btn-custom-1 width20btn upload_btn">Upload
                  <input type="file" style="display:none" (change)="incomingfile($event);"  placeholder="Upload file" accept=".xlsx, .xls, .csv" required />
                </label> 
              </div>
            </div>
          </div>
          <div class="col-3" [ngClass]="{'give_opacity':make_blur_disable == false}">
            <span class="step_text">Step 4
              <span class="span_text">This is dummy text </span>
            </span>
            <div class="row steps_div">
              <div class="verticle_line"></div>
              <div style="padding: 8px 2px;">
                <button type="button" (click)="clearData()"
                  class="btn btn-raised save_btn btn-custom-1 width25btn pull-right font-weight-bold ml-2"
                  style="width: 94px;color: #0299ff !important;font-family: quicksand_bold !important;">
                  CLEAR
                </button>
                <button type="button" style="width: 94px;" (click)="save(f.valid,0)" type="button" id="saveClientBtn1"
                  class="btn save_btn btn-raised width25btn pull-right font-weight-bold ml-2">
                  SAVE
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
 
  <div class="col-12" style="margin-top: 10px;padding-left: 0px;padding-right: 0px;height: 500px;">
    <!-- clients records table -->
    <table width="100%" *ngIf="showClientsTable && file !== undefined || addClientManually == true" class="table">
      <thead>
        <tr>
          <td style="width: 20px !important;background-color: white;"><input type="text" class="form-control td_header" readonly />
          </td>
          <td style="width: 45px;"><input style="font-family: quicksand_bold !important;" type="text" class="form-control td_header" value="Sr.no" readonly /></td>
          <td style="width: 190px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Organization Name" readonly /></td>
          <td style="width: 126px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Contact Person" readonly /></td>
          <td style="width: 120px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Address Line 1" readonly /></td>
          <td style="width: 120px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Address Line 2" readonly /></td>
          <td style="width: 120px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Address Line 3" readonly /></td>
          <td style="width: 120px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Business Id" readonly /></td>
          <td style="width: 120px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Business Detail" readonly /></td>
          <td style="width: 120px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Contact No" readonly /></td>
          <td style="width: 120px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Email Id" readonly /></td>
          <td style="width: 134px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Shipping Address" readonly /></td>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let item of clientRecords; let in = index">
            <td class="number_tag" style="padding: 2px 4px 0px 8px !important;width: 20px !important;">
              <img class="hg_20"  (click)="remove(in)" src="assets/images/grey_cross.png">
            </td>
            <td style="width: 20px;" class="number_tag">{{in+1}}</td>
            <td>
              <input type="text" name="name-{{in}}" class="form-control box-red" [ngClass]="{ 'box-grey': item.name }"
                onfocus="this.select()" [(ngModel)]="item.name" required /> </td>
            <td>
              <input type="text" name="contactPersonName-{{in}}" class="form-control" onfocus="this.select()"
                [(ngModel)]="item.contactPersonName" />
            </td>
            <td>
              <input type="text" name="addressLine1-{{in}}" class="form-control" onfocus="this.select()"
                [(ngModel)]="item.addressLine1" />
            </td>
            <td>
              <input type="text" name="addressLine2-{{in}}" class="form-control" onfocus="this.select()"
                [(ngModel)]="item.addressLine2" />
            </td>
            <td>
              <input type="text" name="addressLine3-{{in}}" class="form-control" onfocus="this.select()"
                [(ngModel)]="item.addressLine3" />
            </td>
            <td>
              <input type="text" name="businessId-{{in}}" class="form-control" onfocus="this.select()"
                [(ngModel)]="item.businessId" />
            </td>
            <td>
              <input type="text" name="businessDetail-{{in}}" class="form-control" onfocus="this.select()"
                [(ngModel)]="item.businessDetail" />
            </td>
            <td>
              <input type="text" name="number-{{in}}" class="form-control" onfocus="this.select()"
                [(ngModel)]="item.number" />
            </td>
            <td>
              <input type="text" name="email-{{in}}" class="form-control" onfocus="this.select()"
                [(ngModel)]="item.email" />
            </td>
            <td>
              <input type="text" name="shippingAddress-{{in}}" class="form-control" onfocus="this.select()"
                [(ngModel)]="item.shippingAddress" />
            </td>
          </tr>
          
        </tbody>
        <div>
            <button class="btn save_btn btn-raised pull-right font-weight-bold ml-2" style="padding: 4px 15px 4px 15px !important;
            font-size: 16px !important;" type="button" (click)="addFieldValues()">Add</button>
          </div>
    </table>
    
    <!-- products record table -->
    <table width="100%" *ngIf="showProductsTable && file !==undefined || addProductManually == true" class="table">
      <thead>
        <tr>
          <td style="width: 58px;background-color: white;font-family: quicksand_bold !important;"><input type="text" class="form-control td_header" readonly />
          </td>
          <td style="width: 58px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Sr.no" readonly /></td>
          <td><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Product Name" readonly /></td>
          <td><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Unit" readonly /></td>
          <td><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Description" readonly /></td>
          <td><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Rate" readonly /></td>
          <td><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Tax Rate" readonly /></td>
          <td><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Product Code" readonly /></td>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let item of productRecords; let i = index">
            <td class="number_tag" style="padding: 4px 4px 0px 8px !important;">
              <img class="hg_20" (click)="productRemove(i)" src="assets/images/grey_cross.png">
            </td>
            <td class="number_tag">
              <span>{{i+1}}</span>
            </td>
            <td>
                <input type="text" name="prodName-{{i}}" class="form-control box-red" [ngClass]="{ 'box-grey': item.prodName }"
                onfocus="this.select()" [(ngModel)]="item.prodName" required />
            </td>
            <td>
              <input type="text" name="unit-{{i}}" class="form-control" onfocus="this.select()" [(ngModel)]="item.unit" />
            </td>
            <td>
              <input type="text" name="discription-{{i}}" class="form-control" onfocus="this.select()" [(ngModel)]="item.discription" />
            </td>
            <td>
                <input type="text" name="rate-{{i}}" class="form-control" onfocus="this.select()" [(ngModel)]="item.rate" />
            </td>
            <td>
                <input type="text" name="taxRate-{{i}}" class="form-control" onfocus="this.select()" [(ngModel)]="item.taxRate" />
            </td>
            <td>
                <input type="text" name="productCode-{{i}}" class="form-control" onfocus="this.select()" [(ngModel)]="item.productCode" />
            </td>
            
          </tr>
          <button class="btn save_btn btn-raised width25btn pull-right font-weight-bold ml-2" type="button" (click)="addFieldValues()">Add</button>
        </tbody>
   
    </table>

    <!-- dropdown -->
    <div class="row">
      <!-- <img src="assets/images/batch_background.png" class="img" style="position: absolute;width: 100%;opacity:.3;margin-left: 16px;"> -->
      <!-- empty client table -->
      
      <table *ngIf="showClientDiv == true && make_blur_disable == false" width="100%" class="table" style="position: absolute;opacity:0.1;">
        <thead>
          <tr>
            <td style="width: 30px;background-color: white;width: 20px;"><input type="text" class="form-control td_header" readonly />
            </td>
            <td style="width: 45px;"><input style="font-family: quicksand_bold !important;" type="text" class="form-control td_header" value="Sr.no" readonly /></td>
            <td style="width: 180px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Organization Name" readonly /></td>
            <td style="width: 126px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Contact Person" readonly /></td>
            <td style="width: 120px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Address Line 1" readonly /></td>
            <td style="width: 120px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Address Line 2" readonly /></td>
            <td style="width: 120px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Address Line 3" readonly /></td>
            <td style="width: 120px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Business Id" readonly /></td>
            <td style="width: 120px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Business Detail" readonly /></td>
            <td style="width: 120px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Contact No" readonly /></td>
            <td style="width: 120px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Email Id" readonly /></td>
            <td style="width: 134px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Shipping Address" readonly /></td>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor="let item of fieldArray; let in = index">
              <td class="number_tag" style="padding: 2px 4px 0px 16px !important;width: 20px;">
                <img class="hg_20"  (click)="remove(in)" src="assets/images/grey_cross.png">
              </td>
              <td style="width: 10px;" class="number_tag">{{in+1}}</td>
              <td>
                <input type="text" name="name-{{in}}" class="form-control box-red" [ngClass]="{ 'box-grey': item.name }"
                  onfocus="this.select()" required /> </td>
              <td>
                <input type="text" name="contactPersonName-{{in}}" class="form-control" onfocus="this.select()"
                   />
              </td>
              <td>
                <input type="text" name="addressLine1-{{in}}" class="form-control" onfocus="this.select()"
                   />
              </td>
              <td>
                <input type="text" name="addressLine2-{{in}}" class="form-control" onfocus="this.select()"
                 />
              </td>
              <td>
                <input type="text" name="addressLine3-{{in}}" class="form-control" onfocus="this.select()"
                   />
              </td>
              <td>
                <input type="text" name="businessId-{{in}}" class="form-control" onfocus="this.select()"
                  />
              </td>
              <td>
                <input type="text" name="businessDetail-{{in}}" class="form-control" onfocus="this.select()"
                   />
              </td>
              <td>
                <input type="text" name="number-{{in}}" class="form-control" onfocus="this.select()"
                 />
              </td>
              <td>
                <input type="text" name="email-{{in}}" class="form-control" onfocus="this.select()"
                   />
              </td>
              <td>
                <input type="text" name="shippingAddress-{{in}}" class="form-control" onfocus="this.select()"
                   />
              </td>
            </tr>
          </tbody>
      </table>
      
      <!-- empty product table -->
      
      <table *ngIf="showProductDiv == true && make_blur_disable == false" width="100%" class="table" style="position: absolute;opacity:.3;">
        <thead>
          <tr>
            <td style="width: 58px;background-color: white;font-family: quicksand_bold !important;"><input type="text" class="form-control td_header" readonly />
            </td>
            <td style="width: 58px;"><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Sr.no" readonly /></td>
            <td><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Product Name" readonly /></td>
            <td><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Unit" readonly /></td>
            <td><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Description" readonly /></td>
            <td><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Rate" readonly /></td>
            <td><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Tax Rate" readonly /></td>
            <td><input type="text" style="font-family: quicksand_bold !important;" class="form-control td_header" value="Product Code" readonly /></td>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor="let item of fieldArray; let i = index">
              <td class="number_tag" style="padding: 4px 4px 0px 18px !important;">
                <img class="hg_20" (click)="productRemove(i)" src="assets/images/grey_cross.png">
              </td>
              <td class="number_tag">
                <span>{{i+1}}</span>
              </td>
              <td>
                  <input type="text" name="prodName-{{i}}" class="form-control box-red" [ngClass]="{ 'box-grey': item.prodName }"
                  onfocus="this.select()" required />
              </td>
              <td>
                <input type="text" name="unit-{{i}}" class="form-control" onfocus="this.select()"/>
              </td>
              <td>
                <input type="text" name="discription-{{i}}" class="form-control" onfocus="this.select()" />
              </td>
              <td>
                  <input type="text" name="rate-{{i}}" class="form-control" onfocus="this.select()" />
              </td>
              <td>
                  <input type="text" name="taxRate-{{i}}" class="form-control" onfocus="this.select()"/>
              </td>
              <td>
                  <input type="text" name="productCode-{{i}}" class="form-control" onfocus="this.select()"/>
              </td>
            </tr>
          </tbody>
     
      </table>
  </div>
  <div *ngIf="make_blur_disable == false" class="row">
    <div class="col-2"></div>
    <div class="col-3 image-upload">
        <label for="file-input" class="file-upload dropzone-container dropzone-drop-area">
          <div class="drop_icon_div">
            <img src="assets/images/upload_o.png" style="height: 40px;"/>
          </div>
          <input type="file" id="file-input" style="padding: 38px 0px 0px 175px;" (change)="incomingfile($event)"
            placeholder="Upload file" accept=".xlsx, .xls, .csv"
            required style="display:none"/>
        </label>
     
    </div>
    <div class="col-3">
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
     
      <span style="padding: 154px;text-align: center;font-size: 20px;font-family: quicksand_bold !important;">or</span>
    </div>
    <div class="col-4" style="padding-top:100px">
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
        <button class="save btn save_btn btn-raised center font-weight-bold" type="button" (click)="openManuallyAddField()">Add Manually</button>
    </div>
    <div class="col-1"></div>
  </div>
        
  </div>
  
</div>
</div>


<!-- Error MODAL starts -->
<div id="errormessage" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" aria-hidden="true"
data-backdrop="static" data-keyboard="false">
<div class="modal-dialog" style="max-width: 435px;margin-top: 135px;">
  <div class="modal-content" style="border: 0px solid rgba(0,0,0,.2);border-radius: 1px;">
    <div class="modal-header" style="border-bottom: 0px solid #e9ecef;">
        <img class="center" src="assets/images/connection_lost.png" alt="logo">
    </div>
    <div class="modal-body">
      <h3 class="title">Connection Lost !</h3>
      <p style="padding-left:25px;padding-right:25px">Make sure your wifi or cellular data is turned on and try again !!!</p>
    </div>
    <div class="modal-footer" style="border-top: 0px solid #e9ecef;">
      <button type="button" class="save btn save_btn btn-raised width25btn center font-weight-bold" 
      data-dismiss="modal" aria-label="Close" style="margin-top: -34px;;opacity: unset;">
        OK
      </button>
     
    </div>
  </div>
</div>
</div>
<!-- Error MODAL ends -->
