/* Assets form CSS */
.main-wrapper {
	background-color: #e6ecf0 !important;
	overflow-x: hidden;
	min-height: 100vh;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
#main {
  position: relative;
  background-color: #e6ecf0 !important;
  /* padding-top: 12px; */
  padding-bottom: 10px;
}
.shadow {
	box-shadow: 0 .2rem 0.5rem rgba(0,0,0,.15)!important;
}
.item-list {
	padding-left: 30px;
	max-height: 588px;/*525*/
	overflow: hidden;
}
.scroll-bar-shadow {
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
}

.filter-box {
	background: #ffffff;
	height: 116px !important;
}
.back-add-list {
	font-size: 15px;
	padding: 6px 0px 6px 15px;
	text-align: left !important;
	width: 100%;
	background-color: #f1f6f9;
	display: table;
	color: #707780;
	border-bottom: 0px solid #b2c2cd;
	margin-top: -7px;
}
.list-btn {
	width: 38px;
	height: 38px;
	padding: 6px 0px 0px 6px;
	background: #1a73cc;
	border-radius: 2px;
}
.list-btn:hover{
	background: #1e81e3;
}
.list_drop{
	width: 38px;
	height: 38px;
	padding: 6px 0px 0px 6px;
	border: #CCCCCC solid 1px;
	border-radius: 6px !important;
}
.list_drop:hover{
border: #1a73cc solid 1px;
}
.search-box {
	margin: 8px 0 7px 0;
}
.filter-box input {
	background: #ffffff url(../images/list-icon/search16.png) no-repeat 10px;
	padding-left: 35px;
	height: 42px !important;
	color: black;
	margin-bottom: 20px;
	font-size: 13px;
}
a, a:hover, a:focus {
	color: #1a73cc !important;
	cursor: pointer;
}
.list-header-col {
	color: #212121!important;
	font-size: 12px;
	font-family: helvetica_regular !important;
}
.mCustomScrollbar {
	max-height: 492px;/*380*/
	overflow-y: scroll;
}
.billing-input {
  border: 1px solid #ccc;
  padding: 0px 10px;
  height: 40px !important;
  margin-top: 0px;
}
.product-list {
	border-bottom: 1px solid #d2d2d2;
	padding: 10px auto;
	font-weight: 400;
}
.item {
	margin: 0;
	border-bottom: 1px solid #ecedef;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 14px;
	word-wrap: break-word;
	background-color: #fdfdfe;
}
.terms_item {
	margin: 0;
	border-bottom: 1px solid #ecedef;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 14px;
	word-wrap: break-word;
	background-color: #fdfdfe;
}
/* .item:hover{
	background-color: #d6e8fa !important;
} */
.item span {
	height: 18px;
	font-size: 12px;
}
.product-list h5, .productInventoryList h5 {
	margin: 0;
}
.fontsize13 {
	font-size: 13px !important;
	color: #474959;
	margin-bottom: 7px;
}
.no-data-messsage {
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	z-index: 2;
	padding: 10px;
	/* background: #ededed; */
}
.back_change {
	background: #ffffff !important;
}

.no-border-last {
  border-bottom: none !important;
}
a.more {
	text-align: right;
	margin: 0;
	width: 100%;
	font-size: 15px;
	padding: 10px;
	background: #ffffff !important;
	color: #0c82df !important;
	border-radius: 0px !important;
	border: 1px solid #ededed;
}
.item-form {
	/* padding-left: 20px; */
	height: 100%;
	/* padding-right: 30px; */
}
#main .form-group {
	margin: 0;
}
.form-horizontal .form-group {
	padding: 0;
}
.form-horizontal .form-group {
	margin-right: -15px;
	margin-left: -15px;
}
.back {
	background: #ffffff;
	margin-top: 14px;
}
.editBtnShow h4, .editBtnShow div {
	display: inline-block;
}
.btn.btn-raised {
	border-radius: 6px;
}

.form-group .input-group .input-group-addon, .input-group .input-group-addon {
	padding-right: 1px;
	padding-left: 0;
	width: 37px;
}
.input-group-addon {
	padding: 6px 12px;
	text-align: center;
	background: #ffffff !important;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	height: 29px !important;
	letter-spacing: 0.5px;
}
.form-error {
	color: #D9534F;
	font-size: 11px;
    margin-top: -53px;
}
.form-error {
	position: absolute; 
	top: 33px;
}
.custom-add-product {
  height: 100%;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
}
.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus,
.btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover,
.btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus,
.btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover,
fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active,
fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
  background-color: #8fbae6 !important;
  border: #8fbae6 solid 2px !important;
  -webkit-box-shadow: 2px 3px 8px 1px rgba(118,111,111,0.57) !important;
  box-shadow: 2px 3px 8px 1px rgba(118,111,111,0.57) !important;
  -moz-box-shadow: 2px 3px 8px 1px rgba(118,111,111,0.57) !important;
}
.client-view-label {
  padding-left: 14vw;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus {
  color: black !important;
  text-decoration: none;
  background-color: #e0dede !important;
  outline: 0;
}
.dropdown-menu a:hover {
  cursor: pointer;
  background-color: #eaf7ff !important;
}
.vtop {
  vertical-align: top;
  margin-bottom: 17px;
}
.c-name {
  font-size: 50px;
  font-family: quicksand_bold;
  width: 100%;
  margin-left: 20px;
  text-align: right;
	margin: 0 auto;
	text-transform: uppercase;
	color: #1c1c1d;
	
}
.ngx-datepicker-container{
  position: absolute;
  top: 0;
  left: 15px;
  width: 82%;
}
.hd td {
	border-bottom: 1px solid #ddd;
	letter-spacing: 0.5px !important;
}
.hd td, .hd td input {
	background-color: #5c5c5d;
	letter-spacing: 0.5px !important;
	border: none;
	color: #fff;
	font-size: 13.5px !important;
  font-family: helvetica_light !important;
}
.hd td input {
	/* text-align: right; */
	letter-spacing: 0.5px !important;
	border: 1px solid #5c5c5d;
}
input:focus {
  border:2px solid #3399ff;
}
textarea:focus {
  border:2px solid #3399ff;
}
.row-item td {
	border-bottom: none;
	border-top: none;
  padding-bottom: 7px;
	padding-top: 7px;
	word-wrap: break-word;
}
.column tbody {
	max-height: 250px;
	overflow: auto;
}
.column td {
  padding: 3px 2px;
  vertical-align: unset;
}
.edit-invoice .column tbody tr td:nth-last-child(1), .edit-estimate .column tbody tr td:nth-last-child(1) {
  position: absolute !important;
}
.discount-tax-pad {
  padding-top: 15px;
}
button.add-line-item-button {
  background: #d1e5f8 !important;
  padding: 4px;
  padding-right: 4px;
  text-transform: none;
  margin-left: 1px;
  color: #2196f3 !important;
	border: none !important;
	cursor: pointer;
}
.remove-button {
	border: none !important;
	padding-left: 8px !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
.input-group-addon {
	padding: 6px 12px;
	text-align: center;
	background: #ffffff !important;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.item .list-date {
	text-align: center;
	padding: 6px 4px 5px 8px;
}
.lineItemDiv {
	margin-top: 14px;
}
.balance-row {
	margin-top: 8px;
	padding: 7.5px;
	background-color: #5c5c5d;
	color: #fff;
}
.adr {
	width: 98%;
}
.term-cond-label {
  background: #e0dede;
  border: 1px solid #e3e3e3;
	padding: 6.5px 10px;
	margin-top: 4px;
}
.width85 {
	width: 85%;
	/* margin: 0 auto; */
}
.fontsize18 {
	font-size: 18px !important;
}
.selected {
	background-color: #1a73cc !important;
	color:white !important;
}
.selected:hover{
	background-color: #1e81e3 !important;
}
.selected-items
{
	font-size: 11px;
	word-wrap: break-word;
	/* max-height: 80px; */
	white-space: pre-line;
	color: #a4a4a4;
}
.selected-items-display
{
	font-size: 11px;
	word-wrap: break-word;
	white-space: pre-wrap;
	color: #a4a4a4;
}
.mat-option.mat-active{
	background: none !important;
}
.add_client_modal_body{
  padding: 1rem 44px !important;
}
.add_client_popup_modal {
	max-width: 618px !important;
	margin-top: 62px !important;
}
