<div class="row main-wrapper">
    <div class="row col-md-3" id="main"style="padding-top: 0px !important;">
        <form class="form-horizontal back shadow settingForm"  #addTaxesForm="ngForm" enctype="multipart/form-data">
          <div class="row mx-0">
            <div class="row">
                <div class="label_div" (click)="router.navigate(['/setting/primary'])" [ngClass]="{'selectedSetting' : router.url === '/setting/primary'}">
                  <span>Primary settings</span>
                </div>
                <div class="label_div" (click)="router.navigate(['/setting/customField'])" [ngClass]="{'selectedSetting' : router.url === '/setting/customField'}">
                  <span>Custom Field Name</span>
                </div>
                <div class="label_div" (click)="router.navigate(['/setting/banking'])" [ngClass]="{'selectedSetting' : router.url === '/setting/banking'}">
                  <span>Banking Details</span>
                </div>
                <div class="label_div" (click)="router.navigate(['/setting/tnc'])" [ngClass]="{'selectedSetting' : router.url === '/setting/tnc'}">
                  <span>Terms & Conditions</span>
                </div>
            </div>
          </div>
          
        </form>
      </div>
  <div class="col-9" id="main">
    <div class="back"><!--style="margin: 0px auto; max-width:1000px;" -->
      <form class="shadow" name="userForm" #form="ngForm">
        <div align="center" class="custom-field-form" style="padding: 120px;height: 645px;">
          <div class="col-12" style="margin-bottom: 10px;">
            <h5 class=" form-header font-custom-bold" style="margin-top: 0px;">
              Banking details & PayPal.Me
            </h5>
          </div>

          <div class="col-12" style="margin-bottom: 38px;">
            <input [(ngModel)]="org.paybaleToDetails" name="paybaleToDetails"
              class="payment-detail-input form-control" placeholder="{{settings.payableTo ? settings.payableTo : 'Payable To'}}" onfocus="this.select()"
              style="width: 300px;"
            >
          </div>

          <div class="col-12" style="margin-bottom: 5px;">
            <span class="font-custom-bold fontsize12" style="margin-left: -200px">{{settings.bankingDetails ? settings.bankingDetails : 'Banking Details'}}</span>
          </div>

          <div class="col-12" style="margin-bottom: 10px;">
            <div class="form-group">
              <textarea type="text" [(ngModel)]="org.bankingDetails" name="bankingDetails" class="form-control mCustomScrollbar style-3"
                placeholder="{{settings.bankingDetails ? settings.bankingDetails : 'Banking Details'}}" style="height: auto !important;" onfocus="this.select()"
              ></textarea>
            </div>
          </div>

          <div class="col-12" style="margin-bottom: 5px;">
            <span class="font-custom-bold fontsize12" style="margin-left: -212px">{{settings.otherDetails ? settings.otherDetails : 'Other Details'}}</span>
          </div>

          <div class="col-12" style="margin-bottom: 10px;">
            <div class="form-group">
              <textarea type="text" [(ngModel)]="org.paypalDetails" name="paypalDetails" class="form-control mCustomScrollbar style-3"
                placeholder="PayPal Details" style="height: auto !important;" onfocus="this.select()"
              ></textarea>
            </div>
          </div>

          <div class="col-12" style="margin-bottom: 10px;">
            <input type="checkbox" name="payPalActivatinFlag" id="payPalActivatinFlag"
              [(ngModel)]="activeSetting.payPalActivatinFlag" style="margin-right: 10px;"
            >
            <span class="fontsize12" style="display:inline">Add PAY NOW! button using PayPal.Me</span>
          </div>

          <div class="col-12" *ngIf="activeSetting.payPalActivatinFlag" style="margin-bottom: 10px;">
            <div style="display: inline;">PayPal.Me/ </div>
            <input [(ngModel)]="activeSetting.payPalUserAccountURL" name="payPalUserAccountURL" onclick="this.select()"
              placeholder="yourname" style="width:226px;padding: 0px;margin: 0;display: inline;border-top: none;
                border-left: none;border-right: none;border-bottom: 1px #CCCCCC solid;">
          </div>

          <div style="margin: 0 auto; max-width: 300px">
            <button type="submit" id="bankingDetailSubmit" style="width: 300px;border: none !important;"
              class="save_btn btn-raised font-weight-bold ml-2 font-custom-bold"
              (click)="save(form.valid)"
            >
              SAVE
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Error MODAL starts -->
<div id="errormessage" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" aria-hidden="true"
data-backdrop="static" data-keyboard="false">
<div class="modal-dialog" style="max-width: 435px;margin-top: 135px;">
  <div class="modal-content" style="border: 0px solid rgba(0,0,0,.2);border-radius: 1px;">
    <div class="modal-header" style="border-bottom: 0px solid #e9ecef;">
      <img class="center" src="assets/images/connection_lost.png" alt="logo" class="center error_logo">
    </div>
    <div class="modal-body">
      <h3 class="title">Connection Lost !</h3>
      <p class="erroe_para">Make sure your wifi or cellular data is turned on and try again
        !!!</p>
    </div>
    <div class="modal-footer" style="border-top: 0px solid #e9ecef;">
      <button type="button" class="btn save_btn btn-raised width25btn center font-weight-bold"
        data-dismiss="modal" aria-label="Close" style="margin-top: -34px;;opacity: unset;">
        OK
      </button>

    </div>
  </div>
</div>
</div>
<!-- Error MODAL ends -->
