@import '../../../../assets/css/form.css';

.custom-field-form .form-group {
  width: 300px !important;
}
.form-control {
  box-shadow: none !important;
  border-radius: 0px;
  height: 37px !important;
  letter-spacing: 0.5px;
  font-size: 13px !important;
}
.back{
  background: #ffffff;
  margin-top: 14px;
  height: 660px !important;
}