@import '../../../assets/css/form.css';


.product-header {
  font-size: 18px !important;
  font-family: helvetica_regular !important;
  color: #272727 !important;
}
.product-form input{
  height: 37px !important;
  margin-bottom: 0px !important;
}
.product-form .input-group-addon{
  background: #e0dede57 !important;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-right: 0;
  padding: 2px 12px;
}
.product-form input[type=text]{
  border-left: none !important;
}
.product-form img {
  padding:6px 14px 0px 7px;
  width: 40px;
  height: auto;
}
.box_red{
  border-color:red;
}
.mCustomScrollbar{
  max-height: 452px !important;
  overflow-y: scroll;
  height: auto;
}
.filter-box input{
	background: #ffffff url(/assets/images/list-icon/search16.png) no-repeat 10px;
}
.filter-box{
	background: #ffffff;
}
