<div class="row main-wrapper">

  <!--<div class="pad0" id="sidebar-menu" ng-include="'views/elements/navigation.html'" pageslide ps-open="checked" ps-side="left"  ps-push="true" ps-click-outside="false" ps-auto-close="true" ></div>-->

  <div class="col-md-12 col-sm-12 col-xs-12" id="main">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12 item-list prod-list pad-right-0">

        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 pad0 filter-box">
          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3" style="padding-top: 15px;">
                <a ng-click="addNew()" title="Add New" class="pull-left list-btn cus-img"><img src="/assets/images/list-icon/add-plus-button24.png"></a>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 text-center pad0" style="padding-top: 15px;">
                <button type="button" class="btn btn-custom-1 btn-raised no-border-radius font-custom-bold" ng-click="openBatch()">Batch
                  Upload
                </button>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3" style="padding-top: 15px;" ng-init="sortProduct = 'id';setSortProducts('id');">
                <a ng-click="myFunction();" style="cursor: pointer;background: #ffffff" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" class="dropdown-toggle pull-right list-btn cus-img"><img alt="logo"
                    src="/assets/images/list-icon/sort-ascending-button24.png">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li ng-class="{active:isByClient}">
                    <a href="" ng-click="setSortProducts('name')">By Name</a>
                  </li>
                  <li ng-class="{active:isByDate}">
                    <a href="" ng-click="setSortProducts('rate')">By Rate</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 search-box">
            <div class="form-group label-floating">
              <!--<label class="control-label fontsize13">Search, Filter Clients</label>-->
              <input class="form-control" ng-model="filterProduct" ng-change="selectedProduct = -1;" placeholder="Search Product" />
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 back-add-list text-center list-header-col font-custom-bold">
          Select Product to view or edit
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 pad0 scroll mCustomScrollbar" scroll-bar>
          <div align="center" style="background-color: #fff;">
            <!-- <md-progress-circular ng-hide="productListsLoader" style="color: #1A73CC" class="md-hue-2 text-center"
              md-diameter="25px"></md-progress-circular> -->
          </div>
          <div
            class="item prodname row product-list"
            ng-repeat="product in productList | orderBy:dynamicOrder | filter:{$:filterProduct} | filter:isStatus | limitTo:productDisplayLimit"
            id="prod{{$index}}" ng-class="selectedProduct == $index ? 'selected' : '';"
          >

            <div class="col-md-2 col-sm-2 col-xs-2">
              <img src="../assets/images/list-icon/pro.png" style="vertical-align: middle;width: 36px; height: 36px;">
              <!--<div class="circle" ng-random-color-class ng-classes="classes"><img src="../assets/images/product.png"  > </div>-->
            </div>

            <div class="col-md-8 col-sm-8 col-xs-8 pad0" ng-click="viewThis(product, $index)">
              <span class="col-md-8 col-sm-8 col-xs-8 pad-right-0 font-custom-bold fontsize13">
                <div class="ellipsis"> {{ product.prodName }}</div>
              </span>
              <span class="col-md-4 col-sm-4 col-xs-4 pad-right-0 txtr total-color font-custom-book">
                Tax: {{ product.taxRate }}%
              </span>
              <span class="col-md-8 col-sm-8 col-xs-8 pad0 font-custom-book fontsize12">
                <div class="ellipsis">{{product.discription}}</div>
              </span>
              <span class="col-md-4 col-sm-4 col-xs-4 txtr pad-right-0 font-custom-bold fontsize12">{{ product.rate |
                currency:number:2}}</span>
            </div>

            <div class="col-md-1 col-sm-1 col-xs-1" ng-class="selectedProduct == $index ? 'selected1' : 'unselected1';">
              <img src="/assets/images/next12.png">
            </div>

          </div>
          <div class="no-data-messsage" ng-show=" productList.length > 0 && !productListsLoader ">
            <h4>No Product to display, please create a product</h4>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 pad0" ng-class="{'list-shadow':productList.length > productDisplayLimit }">
            <a href="javascript:void(0)" ng-click="loadMore()" class="btn more" ng-hide="productList.length < productDisplayLimit || productList.length <= productDisplayLimit || (productList.length - productDisplayLimit) == 0 || filterProduct">Click
              to view more >></a>
          </div>
        </div>


      </div>

      <div class="col-md-9 col-sm-9 col-xs-12 item-form">
        <form class="form-horizontal" name="form">
          <div class="shadow">
            <div class="form-group back" style="padding: 18px;">
              <div class="col-md-8 col-sm-7 col-xs-7 ">
                <h4 class="form-header client-header" ng-hide="isCreate" style="margin-left: 59%">Create a new product
                </h4>
                <h4 class="form-header client-header" ng-hide="rightDivBtns || cancle" style="margin-left: 66%"> Edit
                  product </h4>
                <h4 class="form-header client-header" ng-hide="isEditBtn"> View Product </h4>
              </div>
              <div class="col-md-4 col-sm-5 col-xs-5 pad0 pull-right">
                <button type="button" class="btn btn-success btn-raised no-border-radius pull-right margin-left-15 width10btn"
                  ng-click="editThis(product)" ng-hide="isEditBtn"><img src="/assets/images/buttons-icon/pencil-edit-button16.png"
                    style=" padding: 0px 2px 3px 0px;width: 14px;height: 14px;"> Edit</button>
                <button type="button" ng-click="deleteProduct(data.product)" class="btn btn-raised btn-custom-1 no-border-radius pull-right margin-left-15 width10btn font-custom-bold"
                  ng-hide="deleteBtn" title="Delete Product" ng-disabled="!form.$valid ||inputReadonly == false">DELETE</button>
                <div class="rightDivBtns" ng-hide="rightDivBtns">
                  <button id="updateProBtn" type="button" ng-click="save(data, form.$valid,1)" class="btn btn-raised btn-success no-border-radius pull-right margin-left-15 width10btn font-custom-bold"
                    data-loading-text="Saving <i class='fa fa-spinner fa-spin '></i>" ng-show="cancle" ng-disabled="!form.$valid || inputReadonly == true ">SAVE</button>
                  <button id="saveProBtn" type="button" ng-click="save(data, form.$valid,2)" class="btn btn-raised btn-success no-border-radius pull-right margin-left-15 width10btn font-custom-bold"
                    data-loading-text="Updating <i class='fa fa-spinner fa-spin '></i>" ng-hide="cancle" ng-disabled="!form.$valid || inputReadonly == true ">UPDATE</button>

                  <button type="button" class="btn btn-custom-2 btn-raised no-border-radius pull-right margin-left-15 width10btn font-custom-bold"
                    ng-click="cancelThis()" ng-hide="cancle" ng-disabled="inputReadonly == true">CANCEL</button>
                  <button type="button" class="btn btn-custom-1 btn-raised no-border-radius pull-right margin-left-15 width10btn font-custom-bold"
                    ng-click="clearThis()" ng-hide="clearBtn" ng-disabled="inputReadonly == true">CLEAR</button>

                </div>
              </div>


              <div class="product-form">
                <div class="col-md-12 col-xs-12 col-sm-12 margin-top-20" ng-show="isEditBtn && !isBatchBtn">
                  <div style="margin: 0px auto 10px auto;max-width: 300px;">

                    <div class="form-group " ng-class="{ 'has-error':(form.$submitted || form.prod_name.$touched) && form.prod_name.$error.required}">
                      <div class="input-group">
                        <span class="input-group-addon"><img style="padding:0px 8px 0px 12px" src="/assets/images/product-icon/ic_normal_prod_name.png"></span>
                        <input type="text" ng-maxlength="45" ng-model="data.product.prod_name" name="prod_name" id="prod_name"
                          class="form-control" ng-readonly="inputReadonly" placeholder="Product Name" required />
                      </div>
                      <div class="form-error" ng-show="form.$submitted || form.prod_name.$touched">
                        <span ng-show="form.prod_name.$error.required">Product name required</span>
                        <span ng-show="form.prod_name.$error.maxlength">Must not be longer than 45 chars</span>
                      </div>
                    </div>
                  </div>

                  <div style="margin: 0px auto 10px auto;max-width: 300px;">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon"><img src="/assets/images/product-icon/ic_product_code_grey.png"></span>
                        <input type="text" ng-model="data.product.productCode" name="productCode" id="productCode"
                          class="form-control" ng-readonly="inputReadonly" placeholder="HSN Code" />
                      </div>

                    </div>
                  </div>

                  <div style="margin: 0px auto 10px auto;max-width: 300px;">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon"><img src="/assets/images/product-icon/ic_normal_unit.png"></span>
                        <input type="text" ng-model="data.product.unit" name="unit" id="unit" class="form-control"
                          ng-readonly="inputReadonly" placeholder="Unit" />
                      </div>

                    </div>
                  </div>
                  <div style="margin: 0px auto 10px auto;max-width: 300px;">
                    <div class="form-group">
                      <textarea elastic ng-model="data.product.discription" name="discription" id="discription" class="form-control"
                        ng-readonly="inputReadonly" placeholder="Description" style="max-height: 72px; height: 72px;"></textarea>
                    </div>
                  </div>

                  <div style="margin: 0px auto 10px auto;max-width: 300px;">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon"><img src="/assets/images/product-icon/ic_normal_rate.png"></span>
                        <input type="number" step="any" ng-model="data.product.rate" name="rate" class="form-control"
                          ng-readonly="inputReadonly" convert_decimal select-on-click required />
                        <!--min="0.01"-->
                      </div>
                    </div>
                  </div>

                  <div style="margin: 0px auto 10px auto;max-width: 300px;">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon"><img src="/assets/images/product-icon/ic_normal_tax_rate.png"></span>
                        <input type="number" step="any" min="0" ng-model="data.product.tax_rate" name="tax_rate" class="form-control"
                          ng-readonly="inputReadonly" convert_decimal select-on-click />
                      </div>
                    </div>
                  </div>
                  <div style="margin: 0px auto 10px auto;max-width: 300px;">
                    <div class="form-group">
                      <div
                        style="
                          display: -webkit-box;
                          display: -moz-box;
                          display: -ms-flexbox;
                          display: -webkit-flex;
                          display: flex;
                          flex-flow: row wrap;
                          -webkit-flex-flow: row wrap;
                        "
                      >
                        <div style="flex: 1;" class="font-custom-bold"> Manage Inventory</div>
                        <div style="flex: 1;">
                          <!-- <md-switch ng-model="data.product.inventory_enabled" ng-true-value="1" ng-false-value="0"
                            aria-label="Switch 2" style="margin: 0;"></md-switch> -->
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12 margin-top-20" ng-show="!isEditBtn && !isBatchBtn">
                  <div class="col-md-12 col-xs-12 col-sm-12" style="margin-bottom: 10px;">
                    <div class="col-md-6 col-sm-6  col-xs-6 client-view-label ">
                      <img src="/assets/images/product-icon/ic_normal_prod_name.png">
                      Product name:
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 client-view-body font-custom-bold">
                      {{data.product.prod_name}}
                    </div>

                  </div>
                  <div class="col-md-12 col-xs-12 col-sm-12" style="margin-bottom: 10px;">
                    <div class=" col-md-6 col-sm-6 col-xs-6 client-view-label ">
                      <img src="/assets/images/product-icon/ic_product_code_grey.png">
                      HSN code:
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 client-view-body font-custom-bold">
                      {{data.product.productCode}}
                    </div>

                  </div>
                  <div class="col-md-12 col-xs-12 col-sm-12" style="margin-bottom: 10px;">
                    <div class="col-md-6 col-sm-6 col-xs-6 client-view-label">
                      <img src="/assets/images/product-icon/ic_normal_unit.png">
                      Unit:
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 client-view-body font-custom-bold">
                      {{data.product.unit}}
                    </div>

                  </div>
                  <div class="col-md-12 col-xs-12 col-sm-12" style="margin-bottom: 10px;">
                    <div class="col-md-6 col-sm-6 col-xs-6 client-view-label">
                      <img src="/assets/images/product-icon/ic_normal_description.png">
                      Description:
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 client-view-body font-custom-bold">
                      {{data.product.discription}}
                    </div>

                  </div>
                  <div class="col-md-12 col-xs-12 col-sm-12" style="margin-bottom: 10px;">
                    <div class="col-md-6 col-sm-6 col-xs-6 client-view-label">
                      <img src="/assets/images/product-icon/ic_normal_rate.png">
                      Rate:
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 client-view-body font-custom-bold">
                      {{data.product.rate}}
                    </div>

                  </div>
                  <div class="col-md-12 col-xs-12 col-sm-12" style="margin-bottom: 10px;">
                    <div class="col-md-6 col-sm-6 col-xs-6 client-view-label">
                      <img src="/assets/images/product-icon/ic_normal_tax_rate.png">
                      Tax Rate:
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 client-view-body font-custom-bold">
                      {{data.product.tax_rate}}
                    </div>

                  </div>

                </div>
                <div class="col-md-12 col-xs-12 col-sm-12 margin-top-20" ng-show="isBatchBtn">
                  <div id="drop" style="width: 60%;margin: 0px auto 10px auto;">Drop a spreadsheet file here to see
                    sheet data</div>
                  <br>
                  <div style="margin: 0px auto 10px auto; width: 60%">
                    <input type="file" name="xlfile" id="xlf" style="display: inline;width: 44%;" /> ... or click here
                    to select a file
                  </div>
                  <br />
                  <div id="example" class="hot" style="margin-left: 13vw;"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 pull-right pad-right-0">
                  <button type="button" class="btn btn-success btn-raised no-border-radius pull-right width10btn"
                    ng-click="editThis(product)" ng-hide="isEditBtn"><img src="/assets/images/buttons-icon/pencil-edit-button16.png"
                      style=" padding: 0px 2px 3px 0px;width: 14px;height: 14px;"> Edit</button>
                  <button type="button" ng-click="deleteProduct(data.product)" class="btn btn-raised btn-custom-1 no-border-radius pull-right margin-right-15 width10btn font-custom-bold"
                    ng-hide="deleteBtn" title="Delete Product" ng-disabled="!form.$valid ||inputReadonly == false">DELETE</button>
                  <div class="rightDivBtns" ng-hide="rightDivBtns">
                    <button id="updateProBtn1" type="button" ng-click="save(data, form.$valid,1)" class="btn btn-raised btn-success no-border-radius pull-right width10btn font-custom-bold"
                      data-loading-text="Saving <i class='fa fa-spinner fa-spin '></i>" ng-show="cancle" ng-disabled="!form.$valid || inputReadonly == true ">SAVE</button>
                    <button id="saveProBtn1" type="button" ng-click="save(data, form.$valid,2)" class="btn btn-raised btn-success no-border-radius pull-right width10btn font-custom-bold"
                      data-loading-text="Updating <i class='fa fa-spinner fa-spin '></i>" ng-hide="cancle" ng-disabled="!form.$valid || inputReadonly == true ">UPDATE</button>
                    <button type="button" class="btn btn-custom-2 btn-raised no-border-radius pull-right margin-right-15 width10btn font-custom-bold"
                      ng-click="cancelThis()" ng-hide="cancle" ng-disabled="inputReadonly == true">CANCEL</button>
                    <button type="button" class="btn btn-custom-1 btn-raised no-border-radius pull-right margin-right-15 width10btn font-custom-bold"
                      ng-click="clearThis()" ng-hide="clearBtn" ng-disabled="inputReadonly == true">CLEAR</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>