<div *ngIf="activeEstimate" class="row main-wrapper">
  <div class="col-12" id="main">
    <div class="row">
      <div id="msgInv" *ngIf="viewTodaysEstimate == false" class="col-12 col-sm-9 item-form all-invoices inv-generator inv-gen">
        <form #estimateGeneratorAdd="ngForm" id="estimateGeneratorAdd" name="estimateGenerator" class="create-estimate"
          (ngSubmit)="save(estimateGeneratorAdd.valid)">
          <div class="shadow back p-4" style="border-radius: 2px;">
            <div class="col-12">
            <div class="vtop text-right">
              <span class="c-name" type="text" id="titleAdd" name="title">
                {{settings.mTvEstimate ? settings.mTvEstimate : 'EST_LABEL' | translate}}
              </span>
            </div>

            <!-- Estimate Details Header -->
            <div class="row">
              <div class="col-sm-6" id="clientDataAdd" name="clientData">
                    <div class="row">
                      <!-- Billing To -->
                      <div class="col-12">
                          <span type="text" value="" id="billToLabelAdd" class="adr bill-to font-custom-bold">
                            {{settings.mTvBillTo ? settings.mTvBillTo : 'BILL_TO_LABEL' | translate}}
                          </span>
  
                          <div class="input-group pl-0 inputWithIcon">
                            <input type="text" id="bill-to-input" style="height: 40px !important;" class="form-control billing-input"  placeholder="Search & Select Client"
                              matInput [formControl]="billingTo" [matAutocomplete]="auto1" *ngIf="!edit" (click)="closeAddClientModal()" [ngClass]="{ 'box_red': noClientSelected ===true }"
                            >
                             <i [ngClass]="{ 'hide_dropdown': billingTo.value }" class="filtersubmit"></i>
                            <i *ngIf="!edit && billingTo.value" (click)="closeAddClientModal()" style="-webkit-text-stroke: 2px white;" class="filtersubmit fa fa-close"></i> 
                            
                            <div *ngIf="edit && billingTo.value" class="font-custom-bold">{{billingTo.value.name}}</div>
                            <mat-autocomplete #auto1="matAutocomplete" class="mCustomScrollbar style-3" [displayWith]="displayWith"
                              autoActiveFirstOption (optionSelected)="selectedClientChange($event)"  id="style-3"
                            >
                              
                                <button *ngIf="openClientModal === false" (click)="openAddClientModal()"
                                  class="btn btn-primary add_client_btn">
                                  <i class="fa fa-plus"></i>
                                  Add New Client
                                </button>
                          
                              <mat-option style="color: #2c3e59" *ngFor="let client of (filteredClients | async | orderBy:'name':false:true)" [value]="client">
                                {{client.name}}
                              </mat-option>
                              <mat-option *ngIf="filteredClients && (filteredClients | async).length == 0" [value]="billingTo.value">
                                Add Client {{billingTo.value}}
                              </mat-option>
                            </mat-autocomplete>
                          </div>
                        </div>
                      

                      <!-- <div class="col-2" style="padding-top: 30px;">
                        <span>
                          <i *ngIf="clientListLoading" class="fa fa-spinner fa-spin" style="font-size:24px;"></i>
                        </span>
                      </div> -->

                      <!-- Address and Shipping Address -->
                      <div id="addressBarAdd" name="addressBar" class="col-12" style="margin-bottom: 15px;padding-top: 16px;">
                        <div class="row mx-0">
                          <div class="col-6 pl-0">
                            <span type="text" value="" id="BillAddressAdd" class="adr bill-to font-custom-bold">Address</span><br />
                            <div class="address-render" *ngIf="activeClient">{{activeClient.addressLine1}}<br /></div>
                            <div *ngIf="activeClient && activeClient.email">
                              Email: {{activeClient.email}}
                            </div>
                            <div *ngIf="activeClient && activeClient.number">
                              Contact No: {{activeClient.number}}
                            </div>
                          </div>
                          <div class="col-6 pr-0">
                            <span style="padding-left: 45px;" type="text" value="" id="shippingAddressAdd" class="adr bill-to font-custom-bold">
                             Shipping Address
                            </span>
                            <div class="address-render" *ngIf="shippingChange === false">{{shippingAddress}}<br /></div>
                            <div class="address-render" *ngIf="activeClient && shippingAdressChanged === true">{{activeClient.shippingAddress}}<br /></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2"></div>
              <div class="col-12 col-sm-4" id="estDataAdd">
                <div class="row"> 
                  <!-- Estimate Number and Dates -->
                  <div class="col-5" style="margin-top: 5px;">
                    <span class="font-custom-bold text-left w-100"> {{settings.mTvEstimate ? settings.mTvEstimate : 'Estimate'}} No.</span>
                  </div>
                  <div class="col-7">
                    <form #estNumberForm="ngForm" name="estNumberForm">
                      <div class="form-group" [class.has-error]="(estNumberForm.submitted || estNumberForm.estimateNumber ) && estNumberForm.estimateNumber.error.required">
                        <input type="text" id="estimateNumber" name="estimateNumber" class="form-control pr-0 light_font"
                          [(ngModel)]="activeEstimate.estimate_number" required onfocus="this.select()" />
                        <div class="form-error" *ngIf="estNumberForm.submitted || estNumberForm.estimateNumber">
                          <span *ngIf="estNumberForm.estimateNumber.error.required"> {{settings.mTvEstimate ? settings.mTvEstimate : 'Estimate'}} No. required</span>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

                <div class="row">
                  <div class="col-5" style="margin-top: 5px;">
                    <span class="font-custom-bold text-left w-100"> {{settings.mTvEstimate ? settings.mTvEstimate : 'Estimate'}} Date</span>
                  </div>
                  <div class="col-7">
                    <input type="text" class="form-control light_font" [formControl]="estimateDate" matInput [matDatepicker]="picker"
                      required (click)="picker.open()" style="margin-top: 4px !important;">
                    <mat-datepicker #picker></mat-datepicker>
                    <div class="form-error" *ngIf="estimateGeneratorAdd.submitted || estimateGeneratorAdd.touched">
                      <span *ngIf="estimateGeneratorAdd.error"> {{settings.mTvEstimate ? settings.mTvEstimate : 'Estimate'}} date required</span>
                    </div>
                    <input type="hidden" [(ngModel)]="activeEstimate.created_date" name="createdDate" required />
                  </div>
                </div>
              </div>
            </div>

            <!-- Items table -->
            <div class="lineItemDiv">
              <table width="100%" cellpadding="0" cellspacing="0" class="column table table-striped" style="table-layout: fixed">
                <thead>
                  <tr class="hd">
                    <td width="20%">
                      <input type="text" style="margin-left: 10px;text-align: left;" id="itemDescLabelAdd" class="bld w-100"
                        disabled value="{{settings.mTvProducts ? settings.mTvProducts : 'PRO_LABEL' | translate}}" />
                    </td>
                    <td width="10%">
                      <input type="text" id="itemQtyLabelAdd" class="bld w-100 text_right" name="quantity" disabled
                        value="{{settings.mTvQty ? settings.mTvQty : 'QTY_LABEL' | translate}}" />
                    </td>
                    <td width="10%">
                      <input type="text" id="itemRateLabelAdd" class="bld w-100 text_right" name="rate" disabled value="{{settings.mTvRate ? settings.mTvRate : 'RATE_LABEL' | translate}}" />
                    </td>
                    <td width="9%" *ngIf="activeEstimate.tax_on_item === 0">
                      <input type="text" id="itemTaxLabel" class="bld w-100 text_right" name="rate" disabled value="Tax (%)" />
                    </td>
                    <td width="9%" *ngIf="activeEstimate.discount_on_item == 1">
                      <input type="text" id="itemDiscountLabel" class="bld w-100 text_right" name="rate" disabled
                        value=" {{settings.discount ? settings.discount : 'Discount'}} (%)" />
                    </td>
                    <td width="9%">
                      <input type="text" id="itemAmtLabelAdd" class="bld w-100 text_right" name="amount" disabled
                        value="{{settings.mTvAmount ? settings.mTvAmount : 'AMT_LABEL' | translate}}" />
                    </td>
                    <td width="5%" class="text-right">Edit</td>
                    <td width="6%" class="last_td">Delete</td>
                  </tr>
                </thead>

                <tbody class="lineItems">
                  <!-- selected Items list -->
                  <tr class="row-item" *ngFor="let item of activeEstimate.listItems; let index = index; let last = last">
                    <td [class.no-border-last]="last">
                      <div class="">
                        <div class="form-group" style="margin-bottom: -12px;margin-top: 8px;">
                          <div class="text-left product-color" style="margin-left: 10px;">
                            {{item.product_name}}
                          </div>
                          <div class="moreDiscr" [class.show]="hideme[index]"><!--class="moreDiscr" [class.show]="show"-->
                            <pre class="text-left selected-items"
                              style="margin-left: 10px;font-family: quicksand_regular !important;overflow: hidden">{{item.description}}</pre><!-- mCustomScrollbar style-3-->
                          </div>
                          <span *ngIf="item.description.length > 90" class="morebtn" (click)="hideme[index] = !hideme[index]">{{ hideme[index] ? 'less': 'more' }}</span>
                        </div>
                      </div>
                    </td>
                    <td [class.no-border-last]="last">
                      <div class="text_right">
                        {{item.quantity | number:'1.'}}
                      </div>
                    </td>
                    <td [class.no-border-last]="last">
                      <div class="text_right">
                        {{item.rate | number:'1.2-2'}}
                      </div>
                    </td>
                    <td *ngIf="activeEstimate.tax_on_item === 0" [class.no-border-last]="last">
                      <div class="text_right">
                        {{item.tax_amount | number:'1.2-2'}}<br>
                        {{item.tax_rate | number:'1.2-2'}}
                      </div>
                    </td>
                    <td *ngIf="activeEstimate.discount_on_item == 1" [class.no-border-last]="last"> <!--|| setDiscountOnItem === true-->
                      <div class="text_right">
                        {{item.discount_amount | number:'1.2-2'}}<br>
                        {{item.discount | number:'1.2-2'}}
                      </div>
                    </td>
                    <td [class.no-border-last]="last">
                      <div class="text_right">
                        {{item.total | number:'1.2-2'}}
                      </div>
                    </td>
                    <td [class.no-border-last]="last">
                      <div class="text-center">
                        <a class="closeicon show" title="Edit Row" (click)="editEstimateItem(index);disabledDescription = true">
                          <img src="assets/images/edit_blue.png" class="del" class="img_hover hg_20">
                        </a>
                      </div>
                    </td>
                    <td [class.no-border-last]="last">
                      <div class="text-center">
                        <a class="closeicon show" title="Delete Row" (click)="removeItem(index)">
                          <img src="assets/images/cross.png" class="del" class="img_hover hg_20">
                        </a>
                      </div>
                    </td>
                  </tr>

                  <!-- Select Item for estimate input -->
                  <tr *ngIf="disableProductText === true" class="row-item item_box_shadow" style="background-color: white !important;">
                    <td [class.no-border-last]="last">
                      <div class="form-group" style="padding: 4px 2px;"> 
                        <input type="text" name="product-name" class="mrg_item_input form-control billing-input" [ngClass]="{ 'box_red': noProductSelected === true }"
                        placeholder="Type or Select {{settings.mTvProducts ? settings.mTvProducts : 'Product'}} "
                          tabindex="1" matInput [formControl]="addItem" [matAutocomplete]="auto">

                          <img src="assets/images/product-icon/exclamation-mark.png"  class="errspan help-block" *ngIf="ifProductEmpty === true && addItem !==null">

                          
                        <mat-autocomplete #auto="matAutocomplete" class="mCustomScrollbar style-3" [displayWith]="displayWith"
                          (optionSelected)="fillItemDetails()">
                          <mat-option *ngFor="let product of (filteredProducts | async | orderBy:'prodName':false:true)"
                            [value]="product">{{product.prodName}}</mat-option>
                        </mat-autocomplete>
                        <div class="custom-description">
                          <textarea *ngIf="disabledDescription==false" id="descId" name="description_{{index}}" class="txt_area mrg_item_input mCustomScrollbar style-3 form-control" elastic
                             [(ngModel)]="activeItem.description" placeholder="Description" tabindex="6" style="height: 55px !important;"
                            onfocus="this.select()"></textarea>
                          <textarea *ngIf="disabledDescription==true" id="descId" name="description_{{index}}"  class="txt_area mrg_item_input black form-control font_wg_none mCustomScrollbar style-3" elastic
                                placeholder="Description" onfocus="this.select()" style="height: 55px !important;"
                          ></textarea>
                        </div>
                      </div>
                    </td>

                    <td style="vertical-align: top;" [class.no-border-last]="last">
                      <div class="form-group" style="padding: 4px 2px;">
                        <input type="number" tabindex="2" name="itemQty" id="qty" step="any" class="form-control text_right  height_40"
                          min="0.01" [(ngModel)]="activeItem.quantity" (keyup)="calculateTotal()" onfocus="this.select()" />
                      </div>
                      <button type="button" tabindex="7" class="change_bg btn save_btn btn-raised add_new_btn" (click)="addEditEstimateItem()"
                        style="margin-top: 10px;"> <!--[disabled]="!addItem.value || activeItem.quantity == 0 || activeItem.rate == 0" -->
                        Add Item
                      </button>
                    </td>

                    <td style="vertical-align: top;" [class.no-border-last]="last">
                      <div class="form-group" style="padding: 4px 2px;">
                        <input type="number" tabindex="3" name="itemRate" step="any" class="form-control text_right  height_40" min="0.01"
                          [(ngModel)]="activeItem.rate" (keyup)="calculateTotal()" onfocus="this.select()" />
                      </div>
                    </td>

                    <td style="vertical-align: top;" [class.no-border-last]="last" *ngIf="noTaxOnItem || activeEstimate.tax_on_item == 0">
                      <div class="input-group" style="padding: 4px 2px;">
                        <input type="number" tabindex="4" name="itemTaxRate" class="form-control text_right height_40" min=0 max=100
                          [(ngModel)]="activeItem.tax_rate" placeholder="%" (keyup)="calculateTotal()" onfocus="this.select()" />
                        <!-- <div class="input-group-append">
                          <span class="input-group-text p-0" style="width: 22px;">%</span>
                        </div> -->
                      </div>
                      <!-- <div class="text-right">{{activeItem.tax_amount}}</div> -->
                    </td>

                    <td style="vertical-align: top;" [class.no-border-last]="last" *ngIf="noDiscountOnItem || activeEstimate.discount_on_item == 1">
                      <div class="input-group" style="padding: 4px 2px;">
                        <input type="number" tabindex="5" name="itemDiscountRate" placeholder="%" class="text_right form-control height_40" min=0
                          max=100 [(ngModel)]="activeItem.discount"  (keyup)="calculateTotal()" onfocus="this.select()" />
                       
                      </div>
                      <!-- <div class="text-right">{{activeItem.discount_amount}}</div> -->
                    </td>

                    <td style="vertical-align: top; position: relative !important;" [class.no-border-last]="last">
                      <div class="form-group" style="padding: 4px 2px;">
                        <input type="number" step="any" class="amount_box form-control text_right height_40" title="{{settings.mTvAmount ? settings.mTvAmount : 'Amount'}} is calculated automatically."
                          name="itemTotal" [(ngModel)]="activeItem.total" style="border: none;" disabled
                          convert-decimal onfocus="this.select()" readonly />
                      </div>
                    </td>
                    <td style="vertical-align: top; position: relative !important;" [class.no-border-last]="last">
                    </td>
                    <td class="select_item_cross" [class.no-border-last]="last">
                      <img (click)="disableProductText=false" class="img_hover hg_20" Title="Delete" src="assets/images/cross_grey.png" alt="logo"
                        style="margin-top: 2px;margin-right: 7px;">
                    </td>
                  </tr>
                  <button *ngIf="disableProductText === false" type="button" style="width: 130px !important;" class="change_bg btn save_btn btn-raised add_new_btn"
                    (click)="disableProductText=true;">Add New Item
                  </button>
                </tbody>
              </table>
            </div>

            <!-- Tax discount list -->
            <div class="row">
              <div class="col-12 offset-md-6 col-md-6 discount-tax-pad font-custom-bold" style="padding-bottom: 8px;">
                <div *ngIf="settings.discountFlagLevel === 0 ||  activeEstimate.discount_on_item===2"><!--&&  activeEstimate.discount_on_item===2 -->
                  <span  class="inline label_span" [ngClass]="{'removeaddLabelBackroundColor':activeEstimate.discount_on_item===2 , 'addLabelBackroundColor':activeEstimate.discount_on_item === 0}"
                   (click)="activeEstimate.discount_on_item=0;activeEstimate.percentage_flag = 0">
                    {{settings.discount ? settings.discount : 'Discount'}}+
                  </span>
                </div>
                <div ><!--*ngIf="activeEstimate.shipping_charges === undefined"-->
                  <span class="inline label_span" [ngClass]="{'removeaddLabelBackroundColor':activeEstimate.shipping_charges === undefined , 'addLabelBackroundColor':activeEstimate.shipping_charges === 0}"
                   (click)="activeEstimate.shipping_charges = 0">
                    {{settings.shipping ? settings.shipping : 'Shipping'}}+
                </span>
                </div>
                <div *ngIf="settings.taxFlagLevel === 1 && activeEstimate.tax_on_item === 2"> <!-- && activeEstimate.tax_on_item === 2 -->
                  <span class="inline label_span" [ngClass]="{'removeaddLabelBackroundColor':activeEstimate.tax_on_item === 2 , 'addLabelBackroundColor':activeEstimate.tax_on_item === 1}"
                   (click)="activeEstimate.tax_on_item=1">Tax+</span>
                </div>
                <div ><!--*ngIf="activeEstimate.adjustment === undefined"-->
                  <span class="inline label_span" [ngClass]="{'removeaddLabelBackroundColor':activeEstimate.adjustment === undefined, 'addLabelBackroundColor':activeEstimate.adjustment === 0}"
                   (click)="activeEstimate.adjustment = 0">
                    {{settings.adjustment ? settings.adjustment : 'ADJ_LABEL' | translate}}+
                </span>
                </div>
                <div *ngIf="activeEstimate.taxList">
                <div *ngFor="let tax of settings.alstTaxName; let taxIndex = index">
                  <span class="inline label_span" [ngClass]="{'removeaddLabelBackroundColor':!activeEstimate.taxList[taxIndex], 'addLabelBackroundColor':activeEstimate.taxList[taxIndex] }"
                  (click)="activeEstimate.taxList[taxIndex] = {taxName: tax.taxName, calculateValue: tax.calculateValue}">
                    {{tax.taxName}}+
                </span><!--*ngIf="!activeEstimate.taxList[taxIndex]" -->
                </div>
                </div>
              </div>
            </div>

            <!-- Bottom -->
            <div class="row">
              <!--Term and Condition -->
              <div class="col-12 col-md-6">
                <div class="col-12 term-cond-label font-custom-bold" style="text-align: left">
                  <span class="bld">
                    {{settings.mTvTermsAndConditions ? settings.mTvTermsAndConditions : 'TERM_LABEL' | translate}}
                  </span>
                  <a (click)="openAddTermModal()" class="pull-right" data-original-title="Add " title="Add Term">
                    <span class="add_term">
                      <i class="fa fa-plus" style="margin-right: 5px;"></i>
                      <span>Add Terms</span>
                    </span>
                  </a>
                </div>

                <div class="col-12 px-0" style="font-size: 13px;">
                  <div class="form-group">
                    <div *ngFor="let term of activeEstimate.termsAndConditions" class="row mx-0 term_border">
                      <div class="col-8 col-md-10 pr-0 mb-1" style="color: #a4a4a4;">
                        <span style="word-wrap: break-word;font-size: 12.5px;color:black !important">{{term.terms}}</span>
                      </div>
                      <div *ngIf="!term.terms" class="col-8 col-md-10 pr-0 mb-1" style="color: #a4a4a4;">
                        <span style="word-wrap: break-word;font-size: 12.5px;">{{term.terms_condition}}</span>
                      </div>
                      <div class="col-md-2 ml-auto" (click)="addRemoveTermsFromEstimate(term)"
                        style="cursor:pointer;">
                        <a class="closeicon show float-right">
                          <img src="assets/images/cross_grey.png" Title="Delete Term" style="margin-top: 0px;"
                            class="img_hover hg_16 del set-color swap-on-hover__front-image" alt="">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <!-- Total -->
                <div class="col-12 term-cond-label" style="margin-bottom: 5px;">
                  <div class="row">
                    <div class="col-6 text-left">
                      <span class="font-custom-bold">{{settings.subtotal ? settings.subtotal : 'SUB_TOT_LABEL' | translate}}</span>
                    </div>
                    <div class="col-6 text-right">
                      <span class="font-custom-bold price">{{activeEstimate.gross_amount | currency:settings.currencyInText:(settings.currencyText ? 'code' : 'symbol'):'1.2-2'}}</span>
                    </div>
                  </div>
                </div>

                <!-- Discount -->

                <div class="row mr_right mr_0" *ngIf="activeEstimate.discount_on_item === 0 ">
                  <div class="col-4 discount-tax-label pr-0">
                    <span style="text-align: left;vertical-align: bottom;">
                      {{settings.discount ? settings.discount : 'Discount'}}
                    </span>
                    <div *ngIf="activeEstimate.percentage_flag == 0" class="inline font-custom">
                      ({{mysymbols}})
                    </div>
                
                    <div *ngIf="activeEstimate.percentage_flag == 1" class="inline font-custom">(%)</div>
                
                    <div class="px-0" style="float: right; padding-right: 10px;">
                      <div style="cursor: pointer;" class="dropdown-toggle custom-dropdown " data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="glyphicon glyphicon-menu-down" style="font-size: 14px;vertical-align: middle;"
                          title="{{settings.discount ? settings.discount : 'Discount'}}"></span>
                      </div>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li [class.active]="activeEstimate.percentage_flag == 0">
                          <a (click)="activeEstimate.percentage_flag = 0;
                                                    activeEstimate.discount=0.00;
                                                    calculateEstimate()
                                                  ">
                            Flat ({{mysymbols}})
                          </a>
                        </li>
                        <li [class.active]="activeEstimate.percentage_flag == 1">
                          <a (click)="activeEstimate.discount=0.00;
                                                    activeEstimate.percentage_flag=1;
                                                    calculateEstimate()
                                                  ">
                            Percent (%)
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                
                  <div class="col-8 pr-0">
                    <form #form_discount="ngForm" name="form_discount">
                      <div class="input-group addon-input">
                          <input type="number" id="percentage_input" name="percentage_input" min="0" max="100" *ngIf="activeEstimate.percentage_flag == 1"
                          step="any" class="col-3 form-control" onfocus="this.select()" [(ngModel)]="activeEstimate.percentage_value"
                          (keyup)="calculateEstimate()" (ngModelChange)="dataChanged($event)" />

                        <input type="number" id="discount_input" name="discount_input" step="any" min="0.00" [max]="activeEstimate.gross_amount"
                          class="col-3  form-control" *ngIf="activeEstimate.percentage_flag == 0" required onfocus="this.select()"
                          [(ngModel)]="activeEstimate.discount" (keyup)="calculateEstimate()" />
                          <input type="number" id="discount_input" name="discount_input" class="form-control text_center height_40 dis_tax_label"
                           [(ngModel)]="activeEstimate.discount" (keyup)="calculateEstimate()"
                          readonly style="background-color: white;" />
                        <div class="input-group-addon pr-0 remove-button">
                          <div class="addon selector" (click)="activeEstimate.discount_on_item=2;calculateEstimate();
                                              activeEstimate.percentage_value=0;activeEstimate.discount=0;
                                              activeEstimate.amount=activeEstimate.gross_amount;
                                              balance=activeEstimate.gross_amount
                                              ">
                            <img src="assets/images/grey_cross.png" Title="Delete" alt="" class="hg_20 cross_label_img">
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

                <!-- Tax -->
                <div class="row mr_right mr_0" *ngIf="activeEstimate.tax_on_item===1">
                  <div class="col-4 discount-tax-label pr-0">
                    <span style="text-align: left;vertical-align: bottom;">
                      Tax (%)
                    </span>
                
                  </div>
                
                  <div class="col-8 pr-0">
                    <form #form_discount="ngForm" name="form_discount">
                      <div class="input-group addon-input">
                        <input type="number" id="tax_input" name="tax_input" class="col-3 form-control mrg_right_20" step="any" min="0.00" max="100"
                          required [(ngModel)]="activeEstimate.tax_rate" (keyup)="calculateEstimate()" onfocus="this.select()" />
                        <input type="number" id="tax_input" name="tax_inputs" class="col-9 form-control text_center height_40 dis_tax_label"
                          placeholder="00.000" [(ngModel)]="activeEstimate.tax_amount" (keyup)="calculateEstimate()"
                          />
                
                
                        <div class="input-group-addon pr-0 remove-button">
                          <div class="addon selector"
                            (click)="activeEstimate.tax_rate=0;activeEstimate.tax_on_item=2;calculateEstimate()">
                            <img src="assets/images/grey_cross.png" Title="Delete" class="hg_20 cross_label_img">
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>


                <!-- tax list -->
                <div class="row mr_right mr_0" *ngFor="let tax of activeEstimate.taxList; let taxIndex = index">
                    <div class="col-4 discount-tax-label pr-0 " *ngIf="tax">
                      <div style="text-align: left;vertical-align: bottom;">
                        <div class="d-inline font-custom">{{tax.taxName}} (%)</div>
                      </div>
                    </div>

                    <div class="col-8 pr-0" *ngIf="tax">
                      <form #form_tax_input="ngForm" name="form_tax_input">
                        <div class="input-group pr-0" *ngIf="tax">
                            <input type="number" id="tax_input_list{{taxIndex}}" name="tax_input" 
                            step="any" min="0.00" max="100" class="mrg_right_20 form-control col-3"
                            [(ngModel)]="tax.percentage" (keyup)="calculateEstimate()" onfocus="this.select()"
                          /><input type="number" id="tax_input_list{{taxIndex}}"  name="tax_Listinput" class="col-9 form-control text_center height_40 dis_tax_label" 
                             [(ngModel)]="tax.calculateValue" (keyup)="calculateEstimate()"
                          />

                          <!-- <div class="input-group-addon set-color">%</div>-->
                          <div class="input-group-addon pr-0 remove-button">
                              <div class="addon selector" (click)="activeEstimate.taxList[taxIndex] = null;">
                                  <img src="assets/images/grey_cross.png" class="hg_20 cross_label_img">
                                </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                  <!-- Shipping -->
                  <div class="row mr_right mr_0" *ngIf="activeEstimate.shipping_charges !== undefined">
                    <div class="col-4 discount-tax-label ">
                      <div style="text-align: left;vertical-align: bottom;">
                        {{settings.shipping ? settings.shipping : 'Shipping'}}(+)
                      </div>
                    </div>
                  
                    <div class="col-8 pr-0">
                      <form #form_shipping_input="ngForm" name="form_shipping_input">
                        <div class="input-group pr-0">
                          <input type="number" name="shipping_input" class="form-control" step="any" min="0.00" required
                            onfocus="this.select()" [(ngModel)]="activeEstimate.shipping_charges" (keyup)="calculateEstimate()" />
                  
                          <div class="input-group-addon pr-0 remove-button">
                            <div class="addon selector" (click)="activeEstimate.shipping_charges = undefined;calculateEstimate()">
                              <img src="assets/images/grey_cross.png" Title="Delete" alt="" class="hg_20 cross_label_img">
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                
               <!-- testing -->
              <div class="row mr_right mr_0" *ngIf="activeEstimate.adjustment !== undefined">
                <div class="col-4 discount-tax-label pr-0 ">
                  <div style="text-align: left;vertical-align: bottom;">
                    {{settings.adjustment ? settings.adjustment : 'ADJ_LABEL' | translate}} (-)
                  </div>
                </div>
              
                <div class="col-8 pr-0">
                  <form #form_tax_input="ngForm" name="form_tax_input">
                    <div class="input-group pr-0">
                      <input type="number" name="tax_input" class="form-control" step="any" required onfocus="this.select()"
                        [(ngModel)]="activeEstimate.adjustment" (keyup)="calculateEstimate()" />
              
                      <!-- <div class="input-group-addon set-color">%</div>-->
                      <div class="input-group-addon pr-0 remove-button">
                        <div class="addon selector" (click)="activeEstimate.adjustment = undefined; calculateEstimate()">
                          <img src="assets/images/grey_cross.png" Title="Delete" alt="" class="hg_20 cross_label_img">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
                <!-- Grand Total -->
                <div class="row mx-0 term-cond-label" style="padding: 6.5px 0px !important;">
                  <div class="col-6 text-left">
                    <span class="font-custom-bold">
                      {{settings.total ? settings.total : 'TOTAL_LABEL' | translate}}
                    </span>
                  </div>

                  <div class="col-6 text-right">
                    <span class="font-custom-bold price">{{activeEstimate.amount | currency:settings.currencyInText:(settings.currencyText ? 'code' : 'symbol'):'1.2-2'}}</span>
                  </div>
                </div>

                <!-- Balance -->
                <div class="row mx-0 balance-row" style="padding: 6.5px 0px !important;">
                  <div class="col-6 text-left">
                    <span class="bld">{{settings.balance ? settings.balance : 'BAL_LABEL' | translate}}</span>
                  </div>
                  <div class="col-6 text-right">
                    <span class="bld price">{{balance | currency:settings.currencyInText:(settings.currencyText ? 'code' :
                      'symbol'):'1.2-2'}}</span>
                  </div>
                </div>

                <!-- Save -->
                <div class="col-12 px-0 mt-2">
                  <button type="submit" id="estSubmitBtn" 
                    class="save btn save_btn btn-raised width25btn pull-right" data-loading-text="Saving..<i class='fa fa-spinner fa-spin '></i>">
                    Save
                  </button><!--[disabled]="!activeEstimate.listItems || activeEstimate.listItems.length == 0"-->
                  <button type="submit" *ngIf="edit" class="btn btnd btn-custom-2 no-border-radius pull-right ml-2 width12perbtn"
                    style="margin-right: 8px;" (click)="deleteEstimate()">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          
          </div>
        </div>
        </form>
      </div>

      <!-- Previous Estimates Button -->
      <div class="col-12 col-md-3 search_div">
        <div class="row" style="margin: 0 auto;">

          <button type="button" style="padding: 14px;" class="col-12 side_btn btn btnd btn-custom-2 no-border-radius"
            (click)="router.navigate(['/estimate/view'])">Search For Estimates
            <img src="assets/images/search_new.png" alt="logo" style="width: 14px;">
          </button>

            <!-- <button type="button" 
              class="col-11 side_btn btn btnd btn-custom-2 no-border-radius"
              (click)="router.navigate(['/estimate/view'])">Search For Estimates
              <i class="fa fa-search" style="padding: 12px 0px;"></i>
            </button> -->
            <!-- Previous Invoices Button ends -->
          </div>

          <div class="row" style="margin: 0 auto;">
              <button *ngIf="viewTodaysEstimate == true || edit" type="button" style="margin-top: 5px;margin-bottom: 4px;"
                class="col-12 btn btnd btn-custom-2 no-border-radius side_btn"
                (click)="addNewEstimate()">Add New Estimate
                <i class="fa fa-plus" style="padding: 12px 0px"></i>
              </button>
            </div>

        <!-- recently added Estimate -->
        
        <div class="row" style="margin-top: 20px;">
         
          <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 back-add-list text-center list-header-col font-custom-bold" style="border-top: 1px solid #cecece;">
            {{settings.mTvEstimate ? settings.Estimate : 'Estimates'}} Generated Today
          </div>

          <div class="col-12 px-0 mCustomScrollbar style-3" style="overflow-y: auto;">
           
            <div [ngClass]="{'item': true, 'row': true, 'selected': (estimate.unique_identifier == estimateId)}"
            *ngFor="let estimate of recentEstimateList" class="row" style="padding: 10px 2px 2px 16px;;border-bottom: 1px solid #d2d2d2;padding: 10px 1px 2px 0px;
            border-bottom: 1px solid #d2d2d2;" (click)="goView(estimate.unique_identifier)">
              <div class="col-2 list-date font-custom-bold fontsize13" style="line-height: 16px;">
                <span class="inv_date">{{ estimate.createDate  | date: 'dd' }}</span><br />
                <span class="date_month">{{ estimate.createDate  | date: 'MMM' }}</span>
              </div>
    
              <div class="col-10">
                <div class="row">
                  <div class="col-12">
                    <h5 class="font-custom-bold fontsize13">{{ getClientName(estimate.unique_key_fk_client) }}</h5>
                  </div>
                  <div class="col-5 font-custom-book fontsize13">
                    #{{ estimate.quetationNo }}
                  </div>
                  <div class="col-6 text-right font-custom-bold fontsize12">
                    {{ estimate.amount | currency:settings.currencyInText:(settings.currencyText ? 'code' : 'symbol'):'1.2-2' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- ends -->

        <!-- Delete Estimates Button -->
        <!-- <button type="button" class="btnd add-line-item-button" *ngIf="edit" (confirm)="deleteEstimate()"
          [swal]="{ title: 'Are you sure want to delete Estimate?', type: 'warning', showCancelButton: true,
            confirmButtonColor: '#DD6B55', confirmButtonText: 'Yes, delete it!'}
          "
        >
          Delete Estimates
        </button> -->
      </div>
    </div>
  </div>
</div>
<!-- Delete CLIENT MODAL -->
<div id="delete-estimate" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title form-header font-custom-bold header-color" id="clientFormLabel">
          <img src="assets/images/delete-color.png" class="del" style="height:28px;">
          Delete Client
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin: -1rem -3rem -1rem auto;">
          <img src="assets/images/cross.png"  Title="Delete" alt="logo" style="height: 30px;margin-top: 6px;">
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal add-client-form" name="clientform" #clientform="ngForm">
          <h5 style="font-size: 16px;font-weight: bold;">Are you sure want to delete this client?</h5>
          <h5 style="font-size: 16px;font-weight: bold;">You can undo this action</h5>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="close btn btn-raised btn-custom-1 width20btn" data-dismiss="modal" aria-label="Close"
          style="opacity: unset;margin-right: 46%;">
          No
        </button>
        <button type="button" id="clientFormLabel" (click)="deleteEstimate()" class="close btn btn-raised  btn-success width20btn"
          data-dismiss="modal" aria-label="Close" style="opacity: unset;text-shadow: none;">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Delete CLIENT MODAL ends -->
<!-- ADD CLIENT MODAL -->
<div id="add-client" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title form-header font-custom-bold header-color" id="clientFormLabel">
          Add New Client
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="assets/images/cross16.png" alt="logo">
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal add-client-form" name="clientform" #clientform="ngForm">
          <div class="col-12">
            <div class="row">
              <div class="col-6" style="padding-right: 23px;">
                <div class="form-group" [class.has-error]="(clientform.submitted && clientform.errors)">
                  <input type="text" tabindex="-1" name="name" class="form-control add-client-input-custom" [(ngModel)]="addClientModal.name"
                    placeholder="Organization Name" required onfocus="this.select()" />
                  <div class="form-error" *ngIf="(clientform.submitted && clientform.errors)">
                    <span *ngIf="clientform.name">Required</span>
                    <span *ngIf="errors">{{ errors.name[0] }}</span>
                  </div>
                </div>
              </div>

              <div class="col-6" style="padding-left: 23px;">
                <div class="form-group " [class.has-error]="(clientform.submitted && clientform.errors)">
                  <input type="text" name="contactPersonName" class="form-control add-client-input-custom" [(ngModel)]="addClientModal.contactPersonName"
                    placeholder="Contact Person" onfocus="this.select()" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-6" style="padding-right: 23px;">
                <div class="form-group " [class.has-error]="(clientform.submitted && clientform.errors)">
                  <input type="text" [(ngModel)]="addClientModal.email" name="email" class="form-control add-client-input-custom"
                    placeholder="Email" onfocus="this.select()" />
                </div>
              </div>
              <div class="col-6" style="padding-left: 23px;">
                <div class="form-group" [class.has-error]="(clientform.submitted && clientform.errors)">
                  <input type="text" [(ngModel)]="addClientModal.number" name="cont_number" class="form-control add-client-input-custom"
                    placeholder="Number" onfocus="this.select()" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group add-client-input-width" style="padding-right: 12px;overflow-y: auto;" [class.has-error]="(clientform.submitted && clientform.errors)">
              <textarea elastic [(ngModel)]="addClientModal.addressLine1" name="addressLine1" class="form-control"
                placeholder="Address" style="max-height: 69px; height: 69px;" onfocus="this.select()"></textarea>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group add-client-input-width" style="padding-right: 12px;" [class.has-error]="(clientform.submitted && clientform.errors)">
              <textarea elastic [(ngModel)]="addClientModal.shippingAddress" name="shippingAddress" class="form-control"
                placeholder="{{settings.shipping ? settings.shipping : 'Shipping'}} Address" style="max-height: 69px; height: 69px;overflow-y: auto;" onfocus="this.select()"></textarea>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group add-client-input-width">
              <input type="text" [(ngModel)]="addClientModal.businessId" name="businessId" class="form-control add-client-input-custom"
                placeholder="Business Id " onfocus="this.select()" />
            </div>
          </div>

          <div class="col-12">
            <div class="form-group add-client-input-width">
              <input type="text" [(ngModel)]="addClientModal.businessDetail" name="businessDetail" class="form-control add-client-input-custom"
                placeholder="Business Detail" onfocus="this.select()" />
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-raised btn-custom-1 width20btn" (click)="closeAddClientModal()">
          Close
        </button>
        <button type="button" id="saveClientButton" class="btn  btn-raised  btn-success width20btn" data-loading-text="Saving..<i class='fa fa-spinner fa-spin '></i>"
          [disabled]="!clientform.valid" (click)="saveClient(clientform.valid)">
          Add Client
        </button>
      </div>
    </div>
  </div>
</div>

<!-- EDIT ITEM MODAL -->
<div id="edit-item" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" aria-hidden="true" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title form-header font-custom-bold header-color" id="clientFormLabel">
          Edit Item
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="closeEditItemModal()">
          <img src="assets/images/cross16.png" alt="logo">
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal add-client-form" name="itemform" #itemform="ngForm">
          <input type="hidden" name="uid" [ngModel]="activeItem.unique_identifier">
          <div class="row">
            <div class="col-12">
              Name:
              <input type="text" name="name" class="form-control add-client-input-custom" [ngModel]="activeItem.product_name"
                placeholder="Name" required disabled />
            </div>

            <div class="col-12">
              Description:
              <textarea [(ngModel)]="activeItem.description" name="description" class="form-control mCustomScrollbar style-3" placeholder="Description"
                select-on-click style="height: 69px !important;overflow-y: auto;" onfocus="this.select()"></textarea>
            </div>

            <div class="col-12">
              Quantity (*):
              <input type="number" name="quantity" class="form-control add-client-input-custom" [(ngModel)]="activeItem.quantity"
                (keyup)="calculateTotal()" placeholder="Quantity" onfocus="this.select()" required />
            </div>

            <div class="col-12">
              {{settings.mTvRate ? settings.mTvRate : 'Rate'}} (*):
              <input type="number" name="rate" class="form-control add-client-input-custom" [(ngModel)]="activeItem.rate"
                (keyup)="calculateTotal()" placeholder="{{settings.mTvRate ? settings.mTvRate : 'Rate'}}" onfocus="this.select()" required />
            </div>

            <div class="col-12" *ngIf="settings.taxFlagLevel === 0 || showTaxRate!==0">
              Tax:
              <input type="number" name="tax-rate" class="form-control add-client-input-custom" min="0" max="100"
                [(ngModel)]="activeItem.tax_rate" (keyup)="calculateTotal()" placeholder="Tax" onfocus="this.select()" />
            </div>

            <div class="col-12" *ngIf="settings.discountFlagLevel === 1 || showDiscountRate !==0">
              {{settings.discount ? settings.discount : 'Discount'}}:
              <input type="number" name="discount" class="form-control add-client-input-custom" [(ngModel)]="activeItem.discount"
                (keyup)="calculateTotal()" placeholder="{{settings.discount ? settings.discount : 'Discount'}}" onfocus="this.select()" />
            </div>

            <div class="col-12">
              {{settings.total ? settings.total : 'Total'}}:
              <input type="number" [ngModel]="activeItem.total" name="total" placeholder="quantity" disabled class="form-control add-client-input-custom"
                onfocus="this.select()" />
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-raised btn-custom-1 width20btn" (click)="closeEditItemModal()">
          Close
        </button>
        <button type="button" id="saveClientButton" class="btn  btn-raised  btn-success width20btn" [disabled]="!itemform.valid"
          (click)="addEditEstimateItem(itemform.controls.uid.value)">
          Edit Item
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ADD TERMS MODAL -->
<div id="add-terms" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog modal-md term_popup_modal" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="add_term_title modal-title form-header header-color font-custom-bold" id="addPaymentLabel">
             {{settings.mTvTermsAndConditions ? settings.mTvTermsAndConditions : 'Terms and Conditions'}}
          </div>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img src="assets/images/cross16.png" alt="logo" class="img_hover">
          </button> -->
        </div>
  
        <div class="modal-body term_modal_body">
          <h5 class="modal-title form-header header-color font-custom-bold h5_terms_border" style="height: 70px;" id="addPaymentLabel">
            <form name="termForm" #termForm="ngForm">
              <div class="row">
                <div class="col-1">
                  <label class="check">
                    <div class="checkbox default_checkbox">
                      <input type="checkbox" (change)="changeCheckbox()" [(ngModel)]="defaultChecked" id="addtermcheck" name="setDefault"
                        class="ng-pristine ng-valid ng-touched modal-checkbox" onfocus="this.select()">
                      <span class="checkmark default_checkbox_span"></span>
                    </div>
                  </label>
                  <div class="default_text">Make<br /> Default</div>
                </div>
                <div class="col-10">
                  <textarea name="term" class="mCustomScrollbar style-3 add_term_input textarea_term" [(ngModel)]="addTermModal.terms" placeholder="Add term & Condition"
                    onfocus="this.select()" required elastic></textarea>
                </div>
                <div class="col-1">
                  
                  <button type="button" id="addtermbtn" [ngClass]="{'add_disable': !termForm.valid }" name="addtermbtn" title="save"
                    class="btn add_term_btn btn-raised pull-right ml-2 add_to_list_btn term_col1"
                    (click)="saveTerm(termForm.valid)">
                    <i class="fa fa-plus add_plus"></i><br /> <p style="font-size: 11px !important;">Add To List</p>
                  </button>
                </div>
              </div>
              
            </form>
          </h5>
  
          <div class="row terms_border">
            <div class="col-12 mCustomScrollbar style-3" style="max-height: 290px;">
              <div class="item termlist row product-list" id="term1{{index}}"
                *ngFor="let term of termList | orderBy: 'term':'desc'; let index = index"
                [class.selected]="selectedTerm == index">
                <div class="col-12 px-0">
                  <div class="row">
                    <div class="col-md-1 px-0">
                      <!-- <input type="checkbox" id="termcheck{{index}}" name="term"
                                   (change)="addRemoveTermsFromInvoice(term)"
                                   [checked]="isTermInInvoice(term)"
                                 /> -->
                      <!-- <label class="" for="termcheck{{$index}}"></label> -->
                      <label class="check">
                        <div class="col-1">
                          <input type="checkbox" id="termcheck{{index}}" name="term" (change)="addRemoveTermsFromEstimate(term)"
                            [checked]="isTermInEstimate(term)" />
                          <span class="checkmark"></span>
                        </div>
                      </label>
                    </div>
                    <div class="col-md-9 pl-0">
                      <span style="vertical-align: top;word-break: break-all;"> {{term.terms}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer item-form">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
           Cancel
          </button>
          <button type="submit" class="save btn save_btn btn-raised width25btn pull-right" data-dismiss="modal"
            aria-label="Close">
            Done
          </button>
        </div>
      </div>
    </div>
</div>

<!-- Error MODAL starts -->
<div id="error-message" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" aria-hidden="true"
data-backdrop="static" data-keyboard="false">
<div class="modal-dialog mod_dialog">
  <div class="modal-content mod_content">
    <div class="modal-header mod_header">
      <img class="center" src="assets/images/connection_lost.png" alt="logo" class="center error_logo">
    </div>
    <div class="modal-body">
      <h3 class="title">Connection Lost !</h3>
      <p class="error_logo">Make sure your wifi or cellular data is turned on and try again
        !!!</p>
    </div>
    <div class="modal-footer mod_footer">
      <button type="button" class="mod_close_btn btn save_btn btn-raised width25btn center"
        data-dismiss="modal" aria-label="Close">
        OK
      </button>

    </div>
  </div>
</div>
</div>
<!-- Error MODAL ends -->