@import '../../../../assets/css/form.css';

.mat-form-field-infix {
  border-top: 0 !important;
}
/* css - tejaswini */
.label_color
{
  color: #aaaaaa;
}
.hide_dropdown {
  display :none;
}

.inv-generator {
  max-height: none;
}
.create-invoice {
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
}
input, textarea {
  margin-top: 0px !important;
}
.bld {
  margin: 2px 0;
}
select {
  font-family: quicksand_book !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 800 !important;
  padding: 3px 12px !important;
}
.set-color {
  color: #2196f3 !important;
}
.add, .del {
  height: 21px;
  margin-top: -6px;
}
.del {
  background-position: -404px -214px;
  width: 20px;
}
.add-item-button {
  margin-bottom: 10px;
  margin-top: 3px;
}
.discount-tax-pad {
  padding-top: 15px;
}
.bld {
  margin: 2px 0;
}
.bld, .terms {
  font-size: 14px;
}
.mat-form-field-infix {
  border-top: 0 !important;
}
/* classes added by Vikrant */
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  background-color: #DDF;
  color: #000;
}
.errspan {
  float: right;
  margin-right: 6px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  color: red;
}
.inputWithIcon input[type=text]{
  padding-left: 15px;
  /* border-right: white; */
}
.inputWithIcon{
  position: relative;
}
.inputWithIcon i{
  position: absolute;
  left: 0;
  top: 5px;
  padding: 9px 20px;
  color: #aaa;
  transition: .3s;
}
.inputWithIcon input[type=text]:focus + i {
  color: dodgerblue;
}
.downArrowIcon{
  position: absolute;
    left: 390px;
    top: -1px;
    padding: 9px 17px;
    color: #aaa;
    transition: .3s;
}

/* css - tejaswini */
.inputWithIcon i {
  left: -54px !important;
  top: 0px;
  font-size: 20px;
  padding: 9px 20px;
  color: #aaa;
  transition: .3s;
}

.label_color
{
  color: #aaaaaa;
  margin-top: 6px;
  margin-left: -4px;
}

.box_red{
  border-color:red;
}
.box_grey{
  border-color: grey;
}
.filter-box[_ngcontent-c5] {
  background: #ffffff;
  border-bottom: none !important;
}
.border_white{
  border-right: 1px solid white;
}
.search_btn{
  width: 307px;
}
.client_arrow {
  left: -30px !important;
  width: 14px;
  margin-left: 14px;
  height: 14px;
}
.center{
  height: 52px;
  margin-top: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: -34px; */
  opacity: unset;
  margin-bottom: 6px;
}
/* .side_btn{
  width: 100%;
  background-color: #ededed !important;
  color: #0299ff !important;
  border: #0299ff solid 2px !important;
  border-radius: 6px !important;
  margin-top: 16px;
}
.side_btn:hover{
  background-color: #0299ff !important;
  color: #ededed !important;
} */
.search_div{
  margin-top: -4px;
}
.add_invoice{
  margin-top: 5px;
  margin-bottom: 4px;
}
.search_btn_div{
  padding-top: 15px;
  padding-bottom: 4px;
  margin:0 auto;
}
@media (min-width: 1366px)
{
  .downArrowIcon{
    position: absolute;
    left: 386px;
    top: -1px;
    padding: 9px 17px;
    color: #aaa;
    transition: .3s;
}

}
@media (min-width: 1440px)
{
.client_arrow {
  left: -4px !important;
}
}
@media (min-width: 1326px)
{
.client_arrow {
  left: -45px !important;
}
}
@media (min-width: 1280px)
{
  .downArrowIcon{
    position: absolute;
    left: 362px;
    top: -1px;
    padding: 9px 17px;
    color: #aaa;
    transition: .3s;
}
.search_btn{
  width: 290px;
}
}
.addLabelBackroundColor{
  color: white;
  background-color: #1a73cc;
  border-radius: 2px;
}
.addLabelBackroundColor:hover{
  background: #1e81e3;
  border-radius: 2px;
}
.removeaddLabelBackroundColor{
  color: #1a73cc;
  background-color: #d6e8fa !important;
  border-radius: 4px;
}
.removeaddLabelBackroundColor:hover{
  background-color: #edf5fd !important;
  border-radius: 2px;

}
.select_cross_icon{
  vertical-align: top; 
  position: relative !important;
  text-align: center;
}
.checkmark {
  position: absolute;
  top: 1px;
  left: 13px;
  width: 18px;
  border: 1px solid #0299ff;
}
.light_font{
  font-family: helvetica_light !important;
}
.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  content: '\f078';
  font: normal normal normal 17px/1 FontAwesome;
  margin-left: -0.745em !important;
  vertical-align: .255em;
  -webkit-text-stroke: 0.2px white;
  border-right: 0 solid transparent !important;
  border-bottom: 0;
  border-left: 0 solid transparent !important;
}
.dropdown-toggle::after{
  font-size: 13px !important;
  margin-top: 1px !important;
}
.pad_left_36{
  padding-left: 36px;
  margin-top: 1px;
}
.select_item_cross{
  text-align: right !important;
  padding-right: 12px !important;
  vertical-align: top !important;
  position: relative !important;
}
.inline {
  margin-right: 10px;
  float: left;
  font-size:11px;
  padding: 5px 10px 5px 17px !important;
  margin-bottom: 8px;
}
.drop_arrow {
  margin-right: 4px;
  /* margin-top: -40px; */
  width: 20px;
  margin-left: 126px;
  text-align: right;
  cursor: pointer;
  height: 20px;
  margin-bottom: -20px;
}
.drop_arrow{
  margin-right: 4px;
  width: 20px;
  margin-left: 102px !important;
  text-align: right;
  cursor: pointer;
  height: 20px;
  margin-bottom: -20px;
}
/* sidebar settings */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  margin-left: 2px;
  display: none;
  float: left;
  width: 164px !important;
  margin: 0px 16px 0px !important;
  font-size: 1rem;
  color: #212529;
  border-radius: 0px !important;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
}
.dropdown-toggle::after {
  display: none;
  width: 0;
  height: 0;
  content: '\f078';
  font: normal normal normal 17px/1 FontAwesome;
  -webkit-text-stroke: 0.2px white;
  margin-left: 0.255em !important;
  vertical-align: .255em;
  border-right: 0 solid transparent !important;
  border-bottom: 0;
  border-left: 0 solid transparent !important;
}
.setting_arrow{
  float: right;
  color: #666666 !important;
  font-size: 20px;
  margin-right: 15px;
  
}
.setting_arrow_discount{
  float: right;
  color: #666666 !important;
  font-size: 20px;
  margin-right: 15px;
  margin-top: -20px;
}
.setting_arrow_tax{
  float: right;
  color: #666666 !important;
  font-size: 20px;
  margin-right: 15px;
  margin-top: -20px;
}
.fa-angle-down:before {
  content: "\f107";
  float: right;
  margin-left: 10px;
  color: #666666 !important;
  margin-bottom: -5px;
}
.setting_li_bg{
  color:#474959;
}
.setting_li_bg li:hover{
  background: rgba(0,0,0,.04);
}
.mat-menu-item:hover:not([disabled]) {
  background: rgba(255, 255, 255, 0.04);
}
.dropdown-menu.show {
  display: block !important;
}
.discount_drop{
  font-size: 20px;
  margin-right: 12px;
  vertical-align: middle;
  margin-bottom: 9px;
}
.disableTaxDiscount{
  pointer-events: none;
}
.icon_color {
  color: #666666;
  text-align: center;
}
.fontsize13{
  font-size: 13px !important;
  color: #474959;
  margin-bottom: -3px !important;
  margin-top: 5px !important;
}
.item:hover{
  background-color: #d6e8fa;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  margin-left: 2px;
  display: none;
  float: left;
  width: 164px !important;
  /* padding: 0.5rem 24px !important; */
  margin: 0px 0px 0px !important;
  font-size: 1rem;
  color: #212529;
  border-radius: 0px !important;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
}
.no_todays_estimate{
  width: 210px;
  margin-top: 55px;
  margin-left: 57px;
}