<div class="row main-wrapper">
  <div class="col-12" id="main">
    <div class="row">

      <!-- Create Estimate -->
      <div class="col-12 col-sm-9 item-form all-invoices inv-generator inv-gen" id="msgInv">
        <form #estimateGeneratorAdd="ngForm" id="estimateGeneratorAdd" name="estimateGenerator"
          class="create-estimate" (ngSubmit)="save(estimateGeneratorAdd.valid)"
        >
          <div class="shadow back pad15">
            <div class="col-12 padt15">
              <div class="vtop text-right">
                <span class="c-name" type="text" id="titleAdd" name="title" *ngIf="settings.mTvEstimate">
                  {{settings.mTvEstimate}}
                </span>
                <span class="c-name" type="text" id="titleAddelse" name="title" *ngIf="!settings.mTvEstimate">
                  {{'EST_LABEL' | translate}}
                </span>
              </div>
      
              <div class="col-12 pad0" style="margin-bottom: 25px">
                <div class="row mar0">
                  <div class="col-12 col-sm-7 pad0" id="clientDataAdd" name="clientData">
                    <div class="row">
                      <div class="col-10">
                        <span type="text" value="" id="billToLabelAdd" class="adr bill-to font-custom-bold">
                          {{tempBillLabel}}
                        </span>
                        <br />
      
                        <div class="form-group pad-left-0">
                          <input type="text" class="form-control billing-input" placeholder="Search & Select Client"
                            matInput [formControl]="billingTo" [matAutocomplete]="auto1" *ngIf="!edit"
                          >
                          <div *ngIf="edit && billingTo.value" class="font-custom-bold">{{billingTo.value.name}}</div>
                          <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayWith"
                            autoActiveFirstOption (optionSelected)="selectedClientChange($event)"
                          >
                            <mat-option *ngFor="let client of filteredClients | async" [value]="client">
                              {{client.name}}
                            </mat-option>
                            <mat-option *ngIf="filteredClients && (filteredClients | async).length == 0" [value]="billingTo.value">
                              Add Client {{billingTo.value}}
                            </mat-option>
                          </mat-autocomplete>
                        </div>
                      </div>

                      <div class="col-2" style="padding-top: 30px;">
                        <span>
                          <i *ngIf="clientListLoading" class="fa fa-spinner fa-spin" style="font-size:24px;"></i>
                        </span>
                      </div>

                      <div id="addressBarAdd" name="addressBar" class="col-12" style="margin-bottom: 15px">
                        <div class="row mar0">
                          <div class="col-6 pad-left-0">
                            <span type="text" value="" id="BillAddressAdd" class="adr bill-to font-custom-bold">
                              Address
                            </span>
                            <br />
                            <!--<textarea elastic  [(ngModel)]="client_display.addressLine1" id="customerNotes"name="shipping_address" class="form-control" readonly ></textarea>-->
                            <div class="address-render">{{activeClient.addressLine1}}<br /></div>
                            <div *ngIf="activeClient.email">
                              Email: {{activeClient.email}}
                            </div>
                            <div *ngIf="activeClient.number">
                              Contact No: {{activeClient.number}}
                            </div>
                          </div>
                          <div class="col-6 pad-right-0">
                            <span type="text" value="" id="shippingAddressAdd" class="adr bill-to font-custom-bold">
                              Shipping Address
                            </span>
                            <br />
                            <!--<textarea elastic  [(ngModel)]="client_display.addressLine1" id="customerNotes"name="shipping_address" class="form-control" readonly ></textarea>-->
                            <div class="address-render">{{activeClient.shippingAddress}}<br /></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-sm-5 pad-right-0" id="estDataAdd">
                    <div class="row">
                      <div class="col-6 offset-md-2 col-md-4" style="margin-top: 5px;">
                        <span class="font-custom-bold text-left w100">Estimate No.</span>
                      </div>
                      <div class="col-6">
                        <form #estNumberForm="ngForm" name="estNumberForm">
                          <div class="form-group"
                            [class.has-error]="(estNumberForm.submitted || estNumberForm.estimateNumber ) && estNumberForm.estimateNumber.error.required"
                          >
                            <input type="text" id="estimateNumber" name="estimateNumber" class="form-control pad-right-0"
                              [(ngModel)]="activeEstimate.estimate_number" required
                            />
                            <div class="form-error" *ngIf="estNumberForm.submitted || estNumberForm.estimateNumber">
                              <span *ngIf="estNumberForm.estimateNumber.error.required">Estimate No. required</span>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>

                    <div class="row" style="margin-top: 5px;">
                      <div class="col-6 offset-md-2 col-md-4">
                        <span class="font-custom-bold text-left w100">Estimate Date</span>
                      </div>
                      <div class="col-6">
                        <input type="text" class="form-control"
                          [formControl]="estimateDate" matInput [matDatepicker]="picker" required readonly
                          (click)="picker.open()"
                        >
                        <mat-datepicker #picker></mat-datepicker>
                        <div class="form-error"
                          *ngIf="estimateGeneratorAdd.submitted || estimateGeneratorAdd.touched"
                        >
                          <span *ngIf="estimateGeneratorAdd.error">Estimate date required</span>
                        </div>
                        <input type="hidden" [(ngModel)]="activeEstimate.created_date" name="createdDate"/>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="lineItemDiv">
                  <table width="100%" cellpadding="0" cellspacing="0" class="column" style="table-layout: fixed">
                    <thead>
                      <tr class="hd font-custom-bold">
                        <td width="48%">
                          <input type="text" [value]="tempProLabel" id="itemDescLabelAdd"
                            class="bld w-100" style="text-align:left;" disabled
                          >
                        </td>
                        <td width="18%">
                          <input type="text" [value]="tempQtyLabel" id="itemQtyLabelAdd" class="bld w100 text-center"
                            name="quantity" disabled
                          />
                        </td>
                        <td width="18%">
                          <input type="text" [value]="tempRateLabel" id="itemRateLabelAdd" class="bld w100 text-center"
                            name="rate" disabled>
                        </td>
                        <td width="18%">
                          <input type="text" [value]="tempAmtLabel" id="itemAmtLabelAdd" class="bld w100 text-center"
                            style="text-align:right;" name="amount" disabled
                          />
                        </td>
                        <td style="border-bottom:none;background:#666666;border-top:none" width="3%" class="dele-icon">&nbsp;</td>
                      </tr>
                    </thead>

                    <tbody class="lineItems">
                      <!-- selected Items list -->
                      <tr class="row-item" *ngFor="let item of activeEstimate.listItems; let index = index; let last = last">
                        <td [class.no-border-last]="last" (click)="openEditEstimateItemModal(index)">
                          <div class="">
                            <div class="form-group">
                              <div class="text-left product-color">
                                {{item.product_name}}
                              </div>
                              <div class="text-left">
                                {{item.description}}
                              </div>
                            </div>
                          </div>
                        </td>
                        <td [class.no-border-last]="last" (click)="openEditEstimateItemModal(index)">
                          <div class="text-right">
                            {{item.quantity | number:'2.'}}
                          </div>
                        </td>
                        <td [class.no-border-last]="last" (click)="openEditEstimateItemModal(index)">
                          <div class="text-right">
                            {{item.rate | number:'2.'}}
                          </div>
                        </td>
                        <td [class.no-border-last]="last" (click)="openEditEstimateItemModal(index)"
                          style="position: unset !important;"
                        >
                          <div class="text-right">
                            {{item.total | number:'2.'}}
                          </div>
                        </td>
                        <td style="border-bottom:none;background:none;border-top:none" class="dele-icon"
                          [class.no-border-last]="last">
                          <div style="padding-top:4px">
                            <a class="closeicon show" title="Delete Row" style="cursor:pointer;"
                              (click)="removeItem(index)"
                            >
                              <img src="assets/images/delete16.png" class="del pull-left set-color" alt=""
                                style="height:16px;"
                              >
                            </a>
                          </div>
                        </td>
                      </tr>

                      <!-- Select Item for estimate input -->
                      <tr class="row-item">
                        <td [class.no-border-last]="last">
                          <div class="form-group">
                            <div class="custom-add-product selectize-wrap">
                              <input type="text" name="product-name" class="form-control billing-input"
                                placeholder="Type or Select Product" matInput [formControl]="addItem" [matAutocomplete]="auto"
                              >
                              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith"
                                (optionSelected)="fillItemDetails()"
                              >
                                <mat-option *ngFor="let product of (filteredProducts | async)" [value]="product">{{product.prodName}}</mat-option>
                              </mat-autocomplete>
                            </div>
                            <div class="custom-description">
                              <textarea id="descId" name="description_{{index}}" class="form-control" elastic
                                style="margin-top: 3px; padding: 1px 1px 0px 4px; min-height: 60px; max-height: 80px; height: 73px;"
                                [(ngModel)]="activeItem.description"  placeholder="Description"
                              ></textarea>
                            </div>
                          </div>
                        </td>

                        <td style="vertical-align: initial;" [class.no-border-last]="last">
                          <div class="form-group">
                            <input type="number" name="itemQty" id="qty" step="any" class="form-control text-right" min="0.01"
                              [(ngModel)]="activeItem.quantity" (change)="calculateTotal()" select-on-click my-enter-in>
                          </div>
                        </td>

                        <td style="vertical-align: initial;" [class.no-border-last]="last">
                          <div class="form-group">
                            <input type="number" name="itemRate" step="any" class="form-control text-right" min="0.01"
                              [(ngModel)]="activeItem.rate" (change)="calculateTotal()" select-on-click my-enter-in
                            />
                          </div>
                        </td>

                        <td style="vertical-align: initial; position: relative !important;" 
                          [class.no-border-last]="last"
                        >
                          <div class="form-group">
                            <input type="number" step="any" class="form-control text-right" 
                              title="Amount is calculated automatically."
                              name="itemTotal" [(ngModel)]="activeItem.total" disabled convert-decimal
                            />
                          </div>

                          <button type="button" class="btnd add-line-item-button" (click)="addEditEstimateItem()"
                            style="position: absolute; right: 0; bottom: 5px;" [disabled]="!addItem.value || activeItem.quantity == 0 || activeItem.rate == 0"
                          >
                            Add Item
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="row add-item-button">
                    <!-- Tax discount list -->
                    <div class="col-12 offset-md-6 col-md-6 discount-tax-pad font-custom-bold">
                      <div class="cursor-pointer" *ngIf="activeEstimate.percentage_flag==null">
                        <a class="inline" (click)="activeEstimate.percentage_flag=0;activeEstimate.discount=0.00">
                          {{tempDisLabel}}+
                        </a>
                      </div>
                      <div class="cursor-pointer" *ngIf="activeEstimate.shipping_charges == null">
                        <a class="inline" (click)="activeEstimate.shipping_charges = 0">{{tempShippingLabel}}+</a>
                      </div>
                      <div class="cursor-pointer" *ngIf="activeEstimate.tax_rate == null">
                        <a class="inline" (click)="activeEstimate.tax_rate=0; activeEstimate.tax_amount = 0">Tax+</a>
                      </div>
                      <div class="cursor-pointer" *ngIf="activeEstimate.adjustment == null">
                        <a class="inline" (click)="activeEstimate.adjustment = 0">{{tempAdjLabel}}+</a>
                      </div>
                      <!-- <div class="inline" *ngFor="let tax of activeSetting.alstTaxName">
                        <div *ngIf="showMultipleTax && multiTaxButtonForAddEstimate(tax.taxName,$index)">
                          <a (click)="showMeMultipleTax($index);">{{tax.taxName}}+</a>
                        </div>
                      </div> -->
                    </div>
                  </div>

                  <div class="row mar0">
                    <!--Term and Condition -->
                    <div class="col-12 col-md-6 pad-left-0">
                      <div class="col-md-12 col-xs-12 col-md-12 term-cond-label font-custom-bold" style="text-align: left">
                        <span class="bld">{{tempTermLabel}}</span>
                        <a (click)="openAddTermModal()" class="pull-right" title="add term" data-toggle="tooltip" data-placement="top"
                          data-original-title="Add" title="Add Term"
                        >
                          <img src="assets/images/add16.png" alt="logo" style="vertical-align: initial;height:10px; margin-right: 3px;">
                          Add Terms
                        </a>
                      </div>
        
                      <div class="col-md-12 col-xs-12 col-md-12 pad0">
                        <div class="form-group">
                          <div *ngFor="let term of activeEstimate.termsAndConditions" class="row mar0">
                            <div class="term-text-align col-md-10 col-xs-8 col-sm-8 pad-right-0">
                              {{term.terms}}
                            </div>
                            <div class="col-md-2 ml-auto" (click)="addRemoveTermsFromEstimate(term)" style="cursor:pointer;">
                              <a class="closeicon show float-right">
                                <img src="assets/images/delete16.png" class="del set-color" alt="" style="height:16px;">
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 pad-right-0">
                      <!-- Total -->
                      <div class="col-12 term-cond-label" style="margin-bottom: 5px;">
                        <div class="row mar0">
                          <div class="col-6 text-left">
                            <span class="font-custom-bold">{{tempSubToLabel}}</span>
                          </div>
                          <div class="col-6 text-right">
                            <span class="font-custom-bold">{{activeEstimate.gross_amount | currency:'INR':'symbol':'1.2-2'}}</span>
                          </div>
                        </div>
                      </div>

                      <!-- Discounts -->
                      <div class="col-12 pad-right-0 margin-bottom-5px" *ngIf="activeEstimate.percentage_flag != null">
                        <div class="row">                        
                          <div class="col-5 discount-tax-label pad-right-0">
                            <span style="text-align: left;vertical-align: bottom;" class="inline">{{tempDisLabel}}</span>
                            <div *ngIf="activeEstimate.percentage_flag == 0" class="inline font-custom">({{currencySymbolTemp }})</div>
                            <div *ngIf="activeEstimate.percentage_flag == 1" class="inline font-custom">(%)</div>

                            <div class="pad0" style="float: right;">
                              <div style="cursor: pointer;" class="dropdown-toggle custom-dropdown " 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                              >
                                <span class="glyphicon glyphicon-menu-down"
                                  style="font-size: 14px;vertical-align: middle;" title="Discount"
                                ></span>
                              </div>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li [class.active]="activeEstimate.percentage_flag == 0">
                                  <a (click)="activeEstimate.percentage_flag = 0;
                                      activeEstimate.discount=0.00;
                                      calculateEstimate(false)
                                    "
                                  >
                                    Flat ({{currencySymbolTemp}})
                                  </a>
                                </li>
                                <li [class.active]="activeEstimate.percentage_flag == 1">
                                  <a (click)="activeEstimate.discount=0.00;
                                      activeEstimate.percentage_flag=1;
                                      calculateEstimate(false)
                                    "
                                  >
                                    Percent (%)
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>

                          <div class="col-6 pad-right-0">
                            <form #form_discount="ngForm" name="form_discount">
                              <div class="input-group addon-input">
                                <div *ngIf="activeEstimate.percentage_flag == 1">
                                  <input type="number" id="percentage_input" name="percentage_input" min="0.00" max="100"
                                    step="any" class="form-control"
                                    [(ngModel)]="activeEstimate.percentage_value" (change)="calculateEstimate(false)"
                                  />
                                </div>

                                <div *ngIf="activeEstimate.percentage_flag == 0">
                                  <input type="number" id="discount_input" name="discount_input" step="any"
                                    min="0.00" [max]="activeEstimate.gross_amount" class="form-control"
                                    required [(ngModel)]="activeEstimate.discount"
                                    (change)="calculateEstimate(false)"
                                  />
                                </div>
                              </div>
                            </form>
    
                            <!-- <div class="form-error" *ngIf="!activeEstimate.percentage_flag == 0 ">
                              <span *ngIf="form_discount.controls.percentage_input">Not more than 100</span>
                            </div>
                            <div class="form-error">
                              <span *ngIf="form_discount.controls.discount_input">Not more than Total</span>
                            </div> -->
                          </div>

                          <div class="col-1 pad0">
                            <div class="remove-button">
                              <div class="addon selectorpad-right-0"
                                (click)="activeEstimate.discount=0.00;
                                  activeEstimate.percentage_value=0;
                                  activeEstimate.percentage_flag=null;
                                  calculateEstimate(false)
                                "
                              >
                                <img src="assets/images/delete16.png" alt="" style="height:16px;">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Tax -->
                      <div class="col-12 pad-right-0 margin-bottom-5px" *ngIf="activeEstimate.tax_rate != null">
                        <div class="row">
                          <div class="col-4 discount-tax-label pad-right-0">
                            <div class="d-inline font-custom" style="text-align: left;vertical-align: bottom;">Tax</div>
                            <div class="d-inline font-custom">(%)</div>
                          </div>
  
                          <div class="col-8 pad-left-0">
                            <form #tax_input="ngForm" name="tax_input">
                              <div class="input-group pad-right-0">
                                <input type="number" id="tax_input" name="tax_input" class="form-control"
                                  step="any"min="0.00" max="100" required
                                  [(ngModel)]="activeEstimate.tax_rate" (change)="calculateEstimate(false)"
                                />
                                <!-- <div class="input-group-addon addon-right">%</div>-->
                                <div class="input-group-addon pad-right-0 remove-button">
                                  <div class="addon selectorpadr0" (click)="activeEstimate.tax_rate = null; activeEstimate.tax_amount=0;calculateEstimate(false)">
                                    <img src="assets/images/delete16.png" style="height:16px;">
                                  </div>
                                </div>
                              </div>
                            </form>

                            <!-- <div class="form-error">
                              <span *ngIf="tax_input.tax_input.$error.max">Not more than 100</span>
                            </div>      -->
                          </div>
                        </div>
                      </div>

                      <!-- Tax List -->
                      <div class="col-12 pad-right-0 margin-bottom-5px"
                        *ngFor="let tax of activeEstimate.taxList; let index = index"
                      >
                        <div class="row">
                          <div class="col-5 discount-tax-label pad-right-0">
                            <div class="inline font-custom" style="text-align: left;vertical-align: bottom;">{{tax.taxName}}</div>
                            <div class="inline font-custom">(%)</div>
                          </div>

                          <div class="col-6 pad-right-0">
                            <form #tax_list_input="ngForm" name="tax_list_input">
                              <div class="input-group pad-right-0">
                                <input class="form-control" name="tax_input" id="tax_input_list" min="0.00" type="number" step="any"
                                  max="100" tabindex="1005" [required]="ngRequired" [(ngModel)]="tax.percentage" [value]="tax.percentage"
                                  (change)="calculateEstimate(true)" select-on-click my-enter-in disable-enter
                                />
                              </div>
                              <!--<input type="text" [(ngModel)]="data.estimate.taxList[$index].taxName" [value]="{{tax.taxName}}"/>-->
                            </form>

                            <div class="form-error">
                              <span *ngIf="tax_list_input.tax_input">Not more than 100</span>
                            </div>
                          </div>

                          <div class="col-1 pad0">
                            <div class="remove-button">
                              <div class="addon selectorpad-right-0"
                                (click)="activeEstimate.taxList.splice(index, 1);
                                  calculateEstimate(true);
                                "
                              >
                                <img src="assets/images/delete16.png" alt="" style="height:16px;">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Shipping -->
                      <div class="col-12 pad-right-0 margin-bottom-5px" *ngIf="activeEstimate.shipping_charges !== undefined">
                        <div class="row">
                          <div class="col-5 discount-tax-label">
                            <div class="inline" style="text-align: left;vertical-align: bottom;">{{tempShippingLabel}} (+)</div>
                          </div>
    
                          <div class="col-7">
                            <form #form_shipping_input="ngForm" name="form_shipping_input">
                              <div class="input-group pad-right-0">
                                <input type="number" name="shipping_input" class="form-control"
                                  step="any" min="0.00" [max]="activeEstimate.gross_amount" required
                                  [(ngModel)]="activeEstimate.shipping_charges" (change)="calculateEstimate(false)"
                                />
                                <div class="pad-right-0 remove-button">
                                  <div class="addon selectorpadr0" (click)="activeEstimate.shipping_charges = undefined;calculateEstimate(false)">
                                    <img src="assets/images/delete16.png" alt="" style="height:16px;">
                                  </div>
                                </div>
                              </div>
                            </form>
    
                            <!-- <div class="form-error">
                              <span *ngIf="form_shipping_input.shipping_input.$error.max">Not more than 100</span>
                            </div> -->
                          </div>
                        </div>
                      </div>

                      <!-- Adjustment -->
                      <div class="col-12 pad-right-0 margin-bottom-5px" *ngIf="activeEstimate.adjustment != null">
                        <div class="row">
                          <div class="col-4 discount-tax-label pad-right-0">
                            <div style="text-align: left;vertical-align: bottom;">{{tempAdjLabel}} (-)</div>
                          </div>

                          <div class="col-8 pad-left-0">
                            <form #adjst_input="ngForm" name="adjst_input">
                              <div class="input-group pad-right-0">
                                <input type="number" name="tax_input" class="form-control"
                                  step="any" required
                                  [(ngModel)]="activeEstimate.adjustment" (change)="calculateEstimate(false)"
                                />
                                <div class="input-group-addon pad-right-0 remove-button">
                                  <div class="addon selectorpadr0" (click)="activeEstimate.adjustment = null; calculateEstimate(false)">
                                    <img src="assets/images/delete16.png" style="height:16px;">
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>

                      <!-- Grand Total -->
                      <div class="col-12 term-cond-label">
                        <div class="row mar0">
                          <div class="col-6 text-left">
                            <span class="font-custom-bold" value="">{{tempTotalLabel}}</span>
                          </div>

                          <div class="col-6 text-right">
                            <span class="font-custom-bold">{{activeEstimate.amount | currency:'INR':'symbol':'1.2-2'}}</span>      
                          </div>
                        </div>
                      </div>

                      <!-- Save -->
                      <div class="col-12 pad0 margin-top-20">
                        <button type="submit" id="estSubmitBtn" [disabled]="!activeEstimate.listItems || activeEstimate.listItems.length == 0"
                          class="btn btn-success btn-raised width25btn pull-right font-weight-bold"
                          data-loading-text="Saving..<i class='fa fa-spinner fa-spin '></i>"
                        >
                          SAVE
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- Previous Estimates Button -->
      <div class="col-12 col-md-3">
        <button type="button" class="btnd add-line-item-button" (click)="router.navigate(['/estimate/view'])">
          Show Previous Estimates
        </button>

        <!-- Delete Estimates Button -->
        <button type="button" class="btnd add-line-item-button" *ngIf="edit" (confirm)="deleteEstimate()"
          [swal]="{ title: 'Are you sure want to delete Estimate?', type: 'warning', showCancelButton: true,
            confirmButtonColor: '#DD6B55', confirmButtonText: 'Yes, delete it!'}
          "
        >
          Delete Estimates
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ADD CLIENT MODAL -->
<div id="add-client" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" 
  aria-hidden="true" data-backdrop="static" data-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title form-header font-custom-bold header-color" id="clientFormLabel">
          Add New Client
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="assets/images/cross16.png" alt="logo">
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal add-client-form" name="clientform" #clientform="ngForm">
          <div class="col-12">
            <div class="row">
              <div class="col-6" style="padding-right: 23px;">
                <div class="form-group" [class.has-error]="(clientform.submitted && clientform.errors)">
                  <input type="text" name="name" class="form-control add-client-input-custom"
                    [(ngModel)]="addClientModal.name" placeholder="Organization Name" required
                  />
                  <div class="form-error" *ngIf="(clientform.submitted && clientform.errors)">
                    <span *ngIf="clientform.name">Required</span>
                    <span *ngIf="errors">{{ errors.name[0] }}</span>
                  </div>
                </div>
              </div>

              <div class="col-6" style="padding-left: 23px;">
                <div class="form-group " [class.has-error]="(clientform.submitted && clientform.errors)">
                  <input type="text" name="contactPersonName" class="form-control add-client-input-custom"
                    [(ngModel)]="addClientModal.contactPersonName" placeholder="Contact Person"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-6" style="padding-right: 23px;">
                <div class="form-group " [class.has-error]="(clientform.submitted && clientform.errors)">
                  <input type="text" [(ngModel)]="addClientModal.email" name="email" class="form-control add-client-input-custom"
                    placeholder="Email" my-enter-in select-on-click
                  />
                </div>
              </div>
              <div class="col-6" style="padding-left: 23px;">
                <div class="form-group" [class.has-error]="(clientform.submitted && clientform.errors)">
                  <input type="text" [(ngModel)]="addClientModal.number" name="cont_number" class="form-control add-client-input-custom"
                    placeholder="Number" my-enter-in select-on-click
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group add-client-input-width" style="padding-right: 12px;"
              [class.has-error]="(clientform.submitted && clientform.errors)"
            >
              <textarea elastic [(ngModel)]="addClientModal.addressLine1" name="addressLine1"
                class="form-control" placeholder="Address" select-on-click style="max-height: 69px; height: 69px;"
              ></textarea>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group add-client-input-width" style="padding-right: 12px;"
              [class.has-error]="(clientform.submitted && clientform.errors)"
            >
              <textarea elastic [(ngModel)]="addClientModal.shippingAddress" name="shippingAddress" class="form-control"
                placeholder="Shipping Address" select-on-click style="max-height: 69px; height: 69px;"
              ></textarea>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group add-client-input-width">
              <input type="text" [(ngModel)]="addClientModal.businessId" name="businessId" class="form-control add-client-input-custom"
                placeholder="Business Id " select-on-click
              />
            </div>
          </div>

          <div class="col-12">
            <div class="form-group add-client-input-width">
              <input type="text" [(ngModel)]="addClientModal.businessDetail" name="businessDetail" class="form-control add-client-input-custom"
                placeholder="Business Detail" my-enter-in select-on-click
              />
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-raised btn-custom-1 width20btn" data-dismiss="modal">
          Close
        </button>
        <!-- <button type="button" id="saveClientButton" class="btn  btn-raised  btn-success width20btn" data-loading-text="Saving..<i class='fa fa-spinner fa-spin '></i>"
          [disabled]="!clientform.valid" (click)="saveClient(clientform.valid)"
        >
          Add Client
        </button> -->
      </div>
    </div>
  </div>
</div>

<!-- EDIT ITEM MODAL -->
<div id="edit-item" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" 
  aria-hidden="true" data-backdrop="static" data-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title form-header font-custom-bold header-color" id="clientFormLabel">
          Edit Item
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="closeEditItemModal()">
          <img src="assets/images/cross16.png" alt="logo">
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal add-client-form" name="itemform" #itemform="ngForm">
          <input type="hidden" name="uid" [ngModel]="activeItem.unique_identifier">
          <div class="row">
            <div class="col-12">
              Name:
              <input type="text" name="name" class="form-control add-client-input-custom"
                [ngModel]="activeItem.product_name" placeholder="Name" required disabled
              />
            </div>

            <div class="col-12">
              Description:
              <textarea [(ngModel)]="activeItem.description" name="description" class="form-control"
                placeholder="Description" select-on-click style="max-height: 69px; height: 69px;"
              ></textarea>
            </div>

            <div class="col-12">
              Quantity:
              <input type="number" name="quantity" class="form-control add-client-input-custom"
                [(ngModel)]="activeItem.quantity" (change)="calculateTotal()"
                placeholder="Quantity" my-enter-in select-on-click
              />
            </div>

            <div class="col-12">
              Rate:
              <input type="number" name="rate" class="form-control add-client-input-custom"
                [(ngModel)]="activeItem.rate" (change)="calculateTotal()"
                placeholder="Rate" my-enter-in select-on-click
              />
            </div>

            <div class="col-12">
              Total:
              <input type="number" [ngModel]="activeItem.total" name="total" placeholder="quantity" disabled
                class="form-control add-client-input-custom"
              />
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-raised btn-custom-1 width20btn" (click)="closeEditItemModal()">
          Close
        </button>
        <button type="button" id="saveClientButton" class="btn  btn-raised  btn-success width20btn"
          [disabled]="!itemform.valid" (click)="addEditEstimateItem(itemform.controls.uid.value)"
        >
          Edit Item
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ADD TERMS MODAL -->
<div id="add-terms" class="modal fade" tabindex="-1" role="dialog" 
  aria-labelledby="gridSystemModalLabel" data-backdrop="static" data-keyboard="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title form-header header-color font-custom-bold" id="addPaymentLabel">
          Add Terms & Condition
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="assets/images/cross16.png" alt="logo">
        </button>
      </div>

      <div class="modal-body">
        <form name="termForm" #termForm="ngForm">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <textarea name="term" class="form-control" [(ngModel)]="addTermModal.terms"
                  placeholder="Add term & Condition" style="height: 110px;" required elastic
                ></textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="checkbox pull-left">
                <input type="checkbox" id="addtermcheck" name="setDefault"
                  [(ngModel)]="addTermModal.setDefault"
                  class="ng-pristine ng-valid ng-touched modal-checkbox"
                >
                <!-- <label class="inline" for="addtermcheck"></label> -->
                <div class="inline">Default?</div>
              </div>
              <!-- <button type="button" id="addtermbtn" name="addtermbtn" title="save"
                class="btn btnd btn-success btn-raised pull-right width10btn fontsize12 font-custom-bold"
                [disabled]="!termForm.valid" (click)="saveTerm(termForm.valid)"
              >
                SAVE
              </button> -->
            </div>
          </div>
        </form>

        <div class="col-12" style="padding: 20px 24px 20px 15px">
          <div class="col-12 mCustomScrollbar">
            <div class="item termlist row product-list" id="term1{{index}}"
              *ngFor="let term of termList; let index = index" [class.selected]="selectedTerm == index"
            >
              <div class="col-12 pad0">
                <div class="row">
                  <div class="col-md-1 pad0">
                    <input type="checkbox" id="termcheck{{index}}" name="term"
                      (change)="addRemoveTermsFromEstimate(term)"
                      [checked]="isTermInEstimate(term)"
                    />
                    <!-- <label class="" for="termcheck{{$index}}"></label> -->
                  </div>
                  <div class="col-md-9 pad-left-0">
                    <span style="vertical-align: top;"> {{term.terms}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>