<div class="row mt-4">
  <div class="col-md-7 pr-0" style="margin-left: 5%;">
    <!-- <div id="login-left-inner" class="row" style="padding: 0 0 20px 0; background-color: #f2f2f2">
      <h1 class="heading-left-align" style="color: #0780d2; font-size: 30px; margin-top: 40px; font-weight: 1000">Simple Invoice Manager</h1>
      <h3 class="sub-heading" style="margin-top: 0; font-size: 15px; ; color: #364b5e">Make Professional Invoices <br> from your mobile</h3>
      <div>
       
        <img src="assets/images/login/web_banner.png" id="img-left-main" style="width: 50%; margin: 2%">
      </div>
      <div class="col-md-12" style="font-size: 11px; padding-right: 4%; color: #364b5e">
        Simple Invoice Manager is a complete suite for all your invoicing needs, right from sending estimates to invoices, recording a payment to finally issuing a payment receipt to your client. Its simple yet feature-rich designs will get you going in minutes. Professionally designed templates will help you stand out of competetion and cloud-backed infrastructure will help you collaborate with your team
      </div>
    </div> -->
    <div class="info-container text-center">
        <h1 class="heading-left-align" style="color: #0780d2; font-size: 30px; margin-top: 30px; font-weight: 1000">Simple Invoice Manager</h1>
        <h3 class="sub-heading" style="margin-top: 0; font-size: 15px; ; color: #364b5e">Make Professional Invoices <br> from your mobile</h3>
      <img src="assets/images/login/web_banner.png" class="">
      <p>
        Simple Invoice Manager is a complete suite for all your invoicing needs, right from sending estimates to invoices,
        recording a payment to finally issuing a payment receipt to your client. Its simple yet feature-rich designs will
        get you going in minutes. Professionally designed templates will help you stand out of competetion and cloud-backed 
        infrastructure will help you collaborate with your team.
      </p>
    </div>
  </div>
  <div class="col-md-4 px-0" style="max-width: 28.333333% !important;margin-top: 1%;">
    <div *ngIf="loggingIn == false" class="login-form-container">
      <img src="assets/images/login/lg.png" class="lock-image img-fluid">

      <div class="login-form" *ngIf="!forgetFlag">
        <form name="form" (ngSubmit)="loginUser($event)">
          <div class="form-group" style="margin-bottom: 8px;">
            <i class="fa fa-envelope"></i>
            <input type="text" class="login-input" name="email"
              [(ngModel)]="user.userName" autocomplete="off" placeholder="Email"
            >
          </div>
          <div style="min-height: 15px;">
            <span *ngIf="errorMessage" class="font-custom-bold" style="color: #ff0000; font-size: 11px">
              <img src="assets/images/exclamation16.png" style="width: 12px;margin-top: -3px;">
              {{errorMessage}}
            </span>
          </div>
          <div class="form-group">
            <i class="fa fa-key"></i>
            <input type="password" class="login-input" name="password" style="margin-top: -6px;"
              [(ngModel)]="user.password" placeholder="Password" required autocomplete="off"
            >
          </div>
          <div id="rem-for">
            <div class="padl0 pull-left">
              <input type="checkbox" id="remember">
                <label class="font-custom-bold fontsize12" style="vertical-align: text-top;" for="remember"></label>
                Remember me
            </div>
            <a class="pull-right" (click)="forgetFlag=true">Forgot Password?</a>
          </div>
  
          <div class="clearfix">&nbsp;</div>
          <div class="clearfix">&nbsp;</div>
          <div class="form-group">
            <button type="submit" id="login-btn" name="login-btn">
              <span>Login <i *ngIf="loginLoader" class='fa fa-spinner fa-spin' style="position: inherit;"></i></span>
            </button>
          </div>
        </form>
        <div id="or-div">
          <div id="h2-div"><span>Or</span></div>
        </div>
        <div class="social-login-container text-center">
          <a type="button" id="fbbtn" name="fbbtn" style="cursor: pointer"
            (click)="socialSignIn('facebook')"
          >
            <img src="assets/images/login/fb.png">
          </a>
          <a type="button" id="googlebtn" name="googlebtn" style="cursor: pointer"
            (click)="socialSignIn('google')"
          >
            <img src="assets/images/login/gplus.png">
          </a>
        </div>
      </div>

      <div class="login-form" *ngIf="forgetFlag">
        <div class="col-md-12">
          <div class="font-custom-book" style="margin-top:42.5px;font-weight: 900;font-size: 11px;text-align:center">
            enter your email id to reset password
          </div>

          <form name="forgetForm" #forgetForm="ngForm" (ngSubmit)="forgetPassword(forgetForm)">
            <div class="form-group input--with-icon">
              <i class="fa fa-envelope input-icons"></i>
              <input type="email" class="login-input" name="email" [(ngModel)]="forgetMail" required autocomplete="off" placeholder="Email">
            </div>
            <div style="text-align: center" class="margin-bottom-5px" *ngIf="errorMessage">
              <span class="font-custom-bold" style="color: #ff8000; font-size: 11px">{{errorMessage}}</span>
            </div>
            <div class="form-group">
              <button type="submit" id="login-btn1" name="login-btn" [disabled]="!forgetForm.valid">Reset</button>
            </div>
          </form>
        </div>
        <div class="forget-back text-center">
          <span (click)="forgetFlag = false;errorMessage='';">Go Back</span>
        </div>
      </div>
    </div>
    
    <div *ngIf="loggingIn" class="login-form-container">
      <div class="login-form">
      <h5><svg class="checkmark" viewBox="0 0 52 52">
          <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
          <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
        </svg>Logged In Successfully.. </h5>
      

      <div>
        <div class="bottom_mrg">
          <span id="counting_client" style="font-family: quicksand_bold !important;"></span>
          <span [ngClass]="{loading: clientsCompleted == false}" style="font-size: 20px">Clients Loading</span>
          <input type="checkbox" [checked]="clientsCompleted == true"/>
        </div>
        <div class="bottom_mrg">
            <span id="counting_product" style="font-family: quicksand_bold !important;"></span>
            <span [ngClass]="{loading: productsCompleted == false}" style="font-size: 20px">Products Loading</span>
            <input type="checkbox" [checked]="productsCompleted == true"/>
        </div>
        <div class="bottom_mrg">
            <span id="counting_terms" style="font-family: quicksand_bold !important;"></span>
            <span [ngClass]="{loading: termsCompleted == false}" style="font-size: 20px">Terms And Conditions Loading</span>
            <input type="checkbox" [checked]="termsCompleted == true"/>
        </div>
        <div class="bottom_mrg">
            <span id="counting_setting" style="font-family: quicksand_bold !important;"></span>
            <span [ngClass]="{loading: settingsCompleted == false}" style="font-size: 20px">Settings Loading</span>
            <input type="checkbox" [checked]="settingsCompleted == true"/>
        </div>
      </div>
      
    </div>
  </div>
  </div>
</div>