.login-container {
  margin-top: 8%;
}
.info-container {
  padding: 1%;
  margin: 32px 0px;
  background-color: #f2f2f2;
}
.info-container img {
  width: 377px;
  height: auto;
  margin-top: 10px;
}
.info-container p {
  padding: 0 1%;
  margin-top: 2%;
  font-size: 12px !important;
}
.login-form-container {
  padding: 13%;
  background-color: #176cc1;
}
.lock-image{
  width: 75px;
  height: auto;
  position: absolute;
  top: 2%;
  left: 40%
}
.login-form {
  background-color: #ffffff;
  padding: 12px 20px
}
.social-login-container a {
  width: 66%;
  max-height: 30px;
  margin-bottom: 5%
}
.social-login-container a img {
  max-width: 100%;
}
.login-input {
  width: 100%;
  min-height: 40px;
  padding-left: 40px;
  border: 1px solid #9f978e
}
.login-input::placeholder {
  font-weight: 600;
  color: #000
}
.form-group i {
  position: relative;
  top: 32px;
  left: 12px;
}
#rem-for {
  font-size: 12px;
}
#login-btn
{
  width:100%;
  background-color: #176cc1;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 3px 8px 1px rgba(118,111,111,0.57)
}
#login-btn1
{
  width:100%;
  background-color: #176cc1;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 3px 8px 1px rgba(118,111,111,0.57)
}
#h2-div {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #333; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 
#h2-div span { 
  background:#fff; 
  padding:0 10px; 
}
#or-div {
  margin-top: 22px;
}
#remember {
  border: 1px solid #176cc1;
}
#login-container {
  height: 485px;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: block;
  stroke-width: 5;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 15% 76%;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}