.login-container {
  margin-top: 8%;
}
.info-container {
  padding: 1%;
  margin: 32px 0px;
  background-color: #f2f2f2;
}
.info-container img {
  width: 377px;
  height: auto;
  margin-top: 10px;
}
.info-container p {
  padding: 0 1%;
  margin-top: 2%;
  font-size: 12px !important;
}
.login-form-container {
  padding: 13%;
  background-color: #176cc1;
}
.lock-image{
  width: 75px;
  height: auto;
  position: absolute;
  top: 2%;
  left: 37%
}
.login-form {
  background-color: #ffffff;
  padding: 12px 13px
}
.social-login-container a {
  width: 66%;
  max-height: 30px;
  margin-bottom: 5%
}
.social-login-container a img {
  max-width: 100%;
}
.login-input {
  width: 100%;
  min-height: 40px;
  padding-left: 40px;
  border: 1px solid #9f978e
}
.login-input::placeholder {
  font-weight: 600;
  color: #000
}
.form-group i {
  position: relative;
  top: 32px;
  left: 12px;
}
#rem-for {
  font-size: 12px;
}
#login-btn
{
  width:100%;
  background-color: #176cc1;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 3px 8px 1px rgba(118,111,111,0.57)
}
#login-btn1
{
  width:100%;
  background-color: #176cc1;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 3px 8px 1px rgba(118,111,111,0.57)
}
#h2-div {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #333; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 
#h2-div span { 
  background:#fff; 
  padding:0 10px; 
}
#or-div {
  margin-top: 22px;
}
#remember {
  border: 1px solid #176cc1;
}
#login-container {
  height: 485px;
}

.center{
  height: 52px;
  margin-top: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: -34px; */
  opacity: unset;
  margin-bottom: 6px;
}
.loginOpacity{
  opacity: .1;
}
.loggingInBtn{
  font-size: 18px !important;
    font-family: quicksand_bold !important;
    color: #2096f3;
    border: none;
    padding: 11px 45px 11px 45px;
    border-radius: 11px;
    position: relative;
    top: -281px;
    border: 1px solid #f3f3f3;
    padding: -18px;
    text-align: center;
    background-color: #ffffff;
}
.loading_text{
  font-size: 14px;
  font-family: quicksand_bold !important;
  color:#2096f3;
}
.loading_tick_img{
  height: 14px;
  float: right;
  margin-top: 4px;
  /* margin-right: 3px; */
}
.sm_tik_img{
  background-color: #d8eafc;
  padding: 1px 5px 0px 3px;
  height: 25px;
}
/* testing */
@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  font-size: 20px;
}

.loading span:nth-child(2) {
  animation-delay: .2s;
}

.loading span:nth-child(3) {
  animation-delay: .4s;
}