<div class="row login-container">
  <div class="col-md-7 pad-right-0" style="margin-left: 1%;">
    <div class="info-container text-center">
      <img src="assets/images/login/lh.png" class="">
      <p>
        readable content of a page when looking at its layout. The point of using
        Lorem Ipsum is that it has a more-or-less normal distribution of letters,
        as opposed to using 'Content here, content here', making it look like readable English.
        Many desktop publishing packages and web page edito
      </p>
    </div>
  </div>
  <div class="col-md-4 pad0">
    <div class="login-form-container">
      <img src="assets/images/login/lg.png" class="lock-image img-fluid">

      <div class="login-form" *ngIf="!forgetFlag">
        <form name="form" (ngSubmit)="loginUser($event)">
          <div class="form-group" style="margin-bottom: 8px;">
            <i class="fa fa-envelope"></i>
            <input type="text" class="login-input" name="email"
              [(ngModel)]="user.userName" autocomplete="off" placeholder="Email"
            >
          </div>
          <div style="min-height: 15px;">
            <span *ngIf="errorMessage" class="font-custom-bold" style="color: #ff0000; font-size: 11px">
              <img src="assets/images/exclamation16.png" style="width: 12px;margin-top: -3px;">
              {{errorMessage}}
            </span>
          </div>
          <div class="form-group">
            <i class="fa fa-key"></i>
            <input type="password" class="login-input" name="password" style="margin-top: -6px;"
              [(ngModel)]="user.password" placeholder="Password" required autocomplete="off"
            >
          </div>
          <div id="rem-for">
            <div class="padl0 pull-left">
              <input type="checkbox" id="remember">
                <label class="font-custom-bold fontsize12" style="vertical-align: text-top;" for="remember"></label>
                Remember me
            </div>
            <a class="pull-right" (click)="forgetFlag=true">Forgot Password?</a>
          </div>
  
          <div class="clearfix">&nbsp;</div>
          <div class="clearfix">&nbsp;</div>
          <div class="form-group">
            <button type="submit" id="login-btn" name="login-btn">
              <span>Login <i *ngIf="loggingIn" class='fa fa-spinner fa-spin' style="position: inherit;"></i></span>
            </button>
          </div>
        </form>
        <div id="or-div">
          <div id="h2-div"><span>Or</span></div>
        </div>
        <div class="social-login-container text-center">
          <a type="button" id="fbbtn" name="fbbtn" style="cursor: pointer"
            (click)="socialSignIn('facebook')"
          >
            <img src="assets/images/login/fb.png">
          </a>
          <a type="button" id="googlebtn" name="googlebtn" style="cursor: pointer"
            (click)="socialSignIn('google')"
          >
            <img src="assets/images/login/gplus.png">
          </a>
        </div>
      </div>

      <div class="login-form" *ngIf="forgetFlag">
        <div class="col-md-12">
          <div class="font-custom-book" style="margin-top:42.5px;font-weight: 900;font-size: 11px;text-align:center">
            enter your email id to reset password
          </div>

          <form name="forgetForm" #forgetForm="ngForm" (ngSubmit)="forgetPassword(forgetForm)">
            <div class="form-group input--with-icon">
              <i class="fa fa-envelope input-icons"></i>
              <input type="email" class="login-input" name="email" [(ngModel)]="forgetMail" required autocomplete="off" placeholder="Email">
            </div>
            <div style="text-align: center" class="margin-bottom-5px" *ngIf="errorMessage">
              <span class="font-custom-bold" style="color: #ff8000; font-size: 11px">{{errorMessage}}</span>
            </div>
            <div class="form-group">
              <button type="submit" id="login-btn1" name="login-btn" [disabled]="!forgetForm.valid">Reset</button>
            </div>
          </form>
        </div>
        <div class="forget-back text-center">
          <span (click)="forgetFlag = false;errorMessage='';">Go Back</span>
        </div>
      </div>
    </div>
  </div>
</div>