<div class="row main-wrapper" style="background-color: #e6ecf0 !important;" >
    <div class="row col-md-3" id="main"style="padding-top: 0px !important;">
      <form class="form-horizontal back shadow settingForm" style="margin-top: 0px;position: fixed;"  #addTaxesForm="ngForm" enctype="multipart/form-data">
        <div class="row mx-0">
          <div class="row">
              <div class="label_div" (click)="router.navigate(['/setting/primary'])" [ngClass]="{'selectedSetting' : router.url === '/setting/primary'}">
                <span>Primary settings</span>
              </div>
              <div class="label_div" (click)="router.navigate(['/setting/customField'])" [ngClass]="{'selectedSetting' : router.url === '/setting/customField'}">
                <span>Custom Field Name</span>
              </div>
              <div class="label_div" (click)="router.navigate(['/setting/banking'])" [ngClass]="{'selectedSetting' : router.url === '/setting/banking'}">
                <span>Banking Details</span>
              </div>
              <div class="label_div" (click)="router.navigate(['/setting/tnc'])" [ngClass]="{'selectedSetting' : router.url === '/setting/tnc'}">
                <span>Terms & Conditions</span>
              </div>
          </div>
        </div>
        
      </form>
    </div>
  <div class="col-12 col-md-9" id="main">
    <form class="form-horizontal" #addTaxesForm="ngForm" enctype="multipart/form-data" *ngIf="activeSettings">
      <div class="row mx-0">
        <div class="col-12 mt-2">
          <!-- <div class="col-9 pull-left fontsize18">
            <h4 class="form-header inline font-custom-bold mt-1">
              <i class="fa fa-gear"></i> Primary settings
            </h4>
          </div> -->

          <button type="submit" id="updateButton" name="update-button" (click)="saveSettings()" style="margin-right: -40px;"
          class="btn save_btn btn-raised pull-right width12perbtn"
            [disabled]="!addTaxesForm.valid"
          >
            Update
          </button>
        </div>
      </div>

      <div class="row mx-0 pb-5">
        <div class="col-12 mt-1 edit-setting">
          <div class="width85">
            <!-- Tax -->
            <div class="form-group labelSpacing">
              <div class="row">
                <label class="col-12 col-md-3 font-custom-bold fontsize18 labelText ">Tax</label>
                <div class="col-12 col-md-9 taxradio">
                  <input type="radio" id="taxonItem" name="taxon"
                    (click)="activeSettings.taxFlagLevel=0" [checked]="activeSettings.taxFlagLevel==0"
                  >
                  <label for="taxonItem" class="taxonitem fontsize13 border-right-none font-custom-bold">
                    TAX ON ITEM
                  </label>

                  <input type="radio" id="taxonBill" name="taxon"
                    (click)="activeSettings.taxFlagLevel=1" [checked]="activeSettings.taxFlagLevel==1"
                  >
                  <label for="taxonBill" style="border-left: none;" class="taxonbill fontsize13 border-left-right-none font-custom-bold">
                    TAX ON BILL
                  </label>

                  <input type="radio" id="taxdisabled" name="taxon"
                    (click)="activeSettings.taxFlagLevel=2" [checked]="activeSettings.taxFlagLevel==2"
                  >
                  <label for="taxdisabled" class="disabled fontsize13 border-left-none font-custom-bold">
                    DISABLED
                  </label>
                </div>
              </div>
            </div>

            <!-- Discount -->
            <div class="form-group labelSpacing">
              <div class="row">
                <label class="col-12 col-md-3 font-custom-bold fontsize18 labelText">{{settings.discount ? settings.discount : 'Discount'}} </label>
                <div class="col-12 col-md-9 discountradio">
                  <input type="radio" id="discountonitem" name="discounton"
                    (click)="activeSettings.discountFlagLevel=1" [checked]="activeSettings.discountFlagLevel==1"
                  >
                  <label for="discountonitem" 
                    class="discountonitem fontsize13 border-right-none font-custom-bold"
                  >
                  {{settings.discount ? settings.discount : 'DISCOUNT'}} ON ITEM
                  </label>

                  <input type="radio" id="discountonBill" name="discounton"
                    (click)="activeSettings.discountFlagLevel=0" [checked]="activeSettings.discountFlagLevel==0"
                  >
                  <label for="discountonBill"
                    class="discountonbill fontsize13 border-left-right-none font-custom-bold" style="border-left: none;text-transform:uppercase"
                  >
                  {{settings.discount ? settings.discount : 'DISCOUNT'}} ON BILL
                  </label>

                  <input type="radio" id="discountdisabled" name="discounton"
                    (click)="activeSettings.discountFlagLevel=2" [checked]="activeSettings.discountFlagLevel==2"
                  >
                  <label for="discountdisabled"
                    class="discountdisabled fontsize13 border-left-none font-custom-bold"
                  >
                    DISABLED
                  </label>
                </div>
              </div>
            </div>

            <!-- Date Format -->
            <div class="form-group labelSpacing">
              <div class="row">
                <label class="col-12 col-md-3 font-custom-bold fontsize18 labelText">Date Format</label>
                <div class="col-12 col-md-9">
                  <div>
                    <!-- <div class="col-6 font-custom-bold fontsize13" style="width: 25%;">
                      <input type="radio" id="ddMMyyyy" name="dateFormat"
                        [checked]="activeSettings.dateDDMMYY" (click)="setDateFormat('dd-mm-yy')"
                      />
                      <label for="ddMMyyyy"></label>DD-MM-YYYY
                    </div>
                    <div class="col-6 font-custom-bold fontsize13" style="width: 25%;">
                      <input type="radio" id="MMddyyyy" name="dateFormat"
                        [checked]="activeSettings.dateMMDDYY" (click)="setDateFormat('mm-dd-yy')"
                      />
                      <label for="MMddyyyy"></label>MM-DD-YYYY
                    </div> -->
                    <div class="row col-md-9 discountradio">
                        <input type="radio" id="ddMMyyyy" name="dateFormat" (click)="setDateFormat('dd-mm-yy')"
                          [checked]="activeSettings.dateDDMMYY">
                        <label for="ddMMyyyy" class="discountonitem fontsize13 border-right-none font-custom-bold">
                          DD-MM-YYYY
                        </label>
                        <input type="radio" id="MMddyyyy" name="dateFormat" (click)="setDateFormat('mm-dd-yy')"
                          [checked]="activeSettings.dateMMDDYY">
                        <label for="MMddyyyy" class="discountonbill fontsize13 border-left-right-none font-custom-bold"
                          style="border-left: none;text-transform:uppercase">
                          MM-DD-YYYY
                        </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Currency Pattern -->
            <div class="form-group labelSpacing">
              <div class="row">
                <label class="col-12 col-md-3 font-custom-bold fontsize18 labelText">Currency Pattern </label>
                <div class="col-12 col-md-3 dropdown">
                  <div id="dropdownMenuButton" class="dropbtn" data-toggle="dropdown">
                    {{activePatternNumber}} <i class="fa fa-caret-down pattern_icon" aria-hidden="true"></i>
                  </div>
                  <!-- <select class="dropbtn"> Pattern <i class="fa fa-caret-down" aria-hidden="true"></i>
                    <option (click)="setCurrencyPattern('###,###,###.00')">1,000,000.00</option>
                    <option (click)="setCurrencyPattern('##,##,##,###.00')">1,00,00,000.00</option>
                    <option (click)="setCurrencyPattern('###.###.###,00')">1.000.000,00</option>
                    <option (click)="setCurrencyPattern('##.##.##.###,00')">1.00.00.000,00</option>
                    <option (click)="setCurrencyPattern('### ### ###,00')">1 000 000,00</option>
                  </select> -->
                  <div id="myDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="setCurrencyPattern('###,###,###.00')">1,000,000.00</a>
                    <a class="dropdown-item" (click)="setCurrencyPattern('##,##,##,###.00')">1,00,00,000.00</a>
                    <a class="dropdown-item" (click)="setCurrencyPattern('###.###.###,00')">1.000.000,00</a>
                    <a class="dropdown-item" (click)="setCurrencyPattern('##.##.##.###,00')">1.00.00.000,00</a>
                    <a class="dropdown-item" style="margin-bottom: -8px;" (click)="setCurrencyPattern('### ### ###,00')">1 000 000,00</a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Currency Symbol -->
            <div class="form-group labelSpacing">
              <div class="row">
                <label class="col-12 col-md-3 font-custom-bold fontsize18 mt-2 labelText">
                  Currency Symbol
                </label>
                <div class="col-12 col-md-3">
                  <span style="font-size: 11px;color: #2e2e2e;">Select Country</span>
                  <div class="form-group" *ngIf="countries?.length>0">
                    <select name="country-symbol" class="form-control country_select"
                      [ngModel]='activeSettings.countryIndex' (change)="setCountry($event.target.value)"
                    >
                      <option [value]="country.id" *ngFor="let country of countries; let index = index">
                        {{country.countryName + '-' + country.currencyCode}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-12 col-md-5 country-code country-radio ">
                  <div class="row" style="margin-top: 4px;">
                    <div class="col-5  px-0">
                      <div style="font-size: 10px;color: #2e2e2e;">Select Currency Symbol</div>
                      <input type="radio" id="currencySymbol" name="currenySymbol" [checked]="activeSettings.currencySymbol"
                        (click)="setCurrencySymbol('symbol')"
                      >
                      <label for="currencySymbol" class="taxonitem">{{activeCountry.currencyCode}}</label>
                    </div>
                    <div class="col-2 mt-3 px-0 text-center">or</div>
                    <div class="col-5 px-0">
                      <div style="font-size: 10px;color: #2e2e2e;">Select Currency Code</div>
                      <input type="radio" id="currencyName" name="currenySymbol" [checked]="activeSettings.currencyText"
                        (click)="setCurrencySymbol('text')"
                      />
                      <label for="currencyName" class="taxonbill">{{activeCountry.currencyName}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Additional Taxes -->
            <div class="row labelSpacing" style="margin-top: 30px;">
              <label class="col-12 col-md-3 font-custom-bold fontsize18 labelText">
                Additional Taxes
              </label>
              <form class="col-9" name="addTaxes">
                <div class="form-group font-custom-bold fontsize18">
                  <div class="row">
                    <div class="col-3 radio radio-primary">
                      <input type="radio" name="optionsRadios" id="disable" checked
                        [checked]="!activeSettings.alstTaxName || activeSettings.alstTaxName.length == 0"
                        (click)="setAdditionalTaxes(0)">
                      <!-- <label for="disable"></label> -->
                      <span style="vertical-align: top; margin-left: 11px;">Disable</span>
                    </div>
              
                    <div class="col-3 radio radio-primary">
                      <input type="radio" name="optionsRadios" id="oneTax" [checked]="activeSettings.alstTaxName?.length == 1"
                        (click)="setAdditionalTaxes(1)">
                      <!-- <label for="oneTax"></label> -->
                      <span style="vertical-align:  top;  margin-left: 11px;">One</span>
                    </div>
                    <div class="col-3 radio radio-primary">
                      <input type="radio" name="optionsRadios" id="twoTax" [checked]="activeSettings.alstTaxName?.length == 2"
                        (click)="setAdditionalTaxes(2)">
                      <!-- <label for="twoTax"></label> -->
                      <span style="vertical-align: top; margin-left: 8px;">Two</span>
                    </div>
                    <div class="col-3 radio radio-primary">
                        <input type="radio" name="optionsRadios" id="threeTax" [checked]="activeSettings.alstTaxName?.length == 3"
                          (click)="setAdditionalTaxes(3)">
                        <!-- <label for="threeTax"></label> -->
                        <span style="vertical-align:  top;  margin-left: 8px;"> Three</span>
                    </div>
                  </div>
              
                  <div class="row">
                    <div class="col-3 radio radio-primary">
                      <input type="radio" name="optionsRadios" id="fourTax" [checked]="activeSettings.alstTaxName?.length == 4"
                        (click)="setAdditionalTaxes(4)">
                      <!-- <label for="fourTax"></label> -->
                      <span style="vertical-align:  top;  margin-left: 13px;">Four</span>
                    </div>
                    <div class="col-6 radio radio-primary">
                      <input type="radio" name="optionsRadios" id="fiveTax" [checked]="activeSettings.alstTaxName?.length == 5"
                        (click)="setAdditionalTaxes(5)">
                      <!-- <label for="fiveTax"></label> -->
                      <span style="vertical-align: top; margin-left: 13px;" class="">Five</span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="form-group labelSpacing">
              <div class="row">
                <label class="col-12 col-md-3 font-custom-bold fontsize18 labelText"></label>
                <div class="col-md-9 row">
                  <div class="col-12 col-md-4" id="additionalTax{{index}}"
                    *ngFor="let taxNames of activeSettings.alstTaxName; let index = index">
                    <input class="form-control all_tax" type="text" name="taxName{{index}}" placeholder="Tax Name {{index+1}} *"
                      [(ngModel)]="taxNames.taxName" required onfocus="this.select()"
                      />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Additional Tax Modal -->
<!-- <div class="modal fade discountModal" id="addTaxName" role="dialog" aria-labelledby="discountLabel"
  aria-hidden="true" data-backdrop="static" data-keyboard="false"
>
  <div class="modal-dialog" *ngIf="activeSettings">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title form-header font-custom-bold header-color" id="addPaymentLabel1">
          Add Payment
        </h4>
        <a class="pull-right mt-1" (click)="close()">
          <img src="assets/images/cross16.png" alt="logo">
        </a>
      </div>

      <div class="modal-body">
        <form class="" name="addTaxes">
          <div class="form-group font-custom-bold fontsize18">
            <div class="row">
              <div class="col-6 radio radio-primary">
                <input type="radio" name="optionsRadios" id="disable"
                  [checked]="!activeSettings.alstTaxName || activeSettings.alstTaxName.length == 0" (click)="setAdditionalTaxes(0)"
                >
                <label for="disable"></label>
                <span style="vertical-align: top; margin-left: 11px;">Disable</span>
              </div>

              <div class="col-6 radio radio-primary">
                <input type="radio" name="optionsRadios" id="oneTax"
                [checked]="activeSettings.alstTaxName?.length == 1" (click)="setAdditionalTaxes(1)"
                >
                <label for="oneTax"></label>
                <span style="vertical-align:  top;  margin-left: 11px;">One</span>
              </div>
            </div>

            <div class="row">
              <div class="col-6 radio radio-primary">
                <input type="radio" name="optionsRadios" id="twoTax"
                  [checked]="activeSettings.alstTaxName?.length == 2" (click)="setAdditionalTaxes(2)"
                >
                <label for="twoTax"></label>
                <span style="vertical-align: top; margin-left: 8px;">Two</span>
              </div>
              <div class="col-6 radio radio-primary">
                <input type="radio" name="optionsRadios" id="threeTax"
                  [checked]="activeSettings.alstTaxName?.length == 3" (click)="setAdditionalTaxes(3)"
                >
                <label for="threeTax"></label><span style="vertical-align:  top;  margin-left: 8px;"> Three</span>
              </div>
            </div>

            <div class="row">
              <div class="col-6 radio radio-primary">
                <input type="radio" name="optionsRadios" id="fourTax"
                  [checked]="activeSettings.alstTaxName?.length == 4" (click)="setAdditionalTaxes(4)"
                >
                <label for="fourTax"></label>
                <span style="vertical-align:  top;  margin-left: 13px;">Four</span>
              </div>
              <div class="col-6 radio radio-primary">
                <input type="radio" name="optionsRadios" id="fiveTax"
                  [checked]="activeSettings.alstTaxName?.length == 5" (click)="setAdditionalTaxes(5)"
                >
                <label for="fiveTax"></label>
                <span style="vertical-align: top; margin-left: 13px;" class="">Five</span>
              </div>
            </div>
          </div>
          
        </form>
       
      </div>
    </div>
  </div>
</div> -->

<!-- Error MODAL starts -->
<div id="errormessage" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" aria-hidden="true"
data-backdrop="static" data-keyboard="false">
<div class="modal-dialog mod_dialog">
  <div class="modal-content mod_content">
    <div class="modal-header mod_header">
      <img class="center" src="assets/images/connection_lost.png" alt="logo" class="center error_logo">
    </div>
    <div class="modal-body">
      <h3 class="title">Connection Lost !</h3>
      <p class="error_logo">Make sure your wifi or cellular data is turned on and try again
        !!!</p>
    </div>
    <div class="modal-footer mod_footer">
      <button type="button" class="mod_close_btn btn save_btn btn-raised width25btn center"
        data-dismiss="modal" aria-label="Close">
        OK
      </button>

    </div>
  </div>
</div>
</div>
<!-- Error MODAL ends -->