<div class="row main-wrapper" id="hovereffect">
  <!-- Invoice query bar -->
  <div class="col-12 query-container">
      <div *ngIf="!changingQuery">
        <div class="row">
            <div class="col-2"><span class="color_white">Showing results for: </span>
              <span class="color_white" style="float: right;">Clients: </span></div>
            <div class="col-2">
              <div class="form-group pl-0" style="margin-top: -7px !important;">
                  <ng-multiselect-dropdown
                  [placeholder]="'All Clients'"
                  [data]="dropdownList"
                  [settings]="dropdownSettings"
                  [formControl]="invoiceQueryForm.client"
                >
                </ng-multiselect-dropdown>
                </div>
            </div>
            <div class="col-md-2 row" >
              <div class="col-md-4"><span class="color_white">Duration: </span></div>
              <ul class="nav col-4">
                <li class="button-dropdown">
                  <a href="javascript:void(0)" class="dropdown-toggle">
                  {{itemSelected}}  
                  </a><span><img src="assets/images/filter.png" class="month_icon"> </span>
                  <ul class="dropdown-menu">
                    <li *ngFor="let item of duration">
                      <button (click)="showItem(item)"  id="getValue" class="list_a dropdown-toggle"> {{item}}</button>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-2 row" style="margin-left: 68px;">
                <!-- <div class="col-md-4"><span class="color_white">From Date: </span></div> -->
                <label class="color_white col-6" style="text-align: right;">From Date: </label>
                <input class="col-6 date_inputs" id="anOtherButton" placeholder="Start" required readonly 
                      matInput [matDatepicker]="picker3" [formControl]="invoiceQueryForm.dateRange.start"
                      (click)="picker3.open()"  (dateChange)="onDate($event)"
                    >
                    <mat-datepicker-toggle  matSuffix [for]="picker3" style="margin-left: 128px !important;margin-top: -68px !important;"></mat-datepicker-toggle>
                    <mat-datepicker #picker3 ></mat-datepicker>
              </div>
              <div class="col-md-2 row" style="margin-left: -36px;">
                  <!-- <div class="col-md-4"><span class="color_white">From Date: </span></div> -->
                  <label class="color_white col-6" style="text-align: right;">To Date: </label>
                  <input class="col-6 date_inputs" id="anOtherButton" placeholder="End" required readonly matInput [matDatepicker]="picker4"
                    [formControl]="invoiceQueryForm.dateRange.end" (click)="picker4.open()" (dateChange)="onDate($event)">
                  <mat-datepicker-toggle matSuffix [for]="picker4" style="margin-left: -26px;margin-bottom: -68px !important;">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker4></mat-datepicker>
                </div>
              
              <div class="col-md-2 row search_btns">
                  <div class="col-12 row" style="margin-left: 14px;">
                    <button id="downloadBtn" type="button" (click)="invoiceQueryForm.client.reset();clearItem();itemSelected = 'All Time'"
                      class="clear_btn col-5">Clear
                    </button>
                    <button id="previewBtn" type="button" (click)="showSelectedInvoices(invoiceQueryForm.client)"
                      class="clear_btn col-5 change_btn_searchbar" style="margin-left: 14px;">Search
                    </button>
                  </div>
              </div>
        </div>
          
        </div>
    </div>
    <div class="w-100" style="padding-top: 72px">
      <div class="row mx-0">
        
  
        <!-- View Invoice -->
        <div id="invMain" name="invMain" class="col-12 col-sm-9 item-form all-invoices inv-generator inv-gen hide"
          *ngIf="activeInv" style="padding-right: 0px;"
        >
          <form id="invoiceGenerator" name="invoiceGenerator" class="shadow p-4 back" style="margin-top: -9px;">
            <!-- Buttons -->
            <div class="row">
              <div class="col-12">
                <button id="editBtn" type="button" (click)="goEdit(activeInv.unique_identifier)" data-loading-text="Loading <i class='fa fa-spinner fa-spin '></i>"
                  class="btn save_btn btn-raised width25btn pull-right font-weight-bold ml-2 width12perbtn"
                  title="Edit"
                >
                  <img src="assets/images/buttons-icon/pencil-edit-button16.png" style="padding: 0px 2px 3px 0px;width: 14px;height: 14px;">
                  Edit
                </button>
                <button id="downloadBtn" type="button" (click)="downloadInvoice('download')" data-loading-text="loading <i class='fa fa-spinner fa-spin '></i>"
                  class="btn-custom-1 change_bg no-border-radius pull-right ml-2 width12perbtn font-weight-bold"
                  title="Download"
                >
                  <img src="assets/images/buttons-icon/download16.png" style="width: 13px;height: 13px;">
                  Download
                </button>
                <button id="previewBtn" type="button" (click)="downloadInvoice('preview')" data-loading-text="Previewing <i class='fa fa-spinner fa-spin '></i>"
                  class="preview_btn btn btnd btn-custom-2 no-border-radius pull-right ml-2 width12perbtn font-weight-bold"
                  title="Preview"
                >
                  <img src="assets/images/buttons-icon/view16.png">
                  Preview
                </button>
              </div>
            </div>
  
            <!-- Title -->
            <div class="text-right px-1">
              <span class="c-name" type="text" id="title" name="title" *ngIf="settings.mTvInvoice">
                {{settings.mTvInvoice ? settings.mTvInvoice : 'Invoice'}} 
              </span>
              <span class="c-name" type="text" id="titleelse" name="title" *ngIf="!settings.mTvInvoice">
                {{'INV_LABEL' | translate}}
              </span>
            </div>
  
            <!-- Invoice Details -->
            <div class="row mb-2">
              <div class="col-12 col-sm-7" id="clientData" name="clientData">
                <div class="row">
                  <div class="col-12" style="width: 88%;">
                    <span type="text" id="billToLabel" class="adr bill-to font-custom-bold">
                     {{settings.mTvBillTo ? settings.mTvBillTo : 'Bill To'}}
                    </span>
                    <div *ngIf="activeClient" class="font-custom-bold" style="padding-top: 4px;font-size: 23px;padding-bottom: 10px;">
                      {{activeClient.name}}
                    </div>
                  </div>
  
                  <div class="col-12">
                    <div class="row" id="addressBar" name="addressBar">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <span type="text" id="BillAddress" class="adr bill-to font-custom-bold">
                          Address
                        </span>
                        <div *ngIf="activeClient" class="address-render color_grey">{{activeClient.addressLine1}}</div>
                        <div *ngIf="activeClient" class="color_grey">         <!--activeClient.email-->
                          Email: {{activeClient.email}}
                        </div>
                        <div *ngIf="activeClient" class="color_grey">         <!--activeClient.number-->
                          Contact No: {{activeClient.number}}
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <span type="text" id="shippingAddress" class="adr bill-to font-custom-bold">
                          {{settings.shipping ? settings.shipping : 'Shipping'}} Address
                        </span>
                        <div class="address-render color_grey">{{activeInv.shipping_address}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-5" id="invData" name="invData">
                <div class="row">
                  <div class="offset-md-2 col-md-4 col-sm-6 ">
                    <span class="font-custom-bold text-left w-100">{{settings.mTvInvoice ? settings.mTvInvoice : 'Invoice'}} </span>
                  </div>
                  <div class="col-sm-6 color_grey">
                    {{ activeInv.invoice_number  }}
                  </div>
                </div>
  
                <div class="row">
                  <div class="offset-md-2 col-md-4 col-sm-6 ">
                    <span class="font-custom-bold text-left w-100">{{settings.mTvInvoice ? settings.mTvInvoice : 'Invoice'}} Date</span>
                  </div>
                  <div class="col-sm-6 color_grey">
                    {{activeInv.created_date}}
                  </div>
                </div>
  
                <div *ngIf="activeInv.reference" class="row">
                  <div class="offset-md-2 col-sm-6 col-md-4">
                    <span class="font-custom-bold text-left w-100">Reference</span>
                  </div>
                  <div class="col-sm-6 color_grey">
                   <span style="word-wrap: break-word"> {{activeInv.reference}}</span>
                  </div>
                </div>
  
                <div *ngIf="activeInv.due_date" class="row">
                  <div class="offset-md-2 col-xs-6 col-md-4">
                    <span class="font-custom-bold text-left w-100">{{settings.mTvDueDate ? settings.mTvDueDate : 'Due Date'}}</span>
                  </div>
                  <div class="col-sm-6 color_grey">
                    {{activeInv.due_date}}
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Items Table -->
            <div class="row mb-3">
              <div class="col-md-12 lineItemDiv">
                <table table  width="100%" cellpadding="0" cellspacing="0" class="column table table-striped" style="table-layout: fixed">
                  <thead>
                    <tr class="hd font-custom-bold">
                      <td width="20%">
                        <input type="text" id="itemDescLabel" class="bld w-100 text-left" disabled style="margin-left: 10px;"
                          value="{{settings.mTvProducts ? settings.mTvProducts : 'PRO_LABEL' | translate}}"
                        >
                      </td>
                      <td width="10%">
                        <input type="text" id="itemQtyLabel" name="quantity" class="bld w-100 text_right" disabled
                          value="{{settings.mTvQty ? settings.mTvQty : 'QTY_LABEL' | translate}}"
                        >
                      </td>
                      <td width="10%">
                        <input type="text" id="itemRateLabel" name="rate" class="bld w-100 text_right" disabled
                          value="{{settings.mTvRate ? settings.mTvRate : 'RATE_LABEL' | translate}}"
                        >
                      </td>
                      <td width="10%" *ngIf="activeInv.discount_on_item == 1">
                          <input type="text" id="discountLabel" name="rate" class="bld w-100 text_right" value="{{settings.discount ? settings.discount : 'Discount'}} (%)"
                            disabled
                          >
                        </td>
                      <td width="10%" *ngIf="activeInv.tax_on_item == 0">
                        <input type="text" id="taxLabel" class="bld w-100 text_right" name="rate" value="{{settings.taxLable ? settings.taxLable : 'Tax'}} (%)" disabled>
                      </td>
                      <td width="10%" class="last_td">
                        <input type="text" id="itemAmtLabel" name="amount" class="bld w-100 text_right" style="text-align:right;" disabled
                          value="{{settings.mTvAmount ? settings.mTvAmount : 'AMT_LABEL' | translate}}"
                        >
                      </td>
                    </tr>
                  </thead>
  
                  <tbody class="lineItems">
                    <tr class="row-item" *ngFor="let item of activeInv.listItems; let last = last">
                      <td [class.no-border-last]="last">
                        <div class="">
                          <div class="form-group">
                            <div *ngIf="item" class="text-left product-color" style="border-bottom-width: 1px;border-left-width: 0px;border-right-width: 0px;border-top-width: 0px;margin-left: 10px;">
                              {{item.productName}}
                            </div>
                            <div class="text-left text-truncate view_desc" >
                              {{item.description}}
                            </div>
                          </div>
                        </div>
                      </td>
  
                      <td [class.no-border-last]="last" style="vertical-align: initial;">
                        <div class="text_right">
                          {{item.qty | number:'1.'}}
                        </div>
                      </td>
                      <td [class.no-border-last]="last" style="vertical-align: initial;">
                        <div class="text_right">
                          {{item.rate | number:'1.2-2'}}
                        </div>
                      </td>
                      <td *ngIf="noDiscountOnItem" [class.no-border-last]="last" style="vertical-align: initial;"> <!--activeInv.discount_on_item == 1-->
                        <div class="text_right">
                          {{item.discountAmount | number:'1.2-2'}}<br>
                          <div class="amount_text_div">
                            <span class="item_percent_text">{{item.discountRate | number:'1.2-2'}}</span> 
                            <span class="item_percent_icon">%</span>
                          </div>
                        </div>
                      </td>
                      <td *ngIf="noTaxOnItem" [class.no-border-last]="last" style="vertical-align: initial;"> <!--activeInv.tax_on_item == 0-->
                        <div class="text_right">
                          {{item.taxAmount | number:'1.2-2'}}<br>
                          <div class="amount_text_div">
                            <span class="item_percent_text">{{item.tax_rate | number:'1.2-2'}}</span> 
                            <span class="item_percent_icon">%</span>
                          </div>
                        </div>
                      </td>
                      <td [class.no-border-last]="last" class="last_td" style="vertical-align: initial;">
                        <div class="text_right">
                          {{item.price | number:'1.2-2'}}
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
  
            <!-- Bottom  -->
            <div class="row">
              <!-- Terms And Conditions -->
              <div class="col-6 term-row">
                <div class="col-12 term-cond-label font-custom-bold" style="text-align: left">
                  <span class="bld">
                    {{settings.mTvTermsAndConditions ? settings.mTvTermsAndConditions : 'TERM_LABEL' | translate}}
                  </span>
                </div>
                <div class="col-md-12 px-0 margin-top-8" style="margin-top: 10px;">
                  <ul class=" col-sm-12 list-unstyled">
                    <li class="row" *ngFor="let term of activeInv.termsAndConditions">
                      <div class="col-md-12 margin-bottom-5px">
                        <span *ngIf="term.terms" style="word-wrap: break-word;color: #a4a4a4;">{{term.terms}}</span>
                        <span *ngIf="!term.terms" style="word-wrap: break-word;color: #a4a4a4;">{{term.terms_condition}}</span>
                        <br /></div>
                    </li>
                  </ul>
                  <div class="col-md-12" *ngIf="activeInv.termsAndConditions?.length < 1">
                    <h4>No terms added</h4>
                  </div>
                </div>
              </div>
  
              <!-- Calculations -->
              <div class="col-6">
                <!-- Total -->
                <div class="row mx-0 term-cond-label" style="padding: 6.5px 0px;margin-bottom: 10px;">
                  <div class="col-6 text-left">
                    <span class="font-custom-bold">{{settings.subtotal ? settings.subtotal : 'SUB_TOT_LABEL' | translate}}</span>
                  </div>
                  <div class="col-6 text-right">
                    <span class="font-custom-bold price">{{activeInv.gross_amount  | number:'1.1-2' | CurrencyPipe}}</span>
                  </div>
                </div>
  
                <!-- Discount -->
                <div *ngIf="(activeInv.percentageValue > 0 || activeInv.discount > 0)" class="row mx-0" style="margin-top: 6px;">
                    <div class="col-5 discount-tax-label">
                        <span style="text-align: left;vertical-align: bottom;"
                          class="inline">(-){{settings.discount ? settings.discount : 'Discount'}}</span>
                        
                      </div>
                  <div class="col-7">
                    <div class="text-right">
                      <div *ngIf="!activeInv.discountFlag == 0">
                        {{activeInv.percentageValue | number:'1.1-2'}}
                      </div>
                      <div  class="price" *ngIf="!activeInv.discountFlag == 1">
                        
                        <div *ngIf="activeInv.percentage_flag == 1" class="text-right font-custom">({{activeInv.percentage_value}} %)
                        {{activeInv.discount | number:'1.1-2' | CurrencyPipe}}</div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- Tax -->
                <div *ngIf="activeInv.tax_amount !== 0" class="row mx-0">
                  <div class="col-4 discount-tax-label">
                    <div class="inline font-custom" style="text-align: left;vertical-align: bottom;">(+){{settings.taxLable ? settings.taxLable : 'Tax'}}</div>
                  </div>
                  <div class="col-8 ">
                    <div class="text-right">
                        ({{activeInv.tax_rate | number:'1.1-2'}} %)
                      {{activeInv.tax_amount | number:'1.1-2' | CurrencyPipe}}
                    </div>
                  </div>
                </div>
  
                <!-- TaxList -->
                <div *ngIf="activeInv.taxList !== 0">
                  <div *ngFor="let tax of activeInv.taxList; index as index" class="row mx-0">
                    <div class="col-4 discount-tax-label">
                        <div *ngIf="tax.taxName" class="inline font-custom" style="text-align: left;vertical-align: bottom;">(+){{tax.taxName}}</div>
                    </div>
                    <div class="col-8 ">
                      <div class="text-right">
                        ({{activeInv.taxList[index].percentage | number:'1.1-2'}} %)
                        {{activeInv.taxList[index].calculateValue | number:'1.1-2' | CurrencyPipe}}
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- Shipping -->
                <div *ngIf="activeInv.shipping_charges !== 0" class="row mx-0">
                  <div class="col-4 discount-tax-label">
                      <div class="inline" style="text-align: left;vertical-align: bottom;">(-){{settings.shipping ? settings.shipping : 'Shipping'}}</div>
                  </div>
                  <div class="col-8 ">
                    <div class="text-right">
                      {{activeInv.shipping_charges | number:'1.1-2' | CurrencyPipe}}
                    </div>
                  </div>
                </div>
  
                <!-- Adjustment -->
                <div *ngIf="activeInv.adjustment != 0" class="row mx-0">
                  <div class="col-4 discount-tax-label">
                    <div class="inline" style="text-align: left; vertical-align: bottom;">
                        (-){{settings.adjustment ? settings.adjustment : 'Adjustment'}}
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="text-right">
                      {{activeInv.shipping_charges | CurrencyPipe}}
                      {{activeInv.adjustment | number:'1.1-2'}}
                    </div>
                  </div>
                </div>
  
                <!-- Gross Total -->
                <div class="row mx-0 term-cond-label" style="padding: 6.5px 0px;">
                  <div class="col-6 text-left">
                    <span class="font-custom-bold">
                      {{settings.total ? settings.total : 'TOTAL_LABEL' | translate}}
                    </span>
                  </div>
                  <div class="col-6 text-right">
                    <span class="font-custom-bold price">{{activeInv.amount | number:'1.1-2' | CurrencyPipe}}</span>
                  </div>
                </div>
                
                 <!-- inclusive tax -->
                <div *ngIf="activeInv.taxableFlag === 1" class="row mx-0" style="padding: 6.5px 0px;">
                    <div class="row mx-0 col-12" style="padding: 6.5px 0px;">
                        <div class="col-6 text-left">
                            <span class="font-custom-bold">
                                Taxable :
                            </span>
                          </div>
                          <div class="col-6 text-right">
                            <span
                              class="font-custom-bold price">{{(taxable) | number:'1.1-2'| CurrencyPipe}}</span>
                          </div>
                    </div>
                    <!-- <div *ngIf="activeInv.listItems.tax_rate" class="row mx-0 col-12">
                      <div *ngFor="let item of activeInv.listItems" class="row mx-0 col-12" style="padding: 6.5px 0px;">
                          <div *ngIf="item.tax_rate" class="col-6 text-left">
                              <span class="font-custom-bold">
                                  (+) Tax ({{item.tax_rate}}%)
                              </span>
                          </div>
                          <div *ngIf="item.tax_amount"  class="col-6 text-right">
                              <span
                                class="font-custom-bold price">{{item.tax_amount | currency:settings.currencyInText:(settings.currencyText ? 'code' : 'symbol'):'1.2-2'}}</span>
                          </div>
                      </div>
                    </div> -->
                    <div *ngIf="activeInv.tax_rate" class="row mx-0 col-12" style="padding: 6.5px 0px;">
                        <div class="col-6 text-left">
                            <span class="font-custom-bold">
                                (+) {{settings.taxLable ? settings.taxLable : 'Tax'}} ({{activeInv.tax_rate}}%)
                            </span>
                          </div>
                          <div  class="col-6 text-right">
                            <span
                              class="font-custom-bold price">{{activeInv.tax_amount | number:'1.1-2' | CurrencyPipe}}</span>
                          </div>
                    </div>
                  </div>
  
                <!-- Paid -->
                <div class="row mx-0" style="padding-top: 10px;padding-bottom: 10px;">
                  <div class="col-6 text-left">
                    <span class="font-custom">{{settings.paid ? settings.paid : 'PAID_LABEL' | translate}}</span>
                  </div>
                  <div class="col-6 text-right">
                    <span class="font-custom price">{{paidAmount() | number:'1.1-2' | CurrencyPipe}}</span>
                  </div>
                </div>
                 <!-- Payment -->
                <hr *ngIf="paidAmount()">
                <div *ngFor="let item of activeInv.payments" class="top_bot_mr_10 pay_clr">
                  <div  class="row mx-0">
                    <div class="col-6 text-left label_color">
                      <span class="font-custom">{{item.dateOfPayment | date}}</span>
                    </div>
                    <div class="col-6 text-right pad_rg_5" style="margin-left: -10px;">
                      <span class="font-custom price">{{item.paidAmount | number:'1.1-2'| CurrencyPipe}}</span>
                    </div>
                  </div>
              </div>
                
                <!-- Balance -->
                <div class="row mx-0 balance-row" style="padding: 6.5px 0px;">
                  <div class="col-6 text-left">
                    <span class="bld">{{settings.balance ? settings.balance : 'BAL_LABEL' | translate}}</span>
                  </div>
                  <div class="col-6 text-right">
                    <span class="bld price">{{activeInv.balance | number:'1.1-2' |CurrencyPipe}}</span>
                  </div>
                </div>
              </div>
              <!-- Calculations -->
              
            </div>
          </form>
        </div>
        <div *ngIf="!activeInv" style="margin: 0 auto;"><!--invoiceList.length<1 && !invoiceListLoader-->
          <img src="assets/images/no_data_found.png" class="conn_lost_img" >
        </div>
        <!-- Invoice List -->
        <div class="col-12 col-sm-3 pr-0">
          <div class="back_change list-shadow side_list">
            <div class="col-12 px-0 filter-box">
              <div class="col-12">
                <div class="row mx-0">
                  <div class="col-6 pl-0" style="padding-top: 15px;">
                    <a (click)="router.navigate(['invoice/add'])" title="Add New" class="pull-left list-btn">
                      <img src="assets/images/list-icon/add-plus-button24.png" class="plus_list">
                    </a>
                  </div>
                  <div class="col-6 px-0">
                    <a data-toggle="dropdown" Title="Search By" aria-haspopup="true" aria-expanded="false" class="pull-right list_drop back">
                      <img alt="logo" src="assets/images/list-icon/sort-ascending-button24.png" class="plus_list">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li [class.active]="invSortTerm=='created_date'">
                        <a (click)="invSortTerm='created_date'">By Date</a>
                      </li>
                      <li [class.active]="invSortTerm=='invoice_number'">
                        <a (click)="invSortTerm='invoice_number'">By Inv No.</a>
                      </li>
                      <li [class.active]="invSortTerm=='balance'">
                        <a (click)="invSortTerm='balance'">By {{settings.balance ? settings.balance : 'Balance'}}</a>
                      </li>
                      <li [class.active]="invSortTerm=='amount'">
                        <a (click)="invSortTerm='amount'">By {{settings.mTvAmount ? settings.mTvAmount : 'Amount'}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 search-box">
                <div class="form-group label-floating">
                  <input class="form-control" [(ngModel)]="invSearchTerm" name="invoiceFilterTerm" placeholder="Search invoices" />
                </div>
              </div>
            </div>
      
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 back-add-list text-center list-header-col font-custom-bold">
              <img src="assets/images/list-icon/invoice16.png" style="padding: 0px 8px 3px 0px;">List of {{settings.mTvInvoice ? settings.mTvInvoice : 'Invoice'}} 
            </div>
  
            <div *ngIf = "activeInv" class="col-12 px-0 mCustomScrollbar style-3" style="max-height: 500px;">
                <!-- [class.active]=" invoice.created_date " -->
              <div [ngClass]="{'item': true, 'row': true, 'selected': (invoice.unique_identifier == activeInv.unique_identifier)}"
                *ngFor="let invoice of (invoiceList | orderBy: invSortTerm:true | filter:invSearchTerm  | filterBy:{invoice_number: invSearchTerm} | slice:0:invDispLimit); index as key"
                (click)="setActiveInv(invoice.unique_identifier)"
              >
                <div class="col-1" class="arrow_img_div">
                  <img src="assets/images/left-arrow.png" class="arrow_img" >
                </div>
                <div class="col-2 list-date font-custom-bold fontsize13 list_date" style="margin-left: 16px;">
                  <span class="inv_date" [ngClass]="{'color_white': (invoice.unique_identifier == activeInv.unique_identifier)}">{{ invoice.created_date | date: 'dd' }}</span><br/>
                  <span class="date_month sub_date" [ngClass]="{'color_white': (invoice.unique_identifier == activeInv.unique_identifier)}">{{ invoice.created_date | date: 'MMM' }}</span>
                </div>
      
                <div class="col-9">
                  <div class="row" style="margin-top: 6px;">
                    <div class="col-12">
                      <h5 *ngIf="clientList" class="font-custom-bold fontsize13" [ngClass]="{'color_white': (invoice.unique_identifier == activeInv.unique_identifier)}">{{ getClientName(invoice.unique_key_fk_client) }}</h5>
                    </div>
                    <div class="col-5 font-custom-book fontsize13 today_txt" [ngClass]="{'color_white': (invoice.unique_identifier == activeInv.unique_identifier)}">
                      {{ invoice.invoice_number }}
                    </div>
                    <div class="col-5 text-right font-custom-bold fontsize12 today_txt" style="margin-left: 37px;" [ngClass]="{'color_white': (invoice.unique_identifier == activeInv.unique_identifier)}">
                      {{ invoice.amount | number:'1.1-2' | CurrencyPipe }}
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="invoiceList" class="col-12 px-0" [class.list-shadow]="invoiceList.length > invDispLimit">
                <a (click)="loadMore()" class="more btn" *ngIf="invoiceList.length > invDispLimit">
                  Click to view more >>
                </a>
              </div>
            </div>
            <div *ngIf="!activeInv" style="text-align: center;"><!--invoiceList.length<1 && !invoiceListLoader-->
              <img src="assets/images/no_data_found.png" class="no_data_img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Error MODAL starts -->
<div id="errormessage" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog mod_dialog">
    <div class="modal-content mod_content">
      <div class="modal-header mod_header">
        <img class="center" src="assets/images/connection_lost.png" alt="logo" class="center error_logo">
      </div>
      <div class="modal-body">
        <h3 class="title">Connection Lost !</h3>
        <p class="error_logo error_text">Make sure your wifi or cellular data is turned on and try again
          !!!</p>
      </div>
      <div class="modal-footer mod_footer" style=" padding: 9px 23px 20px 10px !important;">
        <button type="button" class="mod_close_btn btn save_btn btn-raised width25btn center" data-dismiss="modal"
          aria-label="Close">
          OK
        </button>

      </div>
    </div>
  </div>
</div>
<!-- Error MODAL ends -->