<nav  class="sidebar-nav font-custom-bold" [class.sidebar-nav-out]="router.url==='/login'" id="userLogout">
  <div class="menu-item-wrapper" ng-class="{ active_nav : isActive('/invoice/view/0') || isActive('/invoice') || isActive('/invoice/edit/:invoiceId') }">
    <div class="menu-parent btn" (click)="toggle('/invoice');">
      <a><span>
        <img *ngIf="router.url === '/invoice/add'" src="assets/images/menu-logo/invoice_logo.png" alt="logo" />
        <img *ngIf="router.url !== '/invoice/add'" src="assets/images/menu-logo/invoiceSidegray.png" alt="logo" />

      </span> </a>
    </div>
  </div>

  <div class="menu-item-wrapper " ng-class="{ active_nav : isActive('/estimate/view/0') || isActive('/estimate') || isActive('/estimate/edit/:estimateId') }">
    <div class="menu-parent btn" (click)="toggle('/estimate/add');">
      <a><span>
        <img *ngIf="router.url === '/estimate/add'" src="assets/images/menu-logo/estimate_logo.png" alt="logo" />
        <img *ngIf="router.url !== '/estimate/add'" src="assets/images/menu-logo/estimetHeaderGray.png" alt="logo" />

      </span> </a>
    </div>
  </div>

  <div class="menu-item-wrapper " ng-class="{ active_nav :  isActive('/client') || isActive('/client/batch') }">
    <div class="menu-parent btn" (click)="toggle('/client');">
      <a><span>
        <img *ngIf="router.url === '/client'" src="assets/images/menu-logo/client_logo.png" alt="logo" />
        <img *ngIf="router.url !== '/client'" src="assets/images/menu-logo/client_img_grey.png" alt="logo" />

      </span></a>
    </div>
  </div>

  <div class="menu-item-wrapper " ng-class="{ active_nav :  isActive('/product') || isActive('/product/batch') }">
    <div class="menu-parent btn" (click)="toggle('/product');">
      <a><span>
        <img *ngIf="router.url === '/product'" src="assets/images/menu-logo/product_logo.png" alt="logo" />
        <img *ngIf="router.url !== '/product'" src="assets/images/menu-logo/productGrayHead.png" alt="logo" />

      </span></a>
    </div>
  </div>
  
  <div class="menu-item-wrapper " ng-class="{ active_nav :  isActive('/setting/primary') || isActive('/product/batch') }">
    <div class="menu-parent btn" (click)="toggle('/setting/primary')">
      <a><span>
        <img *ngIf="router.url === '/setting/primary'" src="assets/images/menu-logo/setting_logo.png" alt="logo" />
        <img *ngIf="router.url !== '/setting/primary'" src="assets/images/menu-logo/settingsGreayHead.png" alt="logo" />

      </span></a>
    </div>
  </div>

  <div class="menu-item-wrapper " ng-class="{ active_nav :  isActive('/support') }">
    <div class="menu-parent btn" (click)="toggle('/support')">
      <a><span>
        <img src="assets/images/menu-logo/setting_logo.png" alt="logo" />
      </span></a>
    </div>
  </div>
 
  <div class="menu-item-wrapper " ng-class="{ active_nav :  isActive('/setting/batchUpload') || isActive('/product/batch') }">
    <div class="menu-parent btn" (click)="toggle('/setting/batchUpload')">
      <a><span>
        <img *ngIf="router.url === '/setting/batchUpload'" src="assets/images/menu-logo/batch_logo.png" alt="logo" />
        <img *ngIf="router.url !== '/setting/batchUpload'" src="assets/images/menu-logo/batch_upload_grey.png" alt="logo" />

      </span></a>
    </div>
  </div>
 

  <!-- <div class="menu-item-wrapper " ng-class="{ active_nav : isActive('/add-inventory')}">
    <div class="menu-parent btn accordion-toggle collapsed" data-toggle="collapse"
      data-target="#menu_list5">
      <a href="javascript:void(0)"><span><img src="" alt="logo" /></span> Inventory</a>
    </div>
    <ul class="collapse">
      <li class="btn" (click)="toggle('/add-inventory')">
        <a> Add Inventory </a>
      </li>
    </ul>
  </div> -->

  <!-- <div class="menu-item-wrapper " ng-class="{ active_nav : isActive('/manage-users') || isActive('/edit/organization') || isActive('/edit/me') }">
    <div class="menu-parent btn accordion-toggle collapsed" data-toggle="collapse" data-target="#menu_list4">
      <a>
        <span>
          <img src="assets/images/setting_n.png" alt="logo" />
        </span>
        </a>
    </div>
 
    <ul class="collapse" id="menu_list4">
      <li class="btn2" (click)="toggle('/setting/primary')">
        <a> Primary Settings </a>
      </li>
      <li class="btn2" (click)="toggle('/setting/customField')">
        <a> Custom Field Name </a>
      </li>
      <li class="btn2" (click)="toggle('/setting/banking')">
        <a> Banking details </a>
      </li>
      <li class="btn2" (click)="toggle('/setting/password')">
        <a> Change Password </a>
      </li>
      <li class="btn2" (click)="toggle('/setting/tnc')">
        <a> Terms and Conditions</a>
      </li>
      <li class="btn2" (click)="toggle('/setting/userProfile')">
        <a> User Profile </a>
      </li>
      <li class="btn2" (click)="toggle('/setting/batchUpload')">
        <a> Batch Upload </a>
      </li>
    </ul>
  </div>
  <div class="menu-item-wrapper " ng-class="{ active_nav : isActive('/support/view/0') || isActive('/support') }">
    <div class="menu-parent btn" (click)="toggle('/support');">
      <a><span><img src="assets/images/estimet_n.png" alt="logo" /></span></a>
    </div>
  </div> -->
</nav>