.sidebar-nav {
  height: 100vh;
  width: 65px;
  position: fixed;
  top: 56px;
  background-color: #0299ff;
}
.sidebar-nav > .menu-item-wrapper {
  cursor: pointer;
  display: block;
  padding-top: 22px;
  /* border-bottom: 1px solid #e9ecf2; */
  margin: 0;
}
.sidebar-nav > .menu-item-wrapper > .menu-parent {
  border-radius: 0px;
  text-align:left;
  margin:0;
  width: 100%;
}
.sidebar-nav > .menu-item-wrapper >.menu-parent:hover {
  /* background: #bae3ff; */
  border-left: 4px solid #fff;
  /* border-left: none; */

}
.sidebar-nav > .menu-item-wrapper a {
  text-decoration: none;
  color: #707780;
  font-weight: 400;
  font-size: 13px;
}
.sidebar-nav .menu-item-wrapper .menu-parent span img {
  margin-right: 15px;
  height: 23px;
}
.sidebar-nav > .menu-item-wrapper > ul > li > a {
  margin-left: 38px;
  height: 100%;
  width: 100%;
}

/* new Changes from Tejaswini and Vikrant */
.btn2 {
  /* display: inline-block; */
  font-weight: 400;
  list-style: none;
  margin-left: -41px;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

li:hover{
  background-color:#eaf7ff;;
}