
<div class="row main-wrapper" style="background-color: #e6ecf0 !important;">
  <div class="row col-md-3" id="main" style="padding-top: 0px !important;">
      <form class="form-horizontal back shadow settingForm setting_sidebar_form" #addTaxesForm="ngForm" enctype="multipart/form-data">
        <div class="row mx-0">
          <div>
            <div class="label_div row" (click)="router.navigate(['/setting/primary'])" [ngClass]="{'selectedSetting' : router.url === '/setting/primary'}">
              <span class="col-8">Primary settings</span>
              <span class="col-2"><img src="assets/images/next12.png" class="setting_arrow"></span>
              <span class="col-2"></span>
            </div>
            <div class="label_div row" (click)="router.navigate(['/setting/customField'])" [ngClass]="{'selectedSetting' : router.url === '/setting/customField'}">
              <span class="col-8">Custom Field Name</span>
              <span class="col-2">
                <img src="assets/images/next12.png" class="setting_arrow">
              </span>
              <span class="col-2"></span>
            </div>
            <div class="label_div row" (click)="router.navigate(['/setting/banking'])" [ngClass]="{'selectedSetting' : router.url === '/setting/banking'}">
              <span class="col-8">Banking Details</span>
              <span class="col-2"><img src="assets/images/next12.png" class="setting_arrow"></span>
              <span class="col-2"></span>
            </div>
            <div class="label_div row" (click)="router.navigate(['/setting/tnc'])" [ngClass]="{'selectedSetting' : router.url === '/setting/tnc'}">
              <span class="col-8">Terms & Conditions</span>
              <span class="col-2"><img src="assets/images/next12.png" class="setting_arrow"></span>
              <span class="col-2"></span>
            </div>
            <div class="label_div row" (click)="router.navigate(['/setting/userProfile'])" [ngClass]="{'selectedSetting' : router.url === '/setting/userProfile'}">
              <span class="col-8">Profile</span>
              <span class="col-2"><img src="assets/images/next12.png" class="setting_arrow"></span>
              <span class="col-2"></span>
            </div>
          </div>
        </div>
        
      </form>
    </div>
  <div class="col-12 col-md-9" id="main">
    <div style="margin-right: -32px;">
      <form class="shadow form-horizontal back" name="userForm" #userForm="ngForm">
        <div class="user-profile">
          <div align="center">

            <!-- Logo and Sign Images -->
            <div class="col-12" style="margin-bottom: 10px; padding-top: 25px">
              <div class="row form-group">
                <div class="col-12 col-md-6 btn-file padr0">
                  <form id="logoImgForm" name="logoImgForm" #logoImgForm="ngForm">
                    <div id="logoImgCont" name="logoImgCont" class="img-back"
                      [style]="logoStyle"
                    >
                      <input type="file" id="logoInput" (change)="uploadImage(1, $event.target.files[0])"
                        style="width: 100px; height: 100px; opacity: 0;"
                      />
                    </div>
  
                    <div class="font-custom-bold text-center margin-top-8">
                      Upload logo
                    </div>
                  </form>
                </div>
  
                <div class="col-12 col-md-6 btn-file padl0">
                  <form id="signImgForm" name="signImgForm" #signImgForm="ngForm">
                    <div id="signImgCont" name="signImgCont" class="img-back"
                      [style]="signStyle"
                    >
                      <input type="file" id="signInput" (change)="uploadImage(2, $event.target.files[0])"
                        style="width: 100px; height: 100px; opacity: 0;"
                      />
                    </div>
  
                    <div class="font-custom-bold margin-top-8 text-left">
                      Upload {{settings.signature ? settings.signature : 'Signature'}}
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="col-12" style="margin-bottom: 10px;">
              <div class="form-group">
                <div class="input-group client-input">
                  <span class="input-group-addon">
                    <img src="/assets/images/client-icon/ic_normal_org_name.png">
                  </span>
                 
                  <input type="text" name="org_name" id="org_name" class="form-control" placeholder="Company Name *"
                    onfocus="this.select()" [(ngModel)]="org.org_name" required />
                </div>
               
              </div>
              <!-- <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <img src="/assets/images/client-icon/ic_normal_org_name.png">
                  </span>
                  <input type="text" name="company_name" id="company_name" class="form-control"
                    [(ngModel)]="org.org_name" placeholder="Company Name" onfocus="this.select()"
                  />
                </div>
              </div> -->
            </div>

            <div class="col-12" style="margin-bottom: 10px;">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <img src="/assets/images/client-icon/ic_normal_contact_person.png">
                  </span>
                  <input type="text" name="person_name" id="person_name" class="form-control" required
                    [(ngModel)]="org.contact_person_name" placeholder="Person Name" onfocus="this.select()"
                  />
                </div>
              </div>
            </div>

            <div class="col-12" style="margin-bottom: 10px;">
              <div class="form-group">
                <textarea type="text" name="address" class="form-control mCustomScrollbar style-3" style="height: auto !important;"
                  [(ngModel)]="org.org_address_1" placeholder="Address" onfocus="this.select()"
                ></textarea>  
              </div>
            </div>

            <div class="col-12" style="margin-bottom: 10px;">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <img src="/assets/images/client-icon/ic_normal_business_id.png">
                  </span>
                  <input type="text" name="business_id" class="form-control"
                    [(ngModel)]="org.business_id" placeholder="Business Id" onfocus="this.select()"
                  />
                </div>
              </div>
            </div>

            <div class="col-12" style="margin-bottom: 10px;">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <img src="/assets/images/client-icon/ic_normal_email_id.png">
                  </span>
                  <input type="text" name="display_email" class="form-control"
                    [(ngModel)]="org.display_email" placeholder="Email Id" onfocus="this.select()"
                  />
                </div>
              </div>
            </div>

            <div class="col-12" style="margin-bottom: 10px;">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <img src="/assets/images/client-icon/ic_normal_contact_no.png">
                  </span>
                  <input type="text" name="contact_no" class="form-control" 
                    [(ngModel)]="org.org_phone_no" placeholder="Contact No." onfocus="this.select()"
                  />
                </div>
              </div>
            </div>

            <div class="col-12" style="margin-bottom: 10px;">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <img src="/assets/images/client-icon/ic_language_gry.png">
                  </span>
                  <input type="text" name="web_link" class="form-control"
                    [(ngModel)]="org.website_link" placeholder="Website Link" onfocus="this.select()"
                  />
                </div>
              </div>
            </div>

            <div class="col-12" style="margin-bottom: 10px; min-height: 50px;">
              <div class="form-group">
                <button type="button" (click)="cancel()"
                  class="change_bg save_btn btn btn-custom-1 btn-raised no-border-radius font-custom-bold pull-left"
                >
                  CANCEL
                </button>
                <button type="button" id="profileSubmitBtn" (click)="save(userForm.valid);"
                  class="save_btn btn btn-raised pull-right"
                >
                  SAVE
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Error MODAL starts -->
<div id="errormessage" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" aria-hidden="true"
data-backdrop="static" data-keyboard="false">
<div class="modal-dialog mod_dialog">
  <div class="modal-content mod_content">
    <div class="modal-header mod_header">
      <img class="center" src="assets/images/connection_lost.png" alt="logo" class="center error_logo">
    </div>
    <div class="modal-body">
      <h3 class="title">Connection Lost !</h3>
      <p class="error_logo">Make sure your wifi or cellular data is turned on and try again
        !!!</p>
    </div>
    <div class="modal-footer mod_footer">
      <button type="button" class="mod_close_btn btn save_btn btn-raised width25btn center"
        data-dismiss="modal" aria-label="Close">
        OK
      </button>

    </div>
  </div>
</div>
</div>
<!-- Error MODAL ends -->