@import '../../../../assets/css/form.css';

.user-profile .form-group {
  width: 300px !important;
}

.image-upload {
  width: 112px;
  height: 96px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.user-profile img {
  padding: 0px 8px 0px 12px;
  width: 44px;
  height: auto;
}

.user-profile input {
  height: 38px;
  margin-bottom: 0px !important;
}

.input-group span{
  padding: 4px !important;
}

.input-group span img{
  padding: 0 !important;
  width: 25px;
}

.img-back {
  background-size: 100%;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}
.img-wrap {
  display: inline-block;
  font-size: 0;
}
.img-wrap .close {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
  background-color: #FFF;
  padding: 5px 2px 2px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  opacity: .2;
  text-align: center;
  font-size: 22px;
  line-height: 10px;
  border-radius: 50%;
}
.img-wrap:hover .close {
  opacity: 1;
}