@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/angular2-toaster/toaster.min.css';
@import '../node_modules/angular2-toaster/toaster.css';


/* Fonts */
/* @font-face {
  font-family: quicksand_regular;
  src: url('./assets/fonts/Quicksand-Regular.otf')
}
@font-face {
  font-family: HelveticaNeue-Medium;
  src: url('./assets/fonts/HelveticaNeue-Medium.otf')
}*/

@font-face {
  font-family: quicksand_bold;
  src: url('./assets/fonts/Quicksand-Bold.otf')
}
@font-face {
  font-family: helvetica_bold;
  src: url('./assets/fonts/HelveticaNeue-Bold.otf')
}
@font-face {
  font-family: helvetica_regular;
  src: url('./assets/fonts/HelveticaNeue.otf')
}
@font-face {
  font-family: helvetica_light;
  src: url('./assets/fonts/HelveticaNeue-Light.otf')
}


b, body, p, button {
  font-family: helvetica_regular !important;
  font-size: 13.5px !important;
  font-style: normal;
  letter-spacing: 0.5px !important;
  color:#474959 !important;
  /* font-weight: 800 !important; */
}
input[type=text], input[type=password],select {
  font-family: helvetica_regular!important;
  font-size: 13.5px !important;
  font-style: normal;
  font-weight: 100 !important;
  letter-spacing: 0.5px;
}
.border-hover{
  border-color: none;
}
.border-hover :hover{
  border-color: purple;
  background-color: yellow;
}
.font-custom-bold {
  font-family: helvetica_regular !important;
  font-weight: normal !important;
  letter-spacing: 0.5px;
}
.font-custom-book {
  font-family: helvetica_regular !important;
  font-weight: lighter;
}
.ng-sidebar {
  z-index: 1000 !important;
}

/* Button Styles */

.btn-success {
  color: #fff !important;
  background-color: #1a73cc !important;
  border: none !important;
  border-color: #1a73cc !important;
  border: #1a73cc solid 2px !important;
  -webkit-box-shadow: 2px 3px 8px 1px rgba(118,111,111,0.57) !important;
  box-shadow: 2px 3px 8px 1px rgba(118,111,111,0.57) !important;
  -moz-box-shadow: 2px 3px 8px 1px rgba(118,111,111,0.57) !important;
}
.btn-custom-1 {
  color: #1a73cc !important;
  background-color: #d6e8fa !important;
  border: #d1e5f8 solid 0px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  border-radius: 2px !important;
}
.button :focus{ outline: none ; box-shadow:none !important;} 
.btn-custom-2 {
  color: #1a73cc !important;
  background-color: #fafafa !important;
  border: #c1c7cd solid 1px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  border-radius: 2px !important;
}
.btn-custom-2:hover{
  border: #1a73cc solid 1px !important;
}
.btn.btn-raised {
  padding: 3px 12px !important;
  border-radius: 2px;
}
body .btn-group-raised .btn:not(.btn-link), body .btn-group-raised .input-group-btn .btn:not(.btn-link), body .input-group-btn .btn.btn-raised:not(.btn-link) {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
  background-color: #8fbae6 !important;
  border: #8fbae6 solid 2px !important;
  -webkit-box-shadow: 2px 3px 8px 1px rgba(118,111,111,0.57) !important;
  box-shadow: 2px 3px 8px 1px rgba(118,111,111,0.57) !important;
  -moz-box-shadow: 2px 3px 8px 1px rgba(118,111,111,0.57) !important;
}


.item-form button {
  font-size: 16px !important;
  font-family: helvetica_light !important;
  width: 116px !important;
  height: 38px !important;
  border-radius: 5px !important;
  padding: 3px 8px !important;
}
.btn_width_auto{
  width: auto !important;
}
.small_btn {
  width: 104px !important;
  height: 36px !important;
  font-size: 15px !important;
  margin-top: 25px;
  right: 0; bottom: 5px;
}
.width10btn {
  width: 76px;
  padding: 6px 12px !important;
}
.border-rad-0 {
  border-radius: 0px;
}
.btn-circle{
  border-radius: 50% !important;
}
.width25btn {
  width: 25%;
}
a:hover, a:active, a:focus, a:visited {
  text-decoration: none!important;
  /* border-bottom: none !important; */
}

.total-color {
  color: #1a73cc !important;
  font-weight: 400;
  font-size: 13px;
}
.ellipsis {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.switch {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 10px;
  margin-bottom: 0;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0px;
  bottom: -3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
  border-bottom: 1px solid #a5a5a5;
}

.label_span{
  cursor: pointer;
  text-align: center;
}
.mrg_right_20{
  margin-right: -2px;
}
.loader {
  left: 50%;
  margin-left: -1em;
  width: 30px !important;
  height: 30px !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  appearance: none;
}
input[type=number] { 
  -moz-appearance: textfield;
}

/* Material CSS override */
.mat-progress-spinner svg {
  width: 30px !important;
  height: 30px !important;
}

.mat-option {
  font-family: helvetica_regular;
  font-size: 14px;
  color: rgba(0,0,0,.87);
  /* border-bottom: 1px solid #c8c8c8; */
}
.mat-option:hover {
  background-color:#eaf7ff;
}
.mat-option:focus {
  background-color:red;
}


.mat-calendar-previous-button::after, .mat-calendar-next-button::after {
  width: 10px;
  height: 10px;
  margin: 10px !important;
}
.cdk-overlay-container {
  z-index: 1051;
}
/* css  -  tejaswini */
.mat-calendar-body-today.mat-calendar-body-selected {
  box-shadow: none;
}
.mat-calendar-body-selected {
  background-color:#176cc1 !important;
}
textarea {
  overflow: auto;
  resize: vertical;
  font-weight: 100 !important;
  font-size: 13.5px !important;
}
.height_40
{
  height: 40px !important;
}
/* scrollbar */
.force-overflow
{
	min-height: 450px;
}

.style-3::-webkit-scrollbar{
	width: 6px;
	background-color: #dadada;
}

.style-3::-webkit-scrollbar-thumb{
	background-color: #c7c7c7;
	border-radius: 100px;
}
/* table row background color-bootstrap */
/* .table-striped tbody tr:nth-of-type(odd) { */
  /* background-color: #f3f3f3 !important */
/* } */
.padding_20
{
  padding-left: 20px !important;
}
.font_wg_none
{
  font-weight: 100 !important;
}
.text_center
{
  text-align: center !important;
}
.hg_20
{
  height:20px;
}
.hg_16
{
  height: 16px;
  margin-bottom: 2px;
}
.mr_left
{
  margin-left: 12px;
}
.padding_label {
  margin-bottom: 12px;
  padding: 10px 0px !important;
}
.label_list
{
  padding: 1px 0px !important;
}
.mr_right
{
  margin-right: -27px !important
}
.mr_0
{
  margin-left: 0px !important;
}
.dis_tax_label
{
  border: none !important;
  /* width: 166px !important; */
  margin-left: 16px !important;
  text-align: right !important;
}
.cross_label_img
{
  margin-top: -4px;
}
.btn:disabled {
  opacity: unset !important;
}
.btn-success
{
  box-shadow: none !important;
}
/* .sidebar-switch-icon[_ngcontent-c2] {
  margin-left: 16px !important;
  padding: 8px 15px 0px 10px !important;
  border-radius: 4px !important;
} */
.label_padng_top
{
  padding-top: 5px;
}
.top_bot_mr_10
{
  margin-top: 7px;
  margin-bottom: 10px;
}
hr {
  margin-top: -4px  !important;
  margin-bottom: 8px !important;
}
.pay_clr
{
  color: #aaaaaa;
}
.pad_rg_5
{
  padding-right: 5px !important;
}
/* select */
.selectdiv:after {
  content: '\f078';
  font: normal normal normal 17px/1 FontAwesome;
  right: 25px;
  top: -10px;
  height: 24px;
  -webkit-text-stroke: 1px white;
  font-size: 16px;
  padding: 15px 0px 0px 8px;
  position: absolute;
  pointer-events: none;
  font-weight: normal;
  color: #808080;
  }
  /* .price {
    display: inline-block;
  } */
  
  .price::first-letter {
    padding-right: 0.3em;
  }

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  -ms-word-break: normal;
  word-break: normal;
}
.payment_modal_pg
{
  padding: 5px;
}
.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: #1a73cc !important;
  border-color: #1a73cc !important;
}
.btn-info {
  color: #fff;
  background-color: #1a73cc !important;
  border-color: #1a73cc !important;
}
/* placeholder */
input::placeholder {
  color: #d3d9dd !important;
}
::placeholder {
  color: #d3d9dd !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #d3d9dd !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #d3d9dd !important;
}
/* mat-autocomplete-styling */
.mat-autocomplete-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    -webkit-box-shadow: 0 0 10px #e8e8e8;
    -moz-box-shadow: 0 0 10px rgba(0,0,0, .65);
    box-shadow: 0 0 10px #adabab;
}

.small_dropdown
{
  border: none !important;
  box-shadow: 0 0px 1px -31px #eaf7ff, 0 1px 3px 1px #eaf7ff, 0 3px 14px 2px #eaf7ff !important;
}
/* dropdown option */
option {
  /* font-weight: 800 !important; */
  display: block !important;
  white-space: pre !important;
  height: 5.2em !important;
}
.save_btn{
  border-radius: 5px !important;
  background: #1a73cc;
  height: 38px !important;
  width: 116px !important;
  color: white !important;
}
.save_btn:hover{
  background: #1e81e3;
}

.no_save_btn{
  border-radius: 5px !important;
  background: #1a73cc;
  height: 38px !important;
  width: 116px !important;
  color: white !important;
}
.no_save_btn:hover{
  background-color: #edf5fd   !important ;
}
.view_desc
{
  margin-left: 10px;
  font-size: 11px;
  color: #a4a4a4;
}
.color_grey{
  color: #9a9797;
}
.btn2 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn2-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn2-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn2-primary:hover,
.btn2-primary:focus,
.btn2-primary:active,
.btn2-primary.active,
.open .dropdown-toggle.btn2-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  RAISED BUTTONS
************************/
.btn2-primary.raised {
  margin-top: 2px;
  margin-left: -2px;
  margin-bottom: 16px;
}
.btn2-primary.raised:active, .btn2-primary.raised.active {
    background: #3276b1;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn2 {
    padding: 13px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
}
.btn2:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn2-primary {
    background: #0299ff;
    color: #ffffff;
}
.btn2-primary:hover, .btn2-primary:focus, .btn2-primary:active, .btn2-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #0299ff;
}
.btn2-primary:active, .btn2-primary.active {
    background: #0299ff;
    box-shadow: none;
}
.add_client_btn
{
  margin-top: 1px;
  margin-bottom: 1px;
  color: white !important;
  height: 44px;
  position: relative;
  width:100%;
  background-color: #1a73cc !important; /*0299ff*/
  border-color: #1a73cc!important; /*0299ff*/
  z-index: 99;
}
.mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button, .mat-datepicker-toggle {
  color: #8d8d99 !important;
}
.mat-datepicker-toggle{
  display: none; 
}
.mat-calendar-previous-button::after {
  border-left-width: 2px;
  transform: translateX(2px) rotate(-45deg);
  color: #0299ff !important;
}
.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  background-color: #eaf7ff !important;
}
.plus_list
{
  width: 20px;
  padding-left: 3px;
  padding-top: 4px;
}
.form-control[readonly] {
  /* background-color: #eaeaea !important; */
  opacity: 1;
}
/* checkbox */
/* The container */

/* Hide the browser's default checkbox */


/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 1px;
  left: 16px;
  height: 22px !important;
  width: 22px !important;
  border-radius: 2px;
  background-color: white;
  border: 1px solid #1e81e3;
}

/* On mouse-over, add a grey background color */
/* .check:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
  background-color: #1e81e3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.h5_terms_border{
  padding: 0px 3px 0px 20px;
  border-bottom: none;
  font-size: 17px !important;
  border-bottom: 1px solid #d4d4d4;
}
.terms_border{
  padding: 5px 15px 0px 15px;
  /* border: 1px solid #d4d4d4; */
}
.textarea_term{
  width: 395px !important;
  box-shadow: none !important;
  border-radius: 0px;
  color: #666666;
  letter-spacing: 0.5px;
  height: 68px !important;
  overflow-y: unset !important;

}
/* multiselect dropdown */
.multiselect-dropdown .dropdown-btn{
  background-color: white;
  border-radius: 0px !important;
  border: 1px solid #d2cccc !important;
  padding: 12px 12px !important;
}
.multiselect-dropdown .dropdown-btn .selected-item{
  border: 1px solid #1a73cc !important;
  background: #1a73cc !important;
  padding: 3px 8px !important;
  margin-top: 5px;
}
.multiselect-item-checkbox input[type=checkbox]:checked + div:before {
  background: #1a73cc !important;
  border: 1px solid #1a73cc !important;
}
.multiselect-item-checkbox input[type=checkbox] + div:before{
  border: 1px solid #1a73cc !important;
  color: #1a73cc !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 3px;
}
.multiselect-item-checkbox input[type=checkbox] + div:before
  {
    border: 1px solid #1a73cc;
  }
  .multiselect-item-checkbox input[type=checkbox] + div:after
  {
    border-width: 0 0 2px 2px !important;
    width: 9px;
    height: 4px;
    margin-top: -2px !important;
    left: 5px !important;
  }
  .multiselect-item-checkbox input[type=checkbox]:checked + div:before{
    background: #1a73cc !important;
  }
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .4375em 0;
    border: 1px solid !important;
  }
  .multiselect-dropdown[_ngcontent-c9] .dropdown-btn[_ngcontent-c9] .selected-item[_ngcontent-c9]:hover {
    box-shadow: none !important;
}
.fa-chevron-down:before {
  content: "\f078";
  padding: 32px;
}
.dropdown-list{
  border-top: none !important;
  margin-top: -1px !important;
  box-shadow: none !important;
}

.box_red{
  border-color:red;
}
.client_arrow {
  left: -30px !important;
  width: 14px;
  margin-left: -12px;
  height: 14px;
}
.add_new_btn{
  width: 104px !important;
  height: 36px !important;
  background-color: #d6e8fa !important;
  color: #1a73cc !important;
  box-shadow: none!important;
  margin-top: 32px;
}
.add_new_item{
  width: 130px !important;
  margin-top: 15px;
}
.change_bg{
  background-color: #d6e8fa !important;
  color: #1a73cc!important;
}
.change_bg:hover{
  background-color:#edf5fd !important;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: white !important;
  border: 1px solid #ced4da;
  border-radius: 0px !important;
  border-left: 1px solid white;
}
.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-height: 100%;
  /* width: 425px !important; */
}
.mat-calendar-body-label{
  font-size: 14px;
  font-weight: 500;
  color: white !important;
}
select{
  /* font-family: quicksand_book !important; */
  font-size: 14px !important;
  font-style: normal;
  font-weight: 100 !important;
  font-family: helvetica_regular !important;
  padding: 2px 0px 0px 17px !important;
}
.filtersubmit {
  position: relative !important;
  z-index: 1;
  left: -60px;
  top: 1px;
  font-size: 22px;
  color: #7B7B7B;
  cursor:pointer;
  width: 0;
}
.hr_line{
  border-right: 1px solid #d6d7d7;
  padding: -2px;
  margin-bottom: 7px;
  height: 42px;
}
.hide_client_border{
  border-right: white; 
}
.border_white{
  border-right: 1px solid white;
}

/* image hover border */
.img_hover { 
  border: 0px solid white; 
} 
.img_hover:hover { 
  /* background-color: #d0e4f7; */
  border: 1px solid #1a73cc; 
} 
.swap-on-hover img {
  position: absolute;
  top:0;
  left:40px;
	overflow: hidden;
	width: 400px;
	height: 400px;
}
.swap-on-hover .swap-on-hover__front-image {
  z-index: 99;
  transition: opacity 0s linear;
  cursor: pointer;
}
.secondimage{
background-color: none;
}
.secondimage :hover{
  background-color: red ;
  }

.verticle_line{
  border-left: 4px solid #0295ff;
  border-radius: 36px;
}

.swap-on-hover:hover > .swap-on-hover__front-image{
  opacity: 0;
}
.text_right{
  text-align: right;
}
.moreDiscr {
  font-size: 16px;
  line-height: 16px;
  height: 14px;
  overflow: hidden;
}

.td_empty{
  width: 30px;
  background-color: white;width: 20px;
}
.number_tag_dropdown{
  padding: 2px 4px 0px 16px !important;
  width: 20px;
}
.empty_prod_tbl{
  position: absolute;
  opacity:0.5
}
/* error modal classes */
.mod_dialog{
  max-width: 435px !important;
  margin-top: 135px !important;
}
.mod_content{
  border: 0px solid rgba(0,0,0,.2) !important;
  border-radius: 1px !important;
}
.mod_header{
  border-bottom: 0px solid #e9ecef !important;
  padding: 17px !important;
}
.mod_footer{
  border-top: 0px solid #e9ecef !important;
}
.mod_close_btn{
  margin-top: -22px !important;
  opacity: unset !important;
}
.title{
  text-align: center;
  color: #0299ff;
  font-weight: bold;
  margin-top: -15px;
  font-family: HelveticaNeue-Bold;
  font-size: 25px;
}
.error_para{
  padding-left: 25px;
  padding-right: 25px;
  font-size: 13px !important;
  text-align: center !important;
  margin-bottom: 22px;
}
.error_logo{
  height: 44px !important;
  margin: 2px auto;
  margin-top: 18px;
  text-align: center !important;
}
/* side list */
.side_list{
  height: 644px;
  margin-top: -9px;
}
.last_td{
  text-align: right;
  padding-right: 12px !important;
}
.header_menu_text{
  margin-left: 4px;
  color: #697887;
}
.header_menu_text:hover{
  color: #1a73cc;
}
.edit_delete_icon{
  margin-top: -5px;
}
@media (min-width: 1440px)
{
.client_arrow {
  left: -4px !important;
}
}
@media (min-width: 1326px)
{
.client_arrow {
  left: -45px !important;
}
}

.center{
  height: 46px;
  margin-top: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: unset;
  margin-bottom: 6px;
}
.back_change{
  background: #e6ecf0 !important; /*ededed*/
}
/* added by vikrant */
.morebtn{
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  padding-left: 4px;
  font-style: italic;
  float: right;
  margin-bottom: -2px;
  margin-top: -3px;
  cursor: pointer;
  color: #1a73cc;
}
.all_terms{
  word-wrap: break-word;
  font-size: 12.5px;
  color:black !important
}
.term_hr{
  width: 403px;
  margin-top: 6px !important;
}
.add_term{
  color:#1a73cc !important;
}
.add_term:hover{
  color: #474959 !important;
}
.add_term_image
{
  vertical-align: initial;
  height:10px; 
  margin-right: 3px;
}

.show {
  /* overflow: scroll; */
  height: auto;
}

.item_box_shadow{
  background-color: white !important;
  box-shadow: inset 22px 0 0px -19px #1a73cc;
  padding-bottom: 1px;
  border-bottom: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-top: 1px solid #ced4da;
}
.paid_border{
  margin-top: 6px;
  border: 1px solid #ced4da;
  border-top: none;
  margin-bottom: 1px;
  /* height: 36px; */
}

/* Header css */

.user-logout h6 span {
  font-family: helvetica_regular !important;
}
.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400 !important;
  line-height: 1.42857143;
  color:#474959 !important;
  white-space: nowrap;
  font-family: helvetica_regular !important;
  font-size: 14px !important;
}

/* addEdit css */
.side_btn{
  width: 100%;
  letter-spacing: 0.5px;
  /* background-color: #ededed !important; */
  color: #1a73cc !important;
  border: 2px solid #1a73cc !important;
  border-radius: 6px !important;
  margin-top: 16px;
  background-color: #e6ecf0 !important;
}
.side_btn:hover{
  border: 2px solid #cecece !important;
  /* color: #ededed !important; */
}
.errspan {
  float: right;
  margin-right: 6px;
  margin-top: -24px;
  position: relative;
  z-index: 2;
  color: red;
  height: 14px;
}
.title{
  text-align: center;
  color: #0299ff;
  font-weight: bold;
  margin-top: -16px;
  font-family: helvetica_regular;
}
.today_txt{
  font-size: 13px !important;
  font-family: helvetica_regular !important;
  color: #787e83 !important;
}

/* product css */
.selectedSetting{
  color: #1a73cc;
  font-size: 18px;
  background-color: #ebf3fb;

}
.label_div{
  font-size: 15px;
  padding: 14px 37px;
  text-align: left;
  cursor: pointer;
}

.label_div:hover{
  background-color: #ebf3fb;
}
.settingForm{
  height:678px  !important;
  text-align: center;
}

/* term popup modal */
.term_popup_modal{
  max-width: 560px !important;
  margin-top: 62px !important;
}
.term_modal_body{
  padding: 0rem !important;
}
.default_checkbox_span{
  top: 7px !important;
  left: 16px !important;
}
.default_checkbox{
  margin-top: 4px;
  margin-left: 1px;
}
.default_text{
  font-size: 11px;
  margin-left: -6px;
  width: 36px;
  text-align: center;
  margin-top: -8px !important;
}
.add_term_input{
  box-shadow: none !important;
  border-radius: 0px;
  height: 65px !important;
  border: none !important;
  color: #666666;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding: 7px 2px 35px 1px;
}
.add_term_title{
  font-weight: bold !important;
  font-size: 16px;
}
.add_term_btn{
  background: #e0edfa;
  height: 70px !important;
  color: #0299ff !important;
  border-radius: 0px !important;
}
textarea{
  outline: none !important;
  font-family: helvetica_regular !important;
}
.add_to_list_btn{
  padding: 6px 28px !important;
  margin-right: -2px;
}
.add_plus{
  font-size: 16px !important;
  margin-top: 6px;
}
.add_disable{
  opacity: .7 !important;
  pointer-events: none;
}
/* payment installment section */
.payment_row{
  /* padding: 10px 16px 0px 10px; */
  /* border-left: 3px solid #1a73cc; */
  margin-top: 10px;
}
.paidArrow{
  color: #cccccc;
  cursor:pointer;
}

.paidBackground{
  margin-top: -7px !important;
  margin-bottom: 10px;
  padding: 0px 0px 0px 6px;
}
.add_btn{
  width: auto !important;
  height: auto !important;
  font-size: 12px !important;
}
.input_border_color{
  border-color: #dfebfb;
}
.preview_btn{
  color: black !important;
}
.preview_btn:hover{
  color: #1a73cc  !important;
}
.term_border{
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 3px;
}
.amount_box{
  border: 0px solid #ced4da !important;
  background-color: #f2f1f1 !important;
}
.date_month{
  color: #8c9299;
  font-size: 10px;
}
.inv_date{
  font-size: 18px !important;
}
.term_col1{
  padding: 6px 12px !important;
  color: #1e81e3 !important;
}
.txt_area{
  height: 55px !important;
  margin-top: 3px;
  overflow-y: auto !important;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f6f5f5 !important;
}
.terms_line_height{
  margin-top: 0px;
  line-height: 26px !important;
}
.side_item_height{
  padding: 3px 1px 1px 0px !important;
  border-bottom: 1px solid #e9e9e9 !important;
  height: 51px;
}
.sub_date{
  color: #8c9299;
  font-size: 10px !important;
  font-family: helvetica_light !important;
}
.same_mrg_20{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.mrg_top_14{
  margin-top: 14px;
}
.setting_arrow{
  margin-left: 45px;
}
.setting_sidebar_form{
  margin-top: 0px !important;
  position: fixed;
  width: 348px;
}
.item_percent_text{
  font-size: 11px;
}
.item_percent_icon{
  font-size: 10px;
}
.error_logo {
  height: 44px !important;
  margin: 2px auto !important;
  margin-top: 10px !important;
  text-align: center !important;
  color: #697887 !important;
  font-family: helvetica_light !important;
}
.error_text{
  padding: 0px 45px !important;
  margin-bottom: 12px !important;
}
.modal-footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 9px 23px 20px 10px !important;
  border-top: 1px solid #e9ecef;
}
.color_white{
  color:white !important;
}
.color_grey{
  color: #787e83;
  font-size: 12.5px;
}
.arrow_img_div{
  margin-top: 15px;
  padding-left: 4px;
  padding-right: 0px;
  margin-right: -15px;
}
.arrow_img{
  height:10px;
  width:10px
}
.list_date{
  line-height: 16px;
  margin-top: 3px;
}
.no_data_img{
  width: 255px;
  margin-top: 80px;
}
.amount_text_div{
  margin-top: -3px;
  font-style: italic;
  color: #787e83;
}
.paid_date{
  width: 190px;
  font-size: 13px;
  text-align: right;
}
.paid_amt{
  margin-top: 6px;
  text-align: right;
}
.edit_item_row{
  padding: 3px 28px 9px 46px !important;
  margin-left: -4px !important;
  line-height: 38px !important;
}
.popup_input_height{
  height: 32px !important;
}
.mr_4{
  margin-left: -4px !important;
}
.edit_span{
  margin-bottom: -6px;
}
.tax_dis_span{
  line-height: 25px;
  margin-top: 10px;
}
.paid_div{
  padding-bottom: 6px;
  margin-left: -5px !important;
  margin-right: 0px !important;
}
.drop_arrow{
  margin-right: 16px;
  margin-top: -16px;
  width: 20px;
  margin-left: 96px;
  text-align: right;
  cursor: pointer;
  height: 20px;
}
/* accordian styling css */
.mat-expansion-panel-header:hover {
  display: flex;
  flex-direction: row;
  border: 2px solid #cde0f4;
  align-items: center;
  background-color: #ffffff !important;
  border-radius: 4px;
  padding: 0 24px;
}
.small_title{
  color:#454444;
  font-size: 12px;
  font-weight: bold;
}
.product_title{
  color: #3e3d3d;
}
.small_description{
  color:#a4a4a4;
  font-size:12px;
}

.heading{
  color: #1a73cc;
  font-size: 14px;
}

.mat-expansion-panel-content.mat-expanded {
  overflow: visible;
  background-color: #f6f6f6 !important;
  
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
  border-top: 2px solid #f0f4f5;
}
.mat-accordion>.mat-expansion-panel-spacing:last-child, .mat-accordion>:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
  margin-bottom: 0;
}
.pro_heading{
  font-weight: bold;
  color: #474959 !important;
  font-size: 25px;
}
.pro_row{
  padding: 24px 46px;
  background: #e6ecf0;
}

.img_box{
  width: 25px;
  height: 25px;
}
.change_btn_width{
  width: 121px !important;
}
.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 0px solid #e9ecef !important;
}
.header_title{
  margin-bottom: 12px;
  margin-top: -22px;
}
.mat-expansion-panel-header {
  font-family: helvetica_regular !important;
}
.font_16{
  font-size: 16px;
}