@import '../../../../assets/css/form.css';


.inv-generator {
  max-height: none;
}
.create-invoice {
  background: #fff;
  margin-top: 12px;
  margin-right: -14px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
}
input, textarea {
  margin-bottom: 2px;
  margin-top: 0px !important;
}
.bld {
  margin: 2px 0;
}
select {
  /* font-family: quicksand_book !important; */
  font-size: 14px !important;
  font-style: normal;
  font-weight: 100 !important;
  padding: 0px 12px !important;
  font-family: helvetica_regular !important;
}
.selected_description{
  margin-left: 10px;
  font-family: helvetica_regular !important;
  overflow: hidden
}
.set-color {
  color: #2196f3 !important;
}
.add, .del {
  height: 18px;
  margin-top: -14px;
}
.del {
  background-position: -404px -214px;
  width: 18px;
}

.add-item-button {
  margin-bottom: 10px;
  margin-top: 3px;
}
.discount-tax-pad {
  padding-top: 15px;
}
.bld {
  margin: 2px 0;
}
.terms {
  /* font-weight: 700; */
  font-size: 14px;
}
.mat-form-field-infix {
  border-top: 0 !important;
}
/* classes added by Vikrant */
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  background-color: #DDF;
  color: #000;
}
.errspan {
  float: right;
  margin-right: 6px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  color: red;
  height: 14px;
}
.inputWithIcon input[type=text]{
  padding-left: 15px;
  /* border-right: white; */
}
.inputWithIcon{
  position: relative;
}
.inputWithIcon i{
  left: -44px;
  top: 0px;
  font-size: 22px;
  padding: 10px 13px;
  color: #aaa;
  transition: .3s;
  padding: 9px 28px 8px 15px !important;
}

.inputWithIcon input[type=text]:focus + i {
  color: dodgerblue;
}
.downArrowIcon{
  position: absolute;
    left: 390px;
    top: -1px;
    padding: 9px 17px;
    color: #aaa;
    transition: .3s;
}

/* css - tejaswini */
.label_color
{
  color: #aaaaaa;
  margin-top: 6px;
  margin-left: -4px;
}
.hide_dropdown {
  display :none;
}
.box_red{
  border-color:red;
}
.box_grey{
  border-color: grey;
}
.mat-icon-button {
  width: 30px !important;
  height: 30px !important;
  margin-top: 14px;
  /* top: -42px; */
}
.mat-calendar-body-label, .mat-calendar-period-button {
  font-size: 14px;
  font-weight: 500;
  color: white !important;
}
.filter-box[_ngcontent-c5] {
  background: #ffffff;
  border-bottom: none !important;
}
.search_btn{
  width: 307px;
}
.border_white{
  border-right: 1px solid white;
}


.side_btn{
  width: 100%;
  letter-spacing: 0.5px;
  /* background-color: #ededed !important; */
  color: #0299ff !important;
  border: 2px solid #0299ff !important;
  border-radius: 6px !important;
  margin-top: 16px;
  background-color: #ededed !important;
}
.side_btn:hover{
  border: 2px solid #cecece !important;
  /* color: #ededed !important; */
}
.dropdown-toggle::after{
  font-size: 24px !important;
  margin-top: 8px !important;
}
.form-control:disabled, .form-control[readonly] {
  background-color: white;
  opacity: 1;
}
.today_txt{
  font-size: 13px;
  font-family: helvetica_regular !important;
  color: #787e83;
}
.vl{
  border-left: 6px solid green;
  height: 500px;
}

a {
	color: #0254EB
}
a:visited {
	color: #0254EB
}
a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;
}
.comment {
	width: 400px;
	background-color: #f0f0f0;
	margin: 10px;
}
.search_div{
  border-left: 1px solid #cecece;
  margin-top: -3px;
}
.add_invoice{
  margin-top: 5px;
  margin-bottom: 4px;
}
.search_btn_div{
  padding-top: 15px;
  padding-bottom: 4px;
  margin:0 auto;
}
.fa-plus:before {
  content: "\f067";
  -webkit-text-stroke: 0.3px #e0dede !important;
}

@media (min-width: 1280px)
{
  .downArrowIcon{
    position: absolute;
    left: 379px;
    top: -1px;
    padding: 9px 17px;
    color: #aaa;
    transition: .3s;
}
.search_btn{
  width: 290px;
}
}
@media (min-width: 1366px)
{
  .downArrowIcon{
    position: absolute;
    left: 386px;
    top: -1px;
    padding: 9px 17px;
    color: #aaa;
    transition: .3s;
  }
  
}

.addLabelBackroundColor{
  color: white;
  background-color: #2096f3;
  border-radius: 2px;
}
.addLabelBackroundColor:hover{
  background: #0290f0;
}
.removeaddLabelBackroundColor{
  color: #118dfa;
  background-color: #ddf1ff !important;
}
.removeaddLabelBackroundColor:hover{
  background-color: #d3eafd !important;
}

.comment {
	width: 400px;
	background-color: #f0f0f0;
	margin: 10px;
}
a {
	color: #0254EB
}
a:visited {
	color: #0254EB
}
a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;
}

.select_item_cross{
  text-align: right !important;
  padding-right: 12px !important;
  vertical-align: top !important;
  position: relative !important;
}
