@import '../../../../assets/css/form.css';

.inv-generator {
  max-height: none;
}
.create-invoice {
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
}
input, textarea {
  margin-bottom: 2px;
}
.bld {
  margin: 2px 0;
}
select {
  font-family: quicksand_book !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 800 !important;
  padding: 3px 12px !important;
}
.set-color {
  color: #2196f3 !important;
}
.add, .del {
  height: 21px;
  margin-top: 2px;
}
.del {
  background-position: -404px -214px;
  width: 20px;
}
.add-item-button {
  margin-bottom: 10px;
  margin-top: 3px;
}
.discount-tax-pad {
  padding-top: 15px;
}
.bld {
  margin: 2px 0;
}
.bld, .terms {
  font-weight: 700;
  font-size: 14px;
}
.mat-form-field-infix {
  border-top: 0 !important;
}