<div class="col-md-4 row main-wrapper" style="background-color: #ffffff !important;">
    <div class="col-12" id="main" style="background-color: #ffffff !important;">
      <div style="margin: 44px auto; max-width:1000px;" class="back">
        <form class="shadow" name="userForm" #form="ngForm">
          <div align="center" class="custom-field-form shadow formBackground">
            <div class="row" style="margin-bottom: 10px;padding: 9px 0px 7px 292px;border-bottom: 1px solid;">
              <h5 class=" form-header font-custom-bold" style="margin-top: 0px;">
               Support
              </h5>
            </div>
            <div style="padding-top: 13px;">
              <p class="noteText">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to.
              </p>
            </div>
            <div class="col-12" style="margin-bottom: 10px;">
              <div class="form-group">
                <input type="text" id="CurrPass" name="orgName" class="form-control" style="padding: 20px;margin-bottom: 25px;"
                  [(ngModel)]="orgName" onfocus="this.select()" placeholder="Name"
                />
              </div>
                <!-- <div class="form-group">
                  <input type="text" id="CurrPass" name="orgMail" class="form-control"
                    [(ngModel)]="orgMail" onfocus="this.select()" placeholder="Email"
                  />
                </div> -->
              </div>
  
            <div class="col-12" style="margin-bottom: 10px;">
              <div class="form-group">
                <textarea type="text" name="queryMessage" class="form-control mCustomScrollbar style-3"
                  placeholder="Your Query" style="margin-bottom: 25px;height: 165px !important;" onfocus="this.select()"
                  [(ngModel)] = "queryMessage"
                ></textarea>
              </div>
            </div>
            <div>
              <button type="submit" id="bankingDetailSubmit" style="width: 323px;border: none !important;"
                class="save_btn btn-raised font-weight-bold font-custom-bold" (click)="sendMail()">
                Send
              </button>
            </div>
              
              <!-- <button type="button" (click)="mailing(orgMail.value)">send Mail</button> -->
            
          </div>
        </form>
      </div>
    </div>
  </div> 
  

  <!-- Error MODAL starts -->
<div id="errormessage" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" aria-hidden="true"
data-backdrop="static" data-keyboard="false">
<div class="modal-dialog" style="max-width: 435px;margin-top: 135px;">
  <div class="modal-content" style="border: 0px solid rgba(0,0,0,.2);border-radius: 1px;">
    <div class="modal-header" style="border-bottom: 0px solid #e9ecef;">
        <img class="center" src="assets/images/connection_lost.png" alt="logo">
    </div>
    <div class="modal-body">
      <h3 class="title">Connection Lost !</h3>
      <p style="padding-left:25px;padding-right:25px">Make sure your wifi or cellular data is turned on and try again !!!</p>
    </div>
    <div class="modal-footer" style="border-top: 0px solid #e9ecef;">
      <button type="button" class="save btn save_btn btn-raised width25btn center font-weight-bold" 
      data-dismiss="modal" aria-label="Close" style="margin-top: -34px;;opacity: unset;">
        OK
      </button>
     
    </div>
  </div>
</div>
</div>
<!-- Error MODAL ends -->
