<div class="row main-wrapper">
  <div class="col-12" id="main">
    <div class="row">

      <!-- Create Invoice -->
      <div id="msgInv" class="col-md-9 item-form all-invoices inv-generator inv-gen">
        <form #invoiceGeneratorAdd="ngForm" id="invoiceGeneratorAdd" name="invoiceGenerator"
          class="create-invoice" (ngSubmit)="save(invoiceGeneratorAdd.valid)"
        >
          <div class="shadow back pad15">
            <div class="col-12 padt15">
              <div class="vtop text-right">
                <span class="c-name" type="text" id="titleAdd" name="title" *ngIf="authenticated.setting.mTvInvoice">{{authenticated.setting.mTvInvoice}}</span>
                <span class="c-name" type="text" id="titleAddelse" name="title" *ngIf="!authenticated.setting.mTvInvoice">{{'INV_LABEL' | translate}}</span>
              </div>
      
              <div class="col-12 pad0" style="margin-bottom: 25px">
                <div class="row mar0">
                  <div class="col-md-7 col-sm-7 col-xs-12 pad0" id="clientDataAdd" name="clientData">
                    <div class="row">
                      <!-- Billing To -->
                      <div class="col-md-10 col-sm-10 col-xs-10">
                        <span type="text" value="" id="billToLabelAdd" class="adr bill-to font-custom-bold">{{tempBillLabel}}</span>

                        <div class="form-group pad-left-0">
                          <input type="text" class="form-control billing-input" placeholder="Search & Select Client"
                            matInput [formControl]="billingTo" [matAutocomplete]="auto"
                          >
                          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith" (optionSelected)="selectedClientChange($event)">
                            <mat-option *ngFor="let client of filteredClients | async" [value]="client">{{client.name}}</mat-option>
                            <mat-option *ngIf="filteredClients && (filteredClients | async).length == 0" [value]="billingTo.value">Add Client {{billingTo.value}}</mat-option>
                          </mat-autocomplete>
                        </div>
                      </div>

                      <div class="col-md-2 col-sm-2 col-xs-2" style="padding-top: 30px;">
                        <span><i *ngIf="clientListLoading" class="fa fa-spinner fa-spin" style="font-size:24px;"></i></span>
                      </div>

                      <!-- Address and Shipping Address -->
                      <div id="addressBarAdd" name="addressBar" class="col-12" style="margin-bottom: 15px">
                        <div class="row mar0">
                          <div class="col-6 pad-left-0">
                            <span type="text" value="" id="BillAddressAdd" class="adr bill-to font-custom-bold">Address</span><br />
                            <div class="address-render" *ngIf="activeClient">{{activeClient.addressLine1}}<br /></div>
                            <div *ngIf="activeClient && activeClient.email">
                              Email: {{activeClient.email}}
                            </div>
                            <div *ngIf="activeClient && activeClient.number">
                              Contact No: {{activeClient.number}}
                            </div>
                          </div>
                          <div class="col-6 pad-right-0">
                            <span type="text" value="" id="shippingAddressAdd" class="adr bill-to font-custom-bold">Shipping
                              Address</span><br />
                            <div class="address-render" *ngIf="activeClient">{{activeClient.shippingAddress}}<br /></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Invoice Number and Dates -->
                  <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12 pad-right-0" id="invDataAdd">
                    <div class="row">
                      <div class="offset-md-2 col-md-4 col-sm-6 col-xs-6" style="margin-top: 5px;">
                        <span class="font-custom-bold text-left w100">Invoice#</span>
                      </div>
                      <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                        <form #invNumberForm="ngForm" name="invNumberForm">
                          <div class="form-group" [class.has-error]="(invNumberForm.submitted || invNumberForm.invoiceNumber ) && invNumberForm.invoiceNumber.$error.required">
                            <input type="text" name="invoiceNumber" id="invoiceNumber" [(ngModel)]="activeInvoice.invoice_number" class="form-control pad-right-0" required/>
                            <div class="form-error" *ngIf="invNumberForm.submitted || invNumberForm.invoiceNumber">
                              <span *ngIf="invNumberForm.invoiceNumber.error.required">Invoice No. required</span>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>

                    <div class="row">
                      <div class="offset-md-2 col-md-4 offset-lg-2 col-lg-4 col-sm-6 col-xs-6" style="margin-top: 5px;">
                        <span class="font-custom-bold text-left w100">Invoice Date</span>
                      </div>
                      <div class="col-6">
                        <div style="max-width: 100%;">
                          <div class="row mar0">
                            <input type="text" class="form-control" [formControl]="invoiceDate" matInput [matDatepicker]="picker" required readonly style="max-width: 110px;">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          </div>
                          <mat-datepicker #picker></mat-datepicker>
                        </div>
                        <div class="form-error" *ngIf="invoiceGeneratorAdd.submitted || invoiceGeneratorAdd.touched">
                          <span *ngIf="invoiceGeneratorAdd.error">Invoice date required</span>
                        </div>
                        <input type="hidden" [(ngModel)]="activeInvoice.created_date" name="createdDate"/>
                      </div>
                    </div>

                    <div class="row">
                      <div class="offset-md-2 col-md-4 col-lg-4 col-sm-6 col-xs-6" style="margin-top: 5px;">
                        <span class="font-custom-bold text-left w100">Reference</span>
                      </div>
                      <div class="col-lg-6 col-6">
                        <input type="text" name="invoiceNumber" id="referenceid"
                          [(ngModel)]="activeInvoice.reference" class="form-control pad-right-0"
                        />
                      </div>
                    </div>

                    <div class="row">
                      <div class="offset-md-2 col-md-4 col-lg-4 col-sm-6 col-xs-6" style="margin-top: 5px;">
                        <span class="font-custom-bold text-left w100">{{tempDueLabel}}</span>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 selectDueDate col-xs-6">
                        <select name="selectDueDate" id="selectDueDate" [ngModel]="selectDueDate"
                          class="form-control padr0 selectDueDate " (ngModelChange)="changeDueDate($event)"
                        >
                          <option value="no_due_date">No Due Date</option>
                          <option value="immediately">Immediately</option>
                          <option value="custom_date">Custom Date</option>
                          <option value="7_days">7 Days</option>
                          <option value="10_days">10 Days</option>
                          <option value="15_days">15 Days</option>
                          <option value="30_days">30 Days</option>
                          <option value="45_days">45 Days</option>
                          <option value="60_days">60 Days</option>
                          <option value="90_days">90 Days</option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <div style="float: right; margin-top: 3px;" *ngIf="selectDueDate !== 'no_due_date'">
                          <div class="row mar0">
                            <input type="text" name="dueDate" class="form-control" [(ngModel)]="dueDate" matInput [matDatepicker]="picker" required readonly style="max-width: 110px;">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          </div>
                          <mat-datepicker #picker></mat-datepicker>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Selected Items table -->
                <div class="lineItemDiv">
                  <table width="100%" cellpadding="0" cellspacing="0" class="column" style="table-layout: fixed">
                    <thead>
                      <tr class="hd font-custom-bold">
                        <td width="48%">
                          <input type="text" [value]="tempProLabel" id="itemDescLabelAdd"
                            class="bld w-100" style="text-align:left;" disabled
                          >
                        </td>
                        <td width="18%">
                          <input type="text" style="text-align: center" [value]="tempQtyLabel" id="itemQtyLabelAdd" class="bld w100"
                            name="quantity" disabled>
                        </td>
                        <td width="18%">
                          <input type="text" style="text-align: center" [value]="tempRateLabel" id="itemRateLabelAdd" class="bld w100 text-left"
                            name="rate" disabled>
                        </td>
                        <td width="18%">
                          <input type="text" style="text-align: center" [value]="tempAmtLabel" id="itemAmtLabelAdd" class="bld w100 text-right"
                            style="text-align:right;" name="amount" disabled>
                        </td>
                        <td style="border-bottom:none;background:#666666;border-top:none" width="3%" class="dele-icon">&nbsp;</td>
                      </tr>
                    </thead>

                    <!-- itemDescription, Qty, Rate, Amount -->
                    <tbody class="lineItems">
                      <tr class="row-item" *ngFor="let item of activeInvoice.listItems; let index = index; let last = last">
                        <td [class.no-border-last]="last">
                          <div class="form-group">
                            <div class="custom-add-product selectize-wrap">
                              <input type="text" name="product-name_{{index}}" class="form-control billing-input"
                                placeholder="Type or Select Product" matInput [formControl]="productListFormControls[index]" [matAutocomplete]="auto"
                              >
                              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith"
                                (optionSelected)="addItem(index, $event.option.value)"
                              >
                                <mat-option *ngFor="let product of (filteredProducts | async)" [value]="product">{{product.prodName}}</mat-option>
                              </mat-autocomplete>
                            </div>
                            <div class="custom-description">
                              <textarea id="descId" name="description_{{index}}" class="form-control" elastic
                                style="margin-top: 3px; padding: 1px 1px 0px 4px; min-height: 60px; max-height: 80px; height: 73px;"
                                [(ngModel)]="item.description"  placeholder="Description"
                              ></textarea>
                            </div>
                          </div>
                        </td>

                        <td style="vertical-align: initial;" [class.no-border-last]="$last">
                          <div class="form-group">
                            <input type="number" name="itemQty_{{index}}" id="qty{{$index}}" step="any" class="form-control text-right" min="0.01"
                              [(ngModel)]="item.quantity" ng-change="calculateTotal($index)" select-on-click my-enter-in>
                          </div>
                        </td>

                        <td style="vertical-align: initial;" [class.no-border-last]="$last">
                          <div class="form-group">
                            <input type="number" name="itemRate_{{index}}" step="any" class="form-control text-right" name="itemRate.1" min="0.01"
                              [(ngModel)]="item.rate" ng-change="calculateTotal($index)" select-on-click my-enter-in
                            />
                          </div>
                        </td>

                        <td style="vertical-align: initial;" [class.no-border-last]="$last">
                          <div class="form-group">
                            <input type="number" step="any" class="form-control text-right" 
                              title="Amount is calculated automatically."
                              name="itemTotal.1_{{index}}" [(ngModel)]="item.total" disabled convert-decimal
                            />
                          </div>
                        </td>
      
                        <td style="border-bottom:none;background:none;border-top:none" class="dele-icon"
                          [class.no-border-last]="$last">
                          <div style="padding-top:4px">
                            <a class="closeicon show" title="Delete Row" style="cursor:pointer;" (click)="removeItem(index)">
                              <img src="assets/images/delete16.png" class="del pull-left set-color" alt="" style="height:16px;">
                            </a>
                          </div>
                        </td>      
                      </tr>
                    </tbody>
                  </table>

                  <div class="row add-item-button">
                    <div class="col-md-6 col-xs-6 col-sm-6">
                      <button type="button" class="btnd add-line-item-button" (click)="addLineItem()">
                        <img src="assets/images/add16.png" alt="logo"
                          style="vertical-align: initial;height:10px; margin-right: 3px;"
                        >
                        Line Item
                      </button>
                    </div>

                    <!-- Taxes, adjustment, Discounts additions -->
                    <div class="col-md-6 col-xs-6 col-sm-6 discount-tax-pad font-custom-bold">
                      <div class="cursor-pointer" *ngIf="activeInvoice.discount == null && activeInvoice.percentage_flag==0">
                        <a class="inline" (click)="activeInvoice.percentage_flag=1;activeInvoice.percentage_value=0.00">
                          {{tempDisLabel}}+
                        </a>
                      </div>
                      <div class="cursor-pointer" *ngIf="activeInvoice.shipping_charges == null">
                        <a class="inline" (click)="activeInvoice.shipping_charges = 0">{{tempShippingLabel}}+</a>
                      </div>
                      <div class="cursor-pointer" *ngIf="activeInvoice.tax_on_item == 2">
                        <a class="inline" (click)="activeInvoice.tax_on_item=1">Tax+</a>
                      </div>
                      <div class="cursor-pointer" *ngIf="activeInvoice.adjustment == null">
                        <a class="inline" (click)="activeInvoice.adjustment = 0">{{tempAdjLabel}}+</a>
                      </div>
                      <!-- <div class="inline" *ngFor="let tax of authenticated.setting.alstTaxName">
                        <div *ngIf="showMultipleTax && multiTaxButtonForAddInvoice(tax.taxName,$index)">
                          <a (click)="showMeMultipleTax($index);">{{tax.taxName}}+</a>
                        </div>
                      </div> -->
                    </div>
                  </div>

                  <div class="row mar0">
                    <!--Term and Condition -->
                    <div class="col-6 pad-left-0">
                      <div class="col-md-12 col-xs-12 col-md-12 term-cond-label font-custom-bold" style="text-align: left">
                        <span class="bld">{{tempTermLabel}}</span>
                        <a (click)="addTerm(true)" class="pull-right" title="add term" data-toggle="tooltip" data-placement="top"
                          data-original-title="Add " title="Add Term"
                        >
                          <img src="assets/images/add16.png" alt="logo" style="vertical-align: initial;height:10px; margin-right: 3px;">
                          Add Terms
                        </a>
                      </div>
        
                      <div class="col-md-12 col-xs-12 col-md-12 pad0">
                        <div class="form-group">
                          <div *ngFor="let term of activeInvoice.termsAndConditions" class="row mar0">
                            <div class="term-text-align col-md-10 col-xs-8 col-sm-8 pad-right-0">
                              {{term.terms}}
                            </div>
                            <div class="col-md-2 ml-auto" (click)="addRemoveTermsFromInvoice(term)" style="cursor:pointer;">
                              <a class="closeicon show float-right">
                                <img src="assets/images/delete16.png" class="del set-color" alt="" style="height:16px;">
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
        
                    <div class="col-12 col-md-6 pad-right-0">
                      <!-- Total -->
                      <div class="col-12 term-cond-label" style="margin-bottom: 5px;">
                        <div class="row mar0">
                          <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6 text-left">
                            <span class="font-custom-bold">{{tempSubToLabel}}</span>
                          </div>
                          <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6 text-right">
                            <span class="font-custom-bold">{{activeInvoice.gross_amount}}</span>
                          </div>
                        </div>
                      </div>

                      <!-- Discounts -->
                      <div class="col-12 pad-right-0 margin-bottom-5px" *ngIf="activeInvoice.discount !== null || activeInvoice.percentage_flag == 1">
                        <div class="row">                        
                          <div class="col-5 discount-tax-label pad-right-0">
                            <span style="text-align: left;vertical-align: bottom;" class="inline">{{tempDisLabel}}</span>
                            <div *ngIf="activeInvoice.percentage_flag == 0" class="inline font-custom">({{currencySymbolTemp }})</div>
                            <div *ngIf="activeInvoice.percentage_flag == 1" class="inline font-custom">(%)</div>
        
                            <div class="pad0" style="float: right; padding-right: 10px;">
                              <div style="cursor: pointer;" class="dropdown-toggle custom-dropdown " 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                              >
                                <span class="glyphicon glyphicon-menu-down"
                                  style="font-size: 14px;vertical-align: middle;" title="Discount"
                                ></span>
                              </div>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li [class.active]="activeInvoice.percentage_flag == 0">
                                  <a (click)="activeInvoice.percentage_flag = 0;activeInvoice.discount=0.00;calculateInvoice(1)">
                                    Flat ({{currencySymbolTemp}})
                                  </a>
                                </li>
                                <li [class.active]="activeInvoice.percentage_flag == 1">
                                  <a (click)="activeInvoice.discount=null;activeInvoice.percentage_flag=1;calculateInvoice(1)">
                                    Percent (%)
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
    
                          <div class="col-6 pad-right-0">
                            <form #form_discount="ngForm" name="form_discount">
                              <div class="input-group addon-input">
                                <div *ngIf="activeInvoice.percentage_flag == 1">
                                  <input type="number" id="percentage_input" name="percentage_input" min="0.00" max="100"
                                    step="any" class="form-control"
                                    [(ngModel)]="activeInvoice.percentage_value" (change)="calculateInvoice(1)"
                                  />
                                </div>
    
                                <div *ngIf="activeInvoice.percentage_flag == 0">
                                  <input type="number" id="discount_input" name="discount_input" step="any"
                                    min="0.00" [max]="activeInvoice.gross_amount" class="form-control"
                                    required [(ngModel)]="activeInvoice.discount"
                                    (change)="calculateInvoice(1)"
                                  />
                                </div>
                              </div>
                            </form>
    
                            <!-- <div class="form-error" *ngIf="!activeInvoice.percentage_flag == 0 ">
                              <span *ngIf="form_discount.controls.percentage_input">Not more than 100</span>
                            </div>
                            <div class="form-error">
                              <span *ngIf="form_discount.controls.discount_input">Not more than Total</span>
                            </div> -->
                          </div>

                          <div class="col-1 pad0">
                            <div class="remove-button">
                              <div class="addon selectorpad-right-0"
                                (click)="activeInvoice.discount=null;
                                  activeInvoice.percentage_flag=0;
                                  activeInvoice.percentage_value=0;
                                  calculateInvoice()
                                "
                              >
                                <img src="assets/images/delete16.png" alt="" style="height:16px;">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Tax -->
                      <div class="col-12 pad-right-0 margin-bottom-5px" *ngIf="activeInvoice.tax_on_item != 2">
                        <div class="row">
                          <div class="col-4 discount-tax-label pad-right-0">
                            <div class="d-inline font-custom" style="text-align: left;vertical-align: bottom;">Tax</div>
                            <div class="d-inline font-custom">(%)</div>
                          </div>
  
                          <div class="col-8 pad-left-0">
                            <form #form_tax_input="ngForm" name="form_tax_input">
                              <div class="input-group pad-right-0">
                                <input type="number" id="tax_input" name="tax_input" class="form-control"
                                  step="any"min="0.00" max="100" required
                                  [(ngModel)]="activeInvoice.tax_rate" (change)="calculateInvoice(1)"
                                />
                                <!-- <div class="input-group-addon addon-right">%</div>-->
                                <div class="input-group-addon pad-right-0 remove-button">
                                  <div class="addon selectorpadr0" (click)="activeInvoice.tax_on_item = 2;calculateInvoice()">
                                    <img src="assets/images/delete16.png" style="height:16px;">
                                  </div>
                                </div>
                              </div>
                            </form>
  
                            <!-- <div class="form-error">
                              <span *ngIf="form_tax_input.tax_input.$error.max">Not more than 100</span>
                            </div>      -->
                          </div>
                        </div>
                      </div>
  
                      <!-- Tax List -->
                      <div *ngFor="let tax of activeInvoice.taxList" class="col-12 pad-right-0 margin-bottom-5px">
                        <div class="col-4 discount-tax-label">
                          <div class="row">
                            <div class="inline font-custom" style="text-align: left;vertical-align: bottom;">{{tax.taxName}}</div>
                            <div class="inline font-custom">(%)</div>
                          </div>
                        </div>
        
                        <div class="col-8 pad-right-0">
                          <form #form_tax_input="ngForm" name="form_tax_input">
                            <div class="input-group pad-right-0">
                              <input class="form-control" name="tax_input" id="tax_input_list" min="0.00" type="number" step="any"
                                max="100" tabindex="1005" ng-required="ngRequired" [(ngModel)]="tax.percentage" [value]="tax.percentage"
                                ng-change="calculateInvoice(1)" select-on-click my-enter-in disable-enter
                              />
        
                              <!--<div class="input-group-addon ">%</div>-->
                              <div class="input-group-addon pad-right-0 remove-button">
                                <div class="addon selectorpadr0" (click)="hideMeTaxMultiple($index);">
                                  <img src="assets/images/delete16.png" alt="" style="height:16px;">
                                </div>
                              </div>
                            </div>
                            <!--<input type="text" [(ngModel)]="data.invoice.taxList[$index].taxName" [value]="{{tax.taxName}}"/>-->
                          </form>
  
                          <div class="form-error">
                            <span *ngIf="form_tax_input.tax_input.$error.max">Not more than 100</span>
                          </div>
                        </div>
                      </div>

                      <!-- Shipping -->
                      <div class="col-12 pad-right-0 margin-bottom-5px" *ngIf="activeInvoice.shipping_charges !== null">
                        <div class="row">
                          <div class="col-5 discount-tax-label">
                            <div class="inline" style="text-align: left;vertical-align: bottom;">{{tempShippingLabel}} (+)</div>
                          </div>
    
                          <div class="col-7">
                            <form #form_shipping_input="ngForm" name="form_shipping_input">
                              <div class="input-group pad-right-0">
                                <input type="number" name="shipping_input" class="form-control"
                                  step="any" min="0.00" [max]="activeInvoice.gross_amount" required
                                  [(ngModel)]="activeInvoice.shipping_charges" (change)="calculateInvoice(1)"
                                />
                                <div class="pad-right-0 remove-button">
                                  <div class="addon selectorpadr0" (click)="activeInvoice.shipping_charges = null;calculateInvoice()">
                                    <img src="assets/images/delete16.png" alt="" style="height:16px;">
                                  </div>
                                </div>
                              </div>
                            </form>
    
                            <!-- <div class="form-error">
                              <span *ngIf="form_shipping_input.shipping_input.$error.max">Not more than 100</span>
                            </div> -->
                          </div>
                        </div>
                      </div>

                      <!-- Adjustment -->
                      <div class="col-12 pad-right-0 margin-bottom-5px" *ngIf="activeInvoice.adjustment != null">
                        <div class="row">
                          <div class="col-4 discount-tax-label pad-right-0">
                            <div style="text-align: left;vertical-align: bottom;">{{tempAdjLabel}} (-)</div>
                          </div>
    
                          <div class="col-8 pad-left-0">
                            <form #form_tax_input="ngForm" name="form_tax_input">
                              <div class="input-group pad-right-0">
                                <input type="number" name="tax_input" class="form-control"
                                  step="any" required
                                  [(ngModel)]="activeInvoice.adjustment" (change)="calculateInvoice(1)"
                                />
                                <!-- <div class="input-group-addon set-color">%</div>-->
                                <div class="input-group-addon pad-right-0 remove-button">
                                  <div class="addon selectorpadr0" (click)="activeInvoice.adjustment = null; calculateInvoice()">
                                    <img src="assets/images/delete16.png" style="height:16px;">
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>

                      <!-- Grand Total -->
                      <div class="col-12 col-lg-12 term-cond-label ">
                        <div class="row mar0">
                          <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6 text-left">
                            <span class="font-custom-bold" value="">{{tempTotalLabel}}</span>
                          </div>
          
                          <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6 text-right">
                            <span class="font-custom-bold">{{activeInvoice.amount|currency:number}}</span>      
                          </div>
                        </div>
                      </div>
  
                      <div class="col-12 pad0 margin-top-20">
                        <button id="invSubmitBtn" type="submit" class="btn btn-success btn-raised width25btn pull-right font-weight-bold"
                          [disabled]="activeInvoice.listItems.length == 0" data-loading-text="Saving..<i class='fa fa-spinner fa-spin '></i>"
                        >
                          SAVE
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- ADD CLIENT MODAL -->
<div id="add-client" class="modal fade" role="dialog" aria-labelledby="clientFormLabel" 
  aria-hidden="true" data-backdrop="static" data-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title form-header font-custom-bold header-color" id="clientFormLabel">
          Add New Client
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="assets/images/cross16.png" alt="logo">
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal add-client-form" name="clientform" #clientform="ngForm">
          <div class="col-12">
            <div class="row">
              <div class="col-6" style="padding-right: 23px;">
                <div class="form-group" [class.has-error]="(clientform.submitted && clientform.errors)">
                  <input type="text" name="name" class="form-control add-client-input-custom"
                    [(ngModel)]="addClientModal.name" placeholder="Organization Name" required
                  />
                  <div class="form-error" *ngIf="(clientform.submitted && clientform.errors)">
                    <span *ngIf="clientform.name.$error.required">Required</span>
                    <span *ngIf="errors">{{ errors.name[0] }}</span>
                  </div>
                </div>
              </div>
  
              <div class="col-6" style="padding-left: 23px;">
                <div class="form-group " [class.has-error]="(clientform.submitted && clientform.errors)">
                  <input type="text" name="contactPersonName" class="form-control add-client-input-custom"
                    [(ngModel)]="addClientModal.contactPersonName" placeholder="Contact Person"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-6" style="padding-right: 23px;">
                <div class="form-group " [class.has-error]="(clientform.submitted && clientform.errors)">
                  <input type="text" [(ngModel)]="addClientModal.email" name="email" class="form-control add-client-input-custom"
                    placeholder="Email" my-enter-in select-on-click
                  />
                </div>
              </div>
              <div class="col-6" style="padding-left: 23px;">
                <div class="form-group" [class.has-error]="(clientform.submitted && clientform.errors)">
                  <input type="text" [(ngModel)]="addClientModal.number" name="cont_number" class="form-control add-client-input-custom"
                    placeholder="Number" my-enter-in select-on-click
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group add-client-input-width" style="padding-right: 12px;"
              [class.has-error]="(clientform.submitted && clientform.errors)"
            >
              <textarea elastic [(ngModel)]="addClientModal.addressLine1" name="addressLine1"
                class="form-control" placeholder="Address" select-on-click style="max-height: 69px; height: 69px;"
              ></textarea>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group add-client-input-width" style="padding-right: 12px;"
              [class.has-error]="(clientform.submitted && clientform.errors)"
            >
              <textarea elastic [(ngModel)]="addClientModal.shippingAddress" name="shippingAddress" class="form-control"
                placeholder="Shipping Address" select-on-click style="max-height: 69px; height: 69px;"
              ></textarea>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group add-client-input-width">
              <input type="text" [(ngModel)]="addClientModal.businessId" name="businessId" class="form-control add-client-input-custom"
                placeholder="Business Id " select-on-click
              />
            </div>
          </div>

          <div class="col-12">
            <div class="form-group add-client-input-width">
              <input type="text" [(ngModel)]="addClientModal.businessDetail" name="businessDetail" class="form-control add-client-input-custom"
                placeholder="Business Detail" my-enter-in select-on-click
              />
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-raised btn-custom-1 width20btn" data-dismiss="modal">
          Close
        </button>
        <button type="button" id="saveClientButton" class="btn  btn-raised  btn-success width20btn" data-loading-text="Saving..<i class='fa fa-spinner fa-spin '></i>"
          [disabled]="!clientform.valid" (click)="saveClient(clientform.valid)"
        >
          Add Client
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Add Terms Modal -->
<div id="add-terms" class="modal fade" tabindex="-1" role="dialog" 
  aria-labelledby="gridSystemModalLabel" data-backdrop="static" data-keyboard="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title form-header header-color font-custom-bold" id="addPaymentLabel">
          Add Terms & Condition
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="assets/images/cross16.png" alt="logo">
        </button>
      </div>

      <div class="modal-body">
        <form name="termForm" #termForm="ngForm">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <textarea name="term" class="form-control" [(ngModel)]="addTermModal.terms"
                  placeholder="Add term & Condition" style="height: 110px;" required elastic
                ></textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="checkbox pull-left">
                <input type="checkbox" id="addtermcheck" name="setDefault"
                  [(ngModel)]="addTermModal.setDefault"
                  class="ng-pristine ng-valid ng-touched modal-checkbox"
                >
                <!-- <label class="inline" for="addtermcheck"></label> -->
                <div class="inline">Default?</div>
              </div>
              <button type="button" id="addtermbtn" name="addtermbtn" title="save"
                class="btn btnd btn-success btn-raised pull-right width10btn fontsize12 font-custom-bold"
                [disabled]="!termForm.valid" (click)="saveTerm(termForm.valid)"
              >
                SAVE
              </button>
            </div>
          </div>
        </form>

        <div class="col-12" style="padding: 20px 24px 20px 15px">
          <div class="col-12 mCustomScrollbar">
            <div class="item termlist row product-list" *ngFor="let term of termList | async; let index = index" id="term1{{index}}"
              [class.selected]="selectedTerm == index"
            >
              <div class="col-12 pad0">
                <div class="row">
                  <div class="col-md-1 pad0">
                    <input type="checkbox" id="termcheck{{index}}" name="term"
                      (change)="addRemoveTermsFromInvoice(term)"
                      [checked]="isTermInInvoice(term)"
                    />
                    <!-- <label class="" for="termcheck{{$index}}"></label> -->
                  </div>
                  <div class="col-md-9 pad-left-0">
                    <span style="vertical-align: top;"> {{term.terms}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-terms-edit" aria-labelledby="gridSystemModalLabel"
  tabindex="-1" role="dialog"data-backdrop="static" data-keyboard="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" ng-init="addButton = 0">
        <a class="pull-right" (click)="closeEdit()" style="margin-top: 6px;">
          <img src="assets/images/cross16.png" alt="logo">
        </a>
        <h4 class="modal-title form-header header-color font-custom-bold" id="addPaymentLabelEdit">
          Add Terms & Condition
        </h4>
      </div>
      <div class="modal-body">
        <form #termForm="ngForm" name="termForm">
          <div class="col-12">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <div class="form-group">
                <!-- <textarea elastic [(ngModel)]="termCondition.terms" name="term" class="form-control" class="form-control"
                  placeholder="Add term & Condition" style="width: 95%;height: 110px;" required
                ></textarea> -->
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <div class="checkbox pull-left">
                <!-- <input type="checkbox" [(ngModel)]="termCondition.set_default" name="set_default" id="addtermcheckEdit"
                  ng-true-value="'DEFAULT'" ng-false-value="''" ng-checked="termCondition.set_default == 'DEFAULT'"
                  class="ng-pristine ng-valid ng-touched modal-checkbox"
                > -->
                <label class="inline" for="addtermcheck"></label>
                <div class="inline">Default?</div>
              </div>
              <!-- <button type="button" class="btn btnd btn-success btn-raised pull-right width10btn fontsize12 font-custom-bold"
                [disabled]="!termForm.valid" (click)="saveTermEdit(termCondition, termForm.valid)" title="save">SAVE
              </button> -->
            </div>
          </div>
        </form>

        <div class="col-12" style="padding: 20px 24px 20px 15px">
          <div class="col-12 mCustomScrollbar">
            <div class="item termlist row product-list" *ngFor="let term of terms_edit | filterBy:{ enabled : 0}" id="term1Edit{{$index}}"
              ng-init="term.setDefault == 'DEFAULT' ? editdata.terms[$index] = true : editdata.terms[$index] = false "
              [class.selected]="selectedTerm == $index"
            >
              <div class="col-12 pad0">
                <div class="col-12 pad0 ">
                  <div class="col-md-1 pad0">
                    <!--ng-init="term.setDefault == 'DEFAULT' ? data.terms[$index] = term.uniqueKeyTerms : data.terms[$index] = '' "-->
                    <input type="checkbox" id="termcheckEdit{{$index}}" ng-false-value="false"
                      [(ngModel)]="editdata.terms[$index]" ng-true-value="true"  ng-change="setTermsListEdit(term)"
                    />
                    <label class="" for="termcheckEdit{{$index}}"></label>
                  </div>
                  <div class="col-md-10 pad-left-0">
                    <span style="vertical-align: top;"> {{term.terms}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>